{% extends "requirements/base_requirements.html" %}
{% block cuerpo %}
<h3>Requerimientos</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.requirements.add_requirement %}
        <a href="{% url 'requirements:requirement_create' %}" class="btn btn-primary"> Crear</a>
        {% endif %}
        {% if perms.requirements.cargar_requerimientos %}
        <a href="#" class="btn btn-default">
            Importar </a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            {% if perms.requirements.ver_reporte_requerimientos_excel %}
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'requirements:requirement_excel_report' %}';">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-4">
        <form id="list-search" class="form-inline"
              hx-get="{{ request.path }}" hx-target="#list-results"
              hx-trigger="submit, keyup from:input changed delay:300ms">
            <div class="input-group">
                <input type="text" name="q" class="form-control"
                       placeholder="Buscar por código u oficina"
                       value="{{ request.GET.q|default:'' }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<br/>
<div id="list-results">
    {% include "requirements/includes/requirement_rows.html" %}
</div>
{% endblock cuerpo %}
