{% extends "base.html" %}
{% block menu_items %}
            <li>
                <a href="#"><i class="bi bi-wrench fs-5"></i> Configuración<i class="bi bi-chevron-down sidebar-arrow ms-auto"></i></a>
                <ul class="nav-second-level">
                    {% if perms.accounting.add_configuration %}
                    <li><a href="{% url 'accounting:configuration' %}">Configuración</a></li>
                    {% endif %}
                    {% if perms.accounting.ver_tabla_cuentas_contables %}
                    <li><a href="{% url 'accounting:account_list' %}">Cuentas Contables</a></li>
                    {% endif %}
                    {% if perms.accounting.ver_tabla_formas_pago %}
                    <li><a href="{% url 'accounting:payment_method_list' %}">Formas de Pago</a></li>
                    {% endif %}
                    {% if perms.accounting.ver_tabla_impuestos %}
                    <li><a href="{% url 'accounting:tax_list' %}">Impuestos</a></li>
                    {% endif %}
                    {% if perms.accounting.ver_tabla_tipos_cambio %}
                    <li><a href="{% url 'accounting:exchange_rate_list' %}">Tipos de Cambio</a></li>
                    {% endif %}
                    {% if perms.accounting.ver_tabla_tipos_existencias %}
                    <li><a href="{% url 'accounting:stock_type_list' %}">Tipos de Existencias</a></li>
                    {% endif %}
                    {% if perms.accounting.ver_tabla_tipos_documentos %}
                    <li><a href="{% url 'accounting:document_type_list' %}">Tipos de Documentos</a></li>
                    {% endif %}

                </ul>
            </li>
{% endblock menu_items %}
