{% extends "accounting/base_accounting.html" %}
{% block cuerpo %}
<h3>Tipos de Documento / {{ object.description }}</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.accounting.change_documenttype %}
        <a class="btn btn-primary" href="{% url 'accounting:document_type_update' object.pk %}">
            Editar
        </a>
        {% endif %}
        {% if perms.accounting.delete_documenttype %}
        <button class="btn btn-danger" type="button" id="id_eliminar">
            Eliminar
        </button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-end">
        <div class="btn-group">
            <button class="btn btn-secondary" type="button"
                    onclick="location.href='{% url 'accounting:document_type_detail' object.previous %}';">
                <span class="bi bi-chevron-double-left"></span>
            </button>
            <button class="btn btn-secondary" type="button"
                    onclick="location.href='{% url 'accounting:document_type_detail' object.next %}';">
                <span class="bi bi-chevron-double-right"></span>
            </button>
            <button class="btn btn-secondary" type="button"
                    onclick="location.href='{% url 'accounting:document_type_list' %}';">
                <span class="bi bi-list-ul"></span>
            </button>
        </div>
    </div>
</div>
<hr/>
<div id="dialog-confirm" title="Eliminar Tipo de Documento"></div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-7">
                <h3>{{ object.description }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group">

                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Información General</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade show active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>CÓDIGO SUNAT:</label>
                        <p>{{ object.sunat_code }}</p>
                        <label>NOMBRE: </label>
                        <p>{{ object.name }}</p>
                    </div>
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label>
                        {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>

    document.getElementById('id_eliminar').addEventListener('click', function (e) {
        e.preventDefault();
        confirmDelete("{% url 'accounting:document_type_delete' %}", {'id': "{{ object.pk }}"}, function (data) {
            if (data.relaciones == 'NO') {
                alert("Tipo de Documento " + data.name + " eliminado");
                window.location.href = "{% url 'accounting:document_type_list' %}";
            } else if (data.relaciones == 'SI') {
                alert("Tipo de Documento " + data.name + " no puede eliminarse");
            }
        });
    });
</script>
{% endblock js %}