{% extends "accounting/base_accounting.html" %}
{% block cuerpo %}
{% if object %}
<h1 class="page-title mb-3">Tipos de Cambio / {{ object.date }}</h1>
{% else %}
<h1 class="page-title mb-3">Tipos de Cambio / Nuevo</h1>
{% endif %}
<form role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-outline-secondary"
                    onclick="location.href='{% url 'accounting:exchange_rate_detail' object.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-outline-secondary"
                    onclick="location.href='{% url 'accounting:exchange_rate_list' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-end">
            {% include "includes/record_nav.html" with detail_name='accounting:exchange_rate_update' list_name='accounting:exchange_rate_list' prev=object.previous next=object.next %}
        </div>
    </div>
    <hr/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2">
                    <label>Fecha:</label>
                    {% if form.date.errors %}
                    {% for error in form.date.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <h3>{{ form.date }}</h3>
                </div>
                <div class="col-lg-5">
                    <div class="btn-group"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <label>Monto:</label>
                    {% if form.amount.errors %}
                    {% for error in form.amount.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <p>{{ form.amount }}</p>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>

</script>
{% endblock js %}
