{% extends "accounting/base_accounting.html" %}
{% block cuerpo %}
<h3>Tipos de Cambio / {{ object.date }}</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.accounting.change_exchangerate %}
        <a class="btn btn-primary" href="{% url 'accounting:exchange_rate_update' object.pk %}">
            Editar
        </a>
        {% endif %}
        {% if perms.accounting.delete_exchangerate %}
        <button class="btn btn-danger" type="button" id="id_eliminar">
            Eliminar
        </button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'accounting:exchange_rate_detail' object.previous %}';">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'accounting:exchange_rate_detail' object.next %}';">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'accounting:exchange_rate_list' %}';">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </div>
</div>
<hr/>
<div id="dialog-confirm" title="Eliminar Tipo de Cambio"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-7">
                <h3>{{ object.description }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group">

                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Información General</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>FECHA:</label>
                        <p>{{ object.date|date:"d/m/Y" }}</p>
                        <label>MONTO: </label>
                        <p>{{ object.amount }}</p>
                    </div>
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	
});

</script>
{% endblock js %}