{% extends "accounting/base_accounting.html" %}
{% block cuerpo %}
<h3>Formas de Pago</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.accounting.add_paymentmethod %}
        <a href="{% url 'accounting:payment_method_create' %}" class="btn btn-primary">
            Crear
        </a>
        {% endif %}
        {% if perms.accounting.cargar_formas_pago %}
        <a href="#" class="btn btn-default">
            Importar
        </a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            {% if perms.accounting.ver_reporte_formas_pago_excel %}
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'accounting:payment_method_excel_report' %}';">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-4">
        <form id="list-search" class="form-inline"
              hx-get="{{ request.path }}" hx-target="#list-results"
              hx-trigger="submit, keyup from:input changed delay:300ms">
            <div class="input-group">
                <input type="text" name="q" class="form-control"
                       placeholder="Buscar por código o descripción"
                       value="{{ request.GET.q|default:'' }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<br/>
<div id="list-results">
    {% include "accounting/includes/payment_method_rows.html" %}
</div>
{% endblock cuerpo %}
