{% extends "accounting/base_accounting.html" %} {% block cuerpo %}
<h3>Formas de Pago / {{ object.description }}</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.accounting.change_paymentmethod %} <a class="btn btn-primary"
                                                         href="{% url 'accounting:payment_method_update' object.pk %}">
        Editar
    </a> {% endif %} {% if perms.accounting.delete_paymentmethod %}
        <button class="btn btn-danger" type="button" id="id_eliminar">
            Eliminar
        </button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'accounting:payment_method_detail' object.previous %}';">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'accounting:payment_method_detail' object.next %}';">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'accounting:payment_method_list' %}';">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </div>
</div>
<hr/>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-7">
                <h3>{{ object.description }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group"></div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Información
                General</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>CODIGO:</label>
                        <p>{{ object.code }}</p>
                        <label>DIAS CREDITO: </label>
                        <p>{{ object.credit_days }}</p>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label> {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %} {% block js %}
<script>
$(document).ready(function () {
    $('#id_eliminar').click(function (e) {
        e.preventDefault();
        confirmDelete("{% url 'accounting:payment_method_delete' %}", {'code': "{{ object.pk }}"}, function (data) {
            if (data.relaciones == 'NO') {
            alert("Forma de Pago " + data.description + " eliminada");
            } else if (data.relaciones == 'SI') {
            alert("Forma de Pago " + data.description + " no puede eliminarse");
            }
            
        });
    });
});
</script>
{% endblock js %}
