{% extends "accounting/base_accounting.html" %}
{% block cuerpo %}
<h3>Tipos de Existencias</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.accounting.cargar_tipos_existencias %}
        <a href="{% url 'accounting:stock_type_import' %}" class="btn btn-default">
            Importar
        </a>
        {% endif %}
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <table id="table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="text-center">COD_SUNAT</th>
                <th class="text-center">NOMBRE</th>
            </tr>
            </thead>
            <tbody>
            {% for type in tipos_existencias %}
            <tr>
                <td>{{ type.sunat_code }}</td>
                <td>{{ type.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function()
{
    var borrarSeleccionado;
    var table = $('#table').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );

    $('#tabla tr').hover(function()
	{
		$(this).css("cursor","pointer");
	});

    $(document).on("click",".eliminar",function()
	{
		borrarSeleccionado = $(this);
		ventana = $( "#dialog-confirm" ).dialog({
		  resizable: false,
		  height:140,
		  modal: true,
		  buttons:
		  {
			"Borrar": borrarTipoDocumento,
		    "Cancelar": cerrarBorrarTipoDocumento
		  }
		});
	});

    function borrarTipoDocumento()
	{
    	var id_boton= $(borrarSeleccionado).prop('id');
    	var id = id_boton.replace("elim_","");
    	$.ajax({
    		data : {'id': id},
    		url : "{% url 'accounting:document_type_delete' %}",
    		type : 'post',
    		success : function(data)
    		{
    			if(data.relaciones=='NO')
	   			{
	   				alert("Tipo de Documento "+data.name+ " eliminado");
	   				table.row('.selected').remove().draw(false);
	   			}
	   			else if(data.relaciones=='SI')
	   			{
	   				alert("Producto "+data.name+" no puede eliminarse");
	   			}
    		}
    	});
		ventana.dialog("close");
	}

    function cerrarBorrarTipoDocumento()
	{
		ventana.dialog("close");
	}

});

</script>
{% endblock js %}