{% extends "accounting/base_accounting.html" %}
{% block cuerpo %}
<h3>Tipos de Existencias</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.accounting.cargar_tipos_existencias %}
        <a href="{% url 'accounting:stock_type_import' %}" class="btn btn-default">
            Importar
        </a>
        {% endif %}
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-4">
        <form id="list-search" class="form-inline"
              hx-get="{{ request.path }}" hx-target="#list-results"
              hx-trigger="submit, keyup from:input changed delay:300ms">
            <div class="input-group">
                <input type="text" name="q" class="form-control"
                       placeholder="Buscar por código o nombre"
                       value="{{ request.GET.q|default:'' }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<br/>
<div id="list-results">
    {% include "accounting/includes/stock_type_rows.html" %}
</div>
{% endblock cuerpo %}
