{% extends "accounting/base_accounting.html" %}
{% block cuerpo %}
<h1 class="page-title mb-3">Impuesto / {{ object.description }}</h1>
<div class="row">
    <div class="col-lg-10">
        {% if perms.accounting.change_tax %}
        <a class="btn btn-primary" href="{% url 'accounting:tax_update' object.pk %}">
            Editar
        </a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-end">
        {% include "includes/record_nav.html" with detail_name='accounting:tax_detail' list_name='accounting:tax_list' prev=object.previous next=object.next %}
    </div>
</div>
<hr/>
<div class="card">
    <div class="card-body detail-list">
        <div class="row">
            <div class="col-lg-7">
                <h3>{{ object.description }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group">

                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Información General</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade show active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>ABREVIATURA:</label>
                        <p>{{ object.abbreviation }}</p>
                        <label>MONTO: </label>
                        <p>{{ object.amount }}</p>
                        <label>FECHA INICIO: </label>
                        <p>{{ object.start_date|date:"d/m/y" }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA FIN:</label>
                        {% if object.end_date %}
                        <p>{{ object.end_date|date:"d/m/y" }}</p>
                        {% else %}
                        <p>--</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label>
                        {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock cuerpo %}