{% extends "accounting/base_accounting.html" %}
{% block cuerpo %}
<h3>Impuestos</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.accounting.add_tax %}
        <a href="{% url 'accounting:tax_create' %}" class="btn btn-primary">Crear</a>
        {% endif %}
        {% if perms.accounting.cargar_impuestos %}
        <a href="#" class="btn btn-default">Importar</a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            {% if perms.accounting.ver_reporte_impuestos_excel %}
            <button class="btn btn-default" type="button" onclick="location.href='#';">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <table id="table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="text-center">ABREVIATURA</th>
                <th class="text-center">DESCRIPCION</th>
                <th class="text-center">MONTO</th>
            </tr>
            </thead>
            <tbody>
            {% for tax in taxes %}
            {% if perms.accounting.ver_detalle_impuesto %}
            <tr onclick="location.href='{% url 'accounting:tax_detail' tax.pk %}';">
                {% else %}
            <tr>
                {% endif %}
                <td>{{ tax.abbreviation }}</td>
                <td>{{ tax.description }}</td>
                <td>{{ tax.amount }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>

$(document).ready(function() 
{	
    var table = $('#table').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});
    
});

</script>
{% endblock js %}