{% extends "contabilidad/base_accounting.html" %}
{% block cuerpo %}
{% if object %}
<h3>Cuentas Contables / {{ object.description }}</h3>
{% else %}
<h3>Cuentas Contables / Nuevo</h3>
{% endif %}
<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'contabilidad:account_detail' object.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'contabilidad:account_list' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-right">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'contabilidad:account_update' object.previous %}';">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'contabilidad:account_update' object.next %}';">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                {% endif %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'contabilidad:account_list' %}';">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-7">
                    <label>Descripción:</label>
                    {% if form.description.errors %}
                    {% for error in form.description.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <h3>{{ form.description }}</h3>
                    <p>ES DIVISIONARIA: {{ form.is_divisional }}</p>
                </div>
                <div class="col-lg-5">
                    <div class="btn-group"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>CUENTA:</label>
                    {% if form.account_number.errors %}
                    {% for error in form.account_number.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <p>{{ form.account_number }}</p>
                    <label>DEPRECIACIÓN: </label>
                    {% if form.depreciation.errors %}
                    {% for error in form.depreciation.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <p>{{ form.depreciation }}</p>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %} {% block js %}
<script>
	$(document).ready(function() {

	});

</script>
{% endblock js %}
