{% extends "contabilidad/base_accounting.html" %}
{% block cuerpo %}
<h3>Cuentas Contables</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.contabilidad.add_account %}
        <a href="{% url 'contabilidad:account_create' %}" class="btn btn-primary">Crear</a>
        {% endif %}
        {% if perms.contabilidad.cargar_cuentas_contables %}
        <a href="{% url 'contabilidad:account_import' %}" class="btn btn-default">Importar</a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            {% if perms.contabilidad.ver_reporte_cuentas_contables_excel %}
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'contabilidad:account_excel_report' %}';">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <table id="table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="text-center">CUENTA</th>
                <th class="text-center" width="500">DESCRIPCION</th>
            </tr>
            </thead>
            <tbody>
            {% for account in chart_of_accounts %}
            {% if perms.contabilidad.ver_detalle_cuenta_contable %}
            <tr onclick="location.href='{% url 'contabilidad:account_detail' account.pk %}';">
                {% else %}
            <tr>
                {% endif %}
                <td>{{ account.account_number }}</td>
                <td>{{ account.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>

$(document).ready(function() 
{	
    var table = $('#table').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});
    
});

</script>
{% endblock js %}