{% extends "contabilidad/base_contabilidad.html" %}
{% block cuerpo %}
<br>
<form role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Aplicar">
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Impuestos</h3>
            <div class="row">
                <div class="col-lg-4">
                    <label>Tax para Compras:</label>
                    <h3>{{ form.purchase_tax }}</h3>
                    <label>Office de Operaciones:</label>
                    <h3>{{ form.operaciones }}</h3>
                    <label>Office de Administración:</label>
                    <h3>{{ form.administracion }}</h3>
                    <label>Office de Presupuesto:</label>
                    <h3>{{ form.presupuesto }}</h3>
                    <label>Office de Logistica:</label>
                    <h3>{{ form.logistica }}</h3>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>

</script>
{% endblock js %}