{% extends "contabilidad/base_contabilidad.html" %}
{% block cuerpo %}
<h3>Cuentas Contables / {{ object.descripcion }}</h3>
<div class="row">
	<div class="col-lg-10">	
		{% if perms.contabilidad.change_cuentacontable %}
		<a class="btn btn-primary" href="{% url 'contabilidad:modificar_cuenta_contable' object.pk %}">
		    Editar
		</a>
		{% endif %}
		{% if perms.contabilidad.delete_producto %}
		    <button class="btn btn-danger" type="button" id="id_eliminar">
		        Eliminar
		    </button>
	    {% endif %}
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'contabilidad:detalle_cuenta_contable' object.anterior %}';">
	       		<span class="glyphicon glyphicon-step-backward"></span>
	        </button>
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'contabilidad:detalle_cuenta_contable' object.siguiente %}';">
	       		<span class="glyphicon glyphicon-step-forward"></span>
	        </button>
	        <button class="btn btn-default" type="button" onclick="location.href='{% url 'contabilidad:cuentas_contables' %}';">
	       		<span class="glyphicon glyphicon-th-list"></span>
	        </button>			
		</div>
	</div>
</div>
<div id="dialog-confirm" title="Eliminar Cuenta Contable"></div>
<hr/>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-7">
				<h3>{{ object.descripcion }}</h3>
				{% if object.divisionaria %}
                      <p>ES DIVISIONARIA</p>
                      {% else %}
				<p>NO ES DIVISIONARIA</p>
				{% endif %}		
			</div>
			<div class="col-lg-5">
				<div class="btn-group">    					   
								
				</div>
			</div>					
		</div>
		<br>	
		<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#general">Información General</a></li>				  					  
		</ul>					
		<div class="tab-content">
			<div id="general" class="tab-pane fade in active">
				<br>
				<div class="row">
					<div class="col-lg-4">									
						<label>CUENTA:</label>
						<p>{{ object.cuenta }}</p>
						<label>DEPRECIACIÓN: </label>
						<p>{{ object.depreciacion }}</p>								
					</div>
					<div class="col-lg-4">								
																				
					</div>
					<div class="col-lg-4">
						<label>FECHA REGISTRO: </label>
						<p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
						<label>FECHA MODIFICACIÓN: </label>
						<p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
						<label>ESTADO: </label>
						{% if object.estado %}
						<p>ACTIVO</p>
						{% else %}
						<p>INACTIVO</p>
						{% endif %}
					</div>
				</div>
			</div>					
		</div>
	</div>				
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	
});
</script>
{% endblock js %}