{% extends "contabilidad/base_contabilidad.html" %}
{% block cuerpo %}
{% if object %}
<h3>Impuestos / {{ object.descripcion }}</h3>
{% else %}
<h3>Impuestos / Nuevo</h3>
{% endif %}
<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'contabilidad:detalle_impuesto' object.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-default" onclick="location.href='{% url 'contabilidad:impuestos' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-right">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'contabilidad:modificar_impuesto' object.anterior %}';">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'contabilidad:modificar_impuesto' object.siguiente %}';">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                {% endif %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'contabilidad:impuestos' %}';">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-7">
                    <label>Descripcion:</label>
                    {% if form.descripcion.errors %}
                    {% for error in form.descripcion.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error: </strong> {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h3>{{ form.descripcion }}</h3>
                </div>
                <div class="col-lg-5">
                    <div class="btn-group"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>ABREVIATURA:</label>
                    {% if form.abreviatura.errors %}
                    {% for error in form.abreviatura.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error: </strong> {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <p>{{ form.abreviatura }}</p>
                    <label>MONTO: </label>
                    {% if form.monto.errors %}
                    {% for error in form.monto.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error: </strong> {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <p>{{ form.monto }}</p>
                    <label>FECHA INICIO:</label>
                    {% if form.fecha_inicio.errors %}
                    {% for error in form.fecha_inicio.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error: </strong> {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <p>{{ form.fecha_inicio }}</p>
                </div>
                <div class="col-lg-4">
                    <label>FECHA FIN: </label>
                    {% if form.fecha_fin.errors %}
                    {% for error in form.fecha_fin.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error: </strong> {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <p>{{ form.fecha_fin }}</p>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>
	$(document).ready(function() {
		$("#id_fecha_inicio").datepicker();
		$("#id_fecha_fin").datepicker();
	});

</script>
{% endblock js %}