{% extends "security/base_security.html" %}
{% block cuerpo %}
<h1 class="page-title mb-3">Cuenta / Cambiar contraseña</h1>
<form action="{% url 'security:password_change' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" name="submit" value="Cambiar">
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'security:home' %}'">
            Cancelar
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label" for="{{ form.old_password.id_for_label }}">Contraseña actual</label>
                {% for error in form.old_password.errors %}
                {% include "includes/error.html" %}
                {% endfor %}
                {{ form.old_password }}
                <div class="form-text">Ingrese su contraseña actual.</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.new_password.id_for_label }}">Contraseña nueva</label>
                {% for error in form.new_password.errors %}
                {% include "includes/error.html" %}
                {% endfor %}
                {{ form.new_password }}
                <div class="form-text">Ingrese la contraseña nueva.</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.password_confirmation.id_for_label }}">Contraseña de verificación</label>
                {% for error in form.password_confirmation.errors %}
                {% include "includes/error.html" %}
                {% endfor %}
                {{ form.password_confirmation }}
                <div class="form-text">Ingrese nuevamente la contraseña nueva.</div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
