venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/
celerybeat-schedule
celerybeat.pid
*.mo
*.pot
*.db
*.sqlite3
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.node-gyp/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
/myproject/media/ # Django media files
/myproject/static/ # Django static files (if not using whitenoise or similar)
*.orig
*.rej
*.swo
*.swp
*~
.DS_Store
Thumbs.db
