coverage>=7.8.1
dj-database-url>=2.1.0
Django>=5.0,<5.1
django-extensions>=3.2.3
django-model-utils>=4.3.1
django-simple-history>=3.4.0
et-xmlfile>=1.1.0
jdcal>=1.4.1
model_bakery>=1.17.0
openpyxl>=3.1.2
Pillow>=10.2.0
psycopg>=3.1.8
pytz>=2023.3
reportlab>=4.0.4
simplejson>=3.19.1
six>=1.16.0
whitenoise>=6.6.0
django-import-export>=3.3.7
