coverage==7.16.1
dj-database-url==2.3.0
Django==5.2.17
django-import-export==4.4.1
django-model-utils==5.0.0
django-simple-history==3.13.0
et-xmlfile==2.0.0
gunicorn==23.0.0
model-bakery==1.24.0
openpyxl==3.1.5
Pillow==12.3.0
psycopg2-binary==2.9.13
python-dotenv==1.2.3
reportlab==4.5.1
ruff==0.5.5
simplejson==3.20.2
whitenoise==6.12.0
