{% extends "compras/base_compras.html" %}
{% block cuerpo %}
<h3>Proveedores / Importar un archivo</h3>
<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}        
    <div class="row">
	    <div class="col-lg-12">	        
	        <input type="submit" class="btn btn-primary" name="submit" value="Importar">
            <button type="button" class="btn btn-default" onclick="location.href='{% url 'compras:proveedores' %}'">
                Cancelar
            </button>
	    </div>    
	</div>
	<hr/>
    <div class="panel panel-default">		
		<div class="panel-body">						
			{% csrf_token %}
			<div class="form-group">
				<label>Selecciona un archivo:</label>
				{{ form.archivo }}
				<p class="help-block">El archivo debe estar en formato CSV, separado por comas, sin encabezados</p>
			</div>				
		</div>
	</div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	var mySpinner = null;
		
	function setupLoading() 
	{    
	    $('<div id="divSpin" />').appendTo(document.body);

	    var target = document.getElementById("divSpin");

	    var opts = {
	        lines: 13, // The number of lines to draw
	        length: 20, // The length of each line
	        width: 10, // The line thickness
	        radius: 30, // The radius of the inner circle
	        corners: 1, // Corner roundness (0..1)
	        rotate: 8, // The rotation offset
	        direction: 1, // 1: clockwise, -1: counterclockwise
	        color: '#000', // #rgb or #rrggbb or array of colors
	        speed: 1, // Rounds per second
	        trail: 60, // Afterglow percentage
	        shadow: false, // Whether to render a shadow
	        hwaccel: false, // Whether to use hardware acceleration
	        className: 'mySpin', // The CSS class to assign to the spinner
	        zIndex: 2e9, // The z-index (defaults to 2000000000)
	        top: '50%', // Top position relative to parent
	        left: '50%' // Left position relative to parent
	    };

	    mySpinner = new Spinner(opts).spin(target);
	}

	function removeLoading(){
	    mySpinner.stop();
	}

	$("form").submit(function(event) 
	{
		setupLoading();
	});
});
</script>
{% endblock js %}