{% extends "compras/base_compras.html" %}
{% block cuerpo %}
{% if object %}
<h3>Solicitudes de Cotización / {{ cotizacion.pk }}</h3>
{% else %}
<h3>Solicitudes de Cotización / Nuevo</h3>
{% endif %}
<form role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'compras:detalle_cotizacion' cotizacion.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'compras:listado_cotizaciones' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-right">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'compras:modificar_cotizacion' cotizacion.anterior %}';">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'compras:modificar_cotizacion' cotizacion.siguiente %}';">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                {% endif %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'compras:listado_cotizaciones' %}';">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            {% if form.non_field_errors %}
            {% include "includes/errores_generales.html" %}
            {% endif %}
            <div class="form-group">
                {% if object %}
                <div class="row">
                    <div class="col-md-2">
                        <label>CODIGO:</label>
                        {% if form.code.errors %}
                        {% for error in form.code.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        <p>{{ object.code }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label>RUC:</label>
                        {% if form.tax_id.errors %}
                        {% for error in form.tax_id.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.tax_id }}
                    </div>
                    <div class="col-md-4">
                        <label>Razón Social:</label>
                        {% if form.business_name.errors %}
                        {% for error in form.business_name.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.business_name }}
                    </div>
                    <div class="col-md-6">
                        <label>Dirección:</label>
                        {% if form.address.errors %}
                        {% for error in form.address.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.address }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label>FECHA:</label>
                        {% if form.date.errors %}
                        {% for error in form.date.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.date }}
                    </div>
                    <div class="col-md-2">
                        <label>Referencia:</label>
                        {% if form.referencia.errors %}
                        {% for error in form.referencia.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.referencia }}
                    </div>
                    <div class="col-md-3">
                        <label>Busq. de Requerimiento:</label>
                        <button id="id_transferencia_requerimiento" class="btn btn-info btn-block">
                            <span class="glyphicon glyphicon-search">BUSCAR</span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <label>Orden:</label>
                        {% if form.orden.errors %}
                        {% for error in form.orden.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.orden }}
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <table id="detalles" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Borrar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ detalle_cotizacion_formset.management_form }}
                        {% for form in detalle_cotizacion_formset %}
                        <tr class="detalle_cotizacion_formset">
                            <td>
                                {{ forloop.counter0|add:1 }}
                            </td>
                            <td>
                                {{ form.requerimiento }}
                                {% if form.code.errors %}
                                {% for error in form.code.errors %}
                                {% include "includes/error.html" %}
                                {% endfor %}
                                {% endif %}
                                {{ form.code }}
                            </td>
                            <td>
                                {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                {% include "includes/error.html" %}
                                {% endfor %}
                                {% endif %}
                                {{ form.name }}
                            </td>
                            <td>
                                {% if form.unidad.errors %}
                                {% for error in form.unidad.errors %}
                                {% include "includes/error.html" %}
                                {% endfor %}
                                {% endif %}
                                {{ form.unidad }}
                            </td>
                            <td>
                                {% if form.quantity.errors %}
                                {% for error in form.quantity.errors %}
                                {% include "includes/error.html" %}
                                {% endfor %}
                                {% endif %}
                                {{ form.quantity }}
                            </td>
                            <td>
                                <button class='eliminar btn btn-small btn-danger' type='button'
                                        id='id_form-{{ forloop.counter0 }}-btn-borrar' name='btn_borrar'>
                                    <span class='glyphicon glyphicon-remove'></span>
                                </button>
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>OBSERVACIONES:</label>
                    {{ form.notes }}
                </div>
            </div>
        </div>
    </div>
    <div id="popup"></div>
</form>

{% endblock cuerpo %}

{% block js %}
<script>
$(document).ready(function() 
{
	var mySpinner = null;
	var contDetalles = parseInt($('#id_form-TOTAL_FORMS').val());	
	$("#id_date").datepicker();
		
	$("#id_business_name").autocomplete({
	  	source: function(request, response){
	    $.ajax({
	      url: "{% url 'compras:busqueda_proveedores_razon_social' %}",
	      data: {'business_name': $("#id_business_name").val()},
	      success: function( data ) 
	      {
	          response( data );
	      }
	    });
	  },
	  minLength: 2,
	  select: function( event, ui ) {
		$("#id_tax_id").val(ui.item.tax_id);
		$("#id_business_name").val(ui.item.label);
		$("#id_address").val(ui.item.address);
		if(ui.item.es_locador)
		{		    		  
			$("#id_orden").attr("readonly", false);
			$("#id_orden").val(ui.item.orden);
		}
		else
		{
			$("#id_orden").attr("readonly", true);
		}
		event.preventDefault();
	  },
	});
	
	$("#id_tax_id").keyup(function() 
	{
		var tax_id=$("#id_tax_id").val();
		if(tax_id.length==11)
		{
			$.ajax({
		      url: "{% url 'compras:busqueda_proveedores_ruc' %}",
		      data: {'tax_id': tax_id},
		      success: function(data) 
		      {
		    	  $("#id_business_name").val(data.business_name);
		    	  $("#id_address").val(data.address);
		    	  if(data.es_locador)
		    	  {		    		  
		    		  $("#id_orden").attr("readonly", false);
		    		  $("#id_orden").val(data.orden);
		    	  }
		    	  else{
		    		  $("#id_orden").attr("readonly", true);
		    	  }
		    	  event.preventDefault();
		      }
		    });
		}
	});
	
	$('#id_transferencia_requerimiento').click(function(e)
	{
	    e.preventDefault();
	    ventana_transferencia = $('#popup').dialog(
		{
			title: "Transferencia de Requerimiento",
			width: 950,
			open: function ()
	        {
				var url="{% url 'requerimientos:transferencia_requerimiento' %}";
	            $(this).load(url);
	        },
			modal: true,
			resizable: false,
			position: { my: "center", at: "center", of: "#page-wrapper"},
	      	buttons: {
	          "Aceptar": transferirRequerimiento,
	          "Cancelar": cerrarTransferencia
	        }
		}).dialog('open').load(this.href)
 	});
	
	function transferirRequerimiento() 
	{
		var requerimiento = $("#requerimiento").val();
		var notes = $("#" + requerimiento).val();
		var cont = 0;
		ventana_transferencia.dialog("close");
		$('#detalles td').parent().remove();
		$.ajax(
		{
			data : { 'requerimiento' : requerimiento,'tipo_busqueda': 'PRODUCTOS' },
			url : "{% url 'requerimientos:obtener_detalle_requerimiento' %}",
			type : 'get',
			success : function(data) 
			{
				$.each(data, function(i, item) 
				{
					cont = i + 1;
					$("#detalles tbody").append(
					"<tr class='detalle_cotizacion_formset'>" +				
						"<td>" + cont + "</td>" +
						"<td>" + item.requerimiento + item.code + "</td>" +
						"<td>" + item.name + "</td>" +
						"<td>" + item.unidad + "</td>" +
						"<td>" + item.quantity + "</td>" +	
						"<td><button class='eliminar btn btn-small btn-danger' type='button' id='id_form-"+i+"-btn-borrar' name='btn_borrar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
					"</tr>");
				});
				contDetalles = cont;
				ultimo_item = cont;
				$("#id_form-TOTAL_FORMS").val(cont);
				$("#id_referencia").val(requerimiento);
				$("#id_observaciones").val(notes);
			}
		});
	}
	
	$(document).on("click",".eliminar",function()
	{
		var parent = $(this).parent().parent();
		var id_boton= $(this).prop('id');
		var id = id_boton.replace("btn-borrar","");
		$(parent).remove();
		contDetalles = contDetalles - 1;
		$("#id_form-TOTAL_FORMS").val(contDetalles);
		updateFormElementIndices('detalle_cotizacion_formset');
	});
	
	function cerrarTransferencia()
	{
		ventana_transferencia.dialog("close");
	}	
	
	$("form").submit(function(event) 
	{
		var tax_id = $('#id_tax_id').val();
		var date = $('#id_date').val().trim();
		if(tax_id != '')
		{					
			if(date != '')
			{					
				if (contDetalles > 0)
				{
					return;
				}
				else
				{
					alert("No ha ingresado ningún detalle");	
				}				
			}
			else
			{
				alert("No ha seleccionado date");
			}
		}
		else
		{
			alert("No ha ingresado el tax_id del proveedor");
		}
		event.preventDefault();
	});
});

</script>
{% endblock js %}