<script>
$(".entero").keydown(validar_numeros);
$(".decimal").keydown(validar_decimales);

$("#id_nombre").autocomplete({
  	source: function( request, response ) {
    $.ajax({
      url: "{% url 'compras:busqueda_productos_descripcion' %}",
      data: {'descripcion': $("#id_nombre").val()},
      success: function( data ) 
      {
          response( data );
      }
    });
  },
  minLength: 2,
  select: function( event, ui ) 
  {
	$("#id_codigo").val(ui.item.codigo);
	$("#id_unidad").val(ui.item.unidad);
	$("#id_precio").val(ui.item.precio);	
	return false;
  },
});

$("#id_codigo").autocomplete({
  	source: function( request, response ) {
    $.ajax({
      url: "{% url 'compras:busqueda_productos_codigo' %}",
      data: {'codigo': $("#id_codigo").val()},
      success: function( data ) 
      {
          response( data );
      }
    });
  },
  minLength: 2,
	select: function( event, ui ) 
	{
		$("#id_codigo").val(ui.item.codigo);
		$("#id_nombre").val(ui.item.descripcion);
		$("#id_unidad").val(ui.item.unidad);
		$("#id_precio").val(ui.item.precio);
		
		return false;
	},
});
$("#id_cantidad").keyup(function() {
	$("#id_valor").val(($("#id_cantidad").val()*$("#id_precio").val()).toFixed(5));
});
$("#id_precio").keyup(function() {
	$("#id_valor").val(($("#id_cantidad").val()*$("#id_precio").val()).toFixed(5));
});
</script>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">			
			<div class="panel-body">
				<form role="form" action="#" method="post">
					{% csrf_token %}
					<div class="form-group">
						<div class="row">
							<div class="col-md-2">	
								<label>Código:</label>		
								{{ form.codigo }}
							</div>
							<div class="col-md-3">
								<label>Nombre:</label>		
								{{ form.nombre }}								
							</div>
							<div class="col-md-2">
								<label>Unidad:</label>		
								{{ form.unidad }}								
							</div>
							<div class="col-md-1">
								<label>Cant:</label>		
								{{ form.cantidad }}
							</div>
							<div class="col-md-2">
								<label>Precio:</label>		
								{{ form.precio }}								
							</div>
							<div class="col-md-2">
								<label>Valor:</label>		
								{{ form.valor }}								
							</div>
						</div>								
					</div>					
				</form>
			</div>
		</div>	
	</div>
</div>