{% extends "compras/base_compras.html" %}
{% block cuerpo %}
<h3>Solicitudes de Cotización / {{ object.pk }}</h3>
<div class="row">
    <div class="col-lg-5">
        {% if perms.compras.add_quotation %} <a
            href="{% url 'compras:quotation_create' %}" class="btn btn-primary">Crear</a>
        {% endif %}
        {% if quotation.status == "PEND" %}
        {% if perms.compras.change_quotation %}
        <a class="btn btn-warning" href="{% url 'compras:quotation_update' object.pk %}">Editar </a>
        {% endif %}
        {% endif %}
        {% if object.status == "PEND" %}
        {% if perms.compras.delete_quotation %}
        <button class="btn btn-danger" type="button" id="id_eliminar">Eliminar</button>
        {% endif %}
        {% endif %}
    </div>
    <div class="col-lg-3">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Acciones
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% if object.status != "PEND" %}
                <li>
                    <a href="{% url 'compras:service_order_list_by_quotation' object.pk %}">
                        <span class="fa fa-exchange"></span>
                        Servicios
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'compras:purchase_order_list_by_quotation' object.pk %}">
                        <span class="fa fa-book"></span>
                        Compras
                    </a>
                </li>
                <li>
                    <a href="{% url 'compras:quotation_pdf' object.pk %}">
                        <span class="fa fa-print"></span>
                        Imprimir
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 text-right">
        <div class="btn-group">
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'compras:quotation_detail' quotation.anterior %}';">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'compras:quotation_detail' quotation.siguiente %}';">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'compras:quotation_list' %}';">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </div>
</div>
<hr/>
<div id="dialog-confirm" title="Eliminar Cotización"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <label>CODIGO:</label>
                <p>{{ object.code }}</p>
            </div>
            <div class="col-md-2">
                <label>Fecha Creación:</label>
                <p>{{ object.created|date:"d/m/Y H:i:s" }}</p>
            </div>
            <div class="col-md-2">
                <label>Fecha Mod:</label>
                <p>{{ object.modified|date:"d/m/Y H:i:s" }}</p>
            </div>
            <div class="col-md-4">
                <label>Estado:</label>
                <p>{{ object.get_status_display }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>RUC:</label>
                <p>{{ object.supplier.tax_id }}</p>
            </div>
            <div class="col-md-4">
                <label>Razón Social:</label>
                <p>{{ object.supplier.business_name }}</p>
            </div>
            <div class="col-md-6">
                <label>Dirección:</label>
                <p>{{ object.supplier.address }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>FECHA:</label>
                <p>{{ object.date|date:"d/m/Y" }}</p>
            </div>
            <div class="col-md-3">
                <label>Referencia:</label>
                <p><a href="{% url 'requerimientos:requirement_detail' object.requirement.pk %}">{{
                    object.requirement }}</a></p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <table id="detalles" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Unidad</th>
                        <th>Cantidad</th>
                        <th>Cantidad Comprada</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detalle in object.details.all %}
                    <tr>
                        <td>{{ detalle.requirement_detail.product.code }}</td>
                        <td>{{ detalle.requirement_detail.product.description }}</td>
                        <td>{{ detalle.requirement_detail.product.unit_of_measure.description }}</td>
                        <td>{{ detalle.quantity }}</td>
                        <td>{{ detalle.purchased_quantity }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>OBSERVACIONES:</label>
                <p>
                    {{ object.notes }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock cuerpo %}

{% block js %}
<script>
$(document).ready(function() 
{
	$('#id_eliminar').click(function(e) {
		e.preventDefault();
		ventana = $("#dialog-confirm").dialog({
			resizable : false,
			height : 140,
			modal : true,
			buttons : {
				"Borrar" : borrarCotizacion,
				"Cancelar" : cerrarCotizacion
			}
		});
	});
	
	function borrarCotizacion() 
	{
		$.ajax({
			data : { 'code' : "{{ object.code }}" },
			url : "{% url 'compras:quotation_delete' %}",
			type : 'post',
			success : function(data) {
				if (data.ordenes == 'NO') 
				{
					alert("Cotización " + data.code + " eliminada");
					$(location).attr('href', "{% url 'compras:quotation_detail' quotation.siguiente %}");
				} 
				else if (data.ordenes == 'SI') 
				{
					alert("Cotización " + data.code + " no puede eliminarse");
				}
			}
		});
		ventana.dialog("close");
	}

	function cerrarCotizacion() {
		ventana.dialog("close");
	}

});

</script>
{% endblock js %}