{% extends "compras/base_compras.html" %} {% block cuerpo %}
<h3>Proveedores / {{ object.business_name }}</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.compras.add_supplier %} <a
            href="{% url 'compras:crear_proveedor' %}" class="btn btn-primary">Crear</a>
        {% endif %}
        {% if perms.compras.change_supplier %}
        <a class="btn btn-primary"
           href="{% url 'compras:modificar_proveedor' object.pk %}"> Editar
        </a>
        {% endif %}
        {% if perms.compras.delete_supplier %}
        <button class="btn btn-danger" type="button" id="id_eliminar">Eliminar</button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'compras:detalle_proveedor' object.anterior %}';">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'compras:detalle_proveedor' object.siguiente %}';">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'compras:proveedores' %}';">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </div>
</div>
<hr/>
<div id="dialog-confirm" title="Eliminar Supplier"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
                <a href="{{ object.image.url }}" class="thumbnail"> <img
                        src="{{ object.image.url }}" alt="Imagen Supplier" style="width: 120px; height: 90px">
                </a>
            </div>
            <div class="col-lg-7">
                <h3>{{ object.business_name }}</h3>
                {% if object.es_locador %}
                <p>ES LOCADOR</p>
                {% endif %}
            </div>
            <div class="col-lg-3">
                <div class="btn-group">
                    <button class="btn btn-default" type="button">
                        <span class="fa fa-shopping-cart fa-2x"></span> 0 <br>
                        Compras
                    </button>
                    <button class="btn btn-default" type="button">
                        <span class="fa fa-truck fa-2x"></span> 0 <br> Facturas
                    </button>
                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Información General</a></li>
            <li><a data-toggle="tab" href="#representantes">Representantes Legales</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>RUC:</label>
                        <p>{{ object.tax_id }}</p>
                        <label>DIRECCIÓN:</label>
                        <p>{{ object.address }}</p>
                        <label>ESTADO SUNAT: </label>
                        <p>{{ object.is_active_sunat }}</p>
                        <label>CONDICION: </label>
                        <p>{{ object.sunat_condition }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>CIIU: </label>
                        <p>{{ object.ciiu }}</p>
                        <label>FECHA DE ALTA: </label>
                        <p>{{ object.registration_date|date:"d/m/Y" }}</p>
                        <label>TELEFONO: </label>
                        <p>{{ object.phone }}</p>
                        <label>EMAIL: </label>
                        <p>{{ object.email }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label> {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="representantes" class="tab-pane fade">
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %} {% block js %}
<script>
	$(document).ready(
			function() {
				$('#id_eliminar').click(function(e) {
					e.preventDefault();
					ventana = $("#dialog-confirm").dialog({
						resizable : false,
						height : 140,
						modal : true,
						buttons : {
							"Borrar" : borrarProducto,
							"Cancelar" : cerrarBorrarProducto
						}
					});
				});

				function borrarProducto() {
					$.ajax({
						data : {
							'code' : "{{ object.code }}"
						},
						url : "{% url 'compras:eliminar_proveedor' %}",
						type : 'post',
						success : function(data) {
							if (data.relaciones == 'NO') {
								alert("Product " + data.description
										+ " eliminado");
							} else if (data.relaciones == 'SI') {
								alert("Product " + data.description
										+ " no puede eliminarse");
							}
						}
					});
					ventana.dialog("close");
				}

				function cerrarBorrarProducto() {
					ventana.dialog("close");
				}
			});

</script>
{% endblock js %}
