{% extends "compras/base_compras.html" %}
{% block cuerpo %}
<h3>Conformidades de Servicio / {{ object.pk }}</h3>
<div class="row">
	<div class="col-lg-10">
		<button class="btn btn-info" type="button" onclick="location.href='{% url 'compras:ver_memorando_conformidad_servicio' object.pk %}';">Ver PDF</button>
		{% if perms.compras.delete_cotizacion %}
			<button class="btn btn-danger" type="button" id="id_eliminar">Eliminar</button>
		{% endif %}		
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">
			<button class="btn btn-default" type="button"
				onclick="location.href='{% url 'compras:detalle_conformidad_servicios' object.anterior %}';">
				<span class="glyphicon glyphicon-step-backward"></span>
			</button>
			<button class="btn btn-default" type="button"
				onclick="location.href='{% url 'compras:detalle_conformidad_servicios' object.siguiente %}';">
				<span class="glyphicon glyphicon-step-forward"></span>
			</button>
			<button class="btn btn-default" type="button"
				onclick="location.href='{% url 'compras:conformidades_servicio' %}';">
				<span class="glyphicon glyphicon-th-list"></span>
			</button>
		</div>
	</div>
</div>
<hr />
<div class="panel panel-primary">	
	<div class="panel-body">					
		{% csrf_token %}
		<div class="form-group">	
			<div class="row">
				<div class="col-md-2">
					<label>CODIGO:</label>  
					<p>{{ object.codigo }}</p>
				</div>	
				<div class="col-md-3">
					<label>Fecha Creación:</label> 
					<p>{{ object.created|date:"d/m/Y H:i:s" }}</p>
				</div>
				<div class="col-md-2">
					<label>Fecha Mod:</label> 
					<p>{{ object.modified|date:"d/m/Y H:i:s" }}</p>
				</div>													
			</div>
			<div class="row">
				<div class="col-md-2">			
					<label>FECHA:</label> 
					<p>{{ object.fecha|date:"d/m/Y" }}
				</div>							
				<div class="col-md-3">	
					<label>Orden de Servicios:</label>
					<p>
						<a href="{% url 'compras:detalle_orden_servicios' object.orden_servicios.pk %}">{{ object.orden_servicios }}</a>
					</p>
				</div>				
				<div class="col-md-5">	
					<label>Doc. Sustento:</label>
					<p>{{ object.doc_sustento }}
				</div>
			</div>
		</div>					
		<hr>					
		<div class="row">
			<div class="col-lg-12">
				<table id="detalles" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>CANTIDAD</th>
							<th>SERVICIO</th>
							<th>DESCRIPCION</th>											
							<th>PRECIO</th>
							<th>VALOR</th>										
						</tr>
					</thead>
					<tbody>
						{% for detalle in object.detalleconformidadservicio_set.all %}
						<tr>
							<td>{{ detalle.detalle_orden_servicios.cantidad }}</td>
					  		<td>{{ detalle.detalle_orden_servicios.detalle_cotizacion.detalle_requerimiento.producto.descripcion }}</td>
					  		<td>{{ detalle.detalle_orden_servicios.detalle_cotizacion.detalle_requerimiento.uso }}</td>									  		
					  		<td>{{ detalle.detalle_orden_servicios.precio }}</td>
					  		<td>{{ detalle.detalle_orden_servicios.valor }}</td>								  		
						</tr>
						{% endfor %}
						<tr>
							<td colspan="5"></td>
						</tr>
						<tr>
							<td colspan="3">	
							SON: {{ object.total_letras }}
							</td>
							<td>
								SUBTOTAL
							</td>
							<td>
								{{ object.total }}
							</td>							
						</tr>
						<tr>
							<td colspan="3">
									
							</td>
							<td>
								TOTAL
							</td>
							<td>
								{{ object.total }}
							</td>							
						</tr>	
					</tbody>				
				</table>
			</div>
		</div>															
	</div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	var mySpinner = null;
	var contDetalles=parseInt($('#cdetalles').val());
	var ultimo_item = parseInt($('#cdetalles').val());
	var subtotal=parseFloat($('#id_subtotal').val());
	var total=subtotal;
	$("#id_fecha").datepicker();
	$(".entero").keydown(validar_numeros);
	
	$('#transferencia_orden_servicios').click(function(e)
	{
	    e.preventDefault();
	    $('#transferencia_orden_servicios').prop("disabled", true );
		ventana_transferencia = $('#popup').dialog(
		{
			title: "Transferencia de Orden de Servicios",
			width: 950,
			open: function ()
	        {
				var url="{% url 'compras:transferencia_orden_servicios' %}";
	            $(this).load(url);
	        },
			modal: true,
			resizable: false,
			position: { my: "center", at: "center", of: "#page-wrapper"},
	      	buttons: {
	          "Aceptar": transferirOrdenServicios,
	          "Cancelar": cerrarTransferenciaOrdenServicios
	        }
		}).dialog('open').load(this.href)
 	});
	
	function transferirOrdenServicios()
	{		
		var orden_servicios = $("#id_orden_servicios").val();
		var cont = 0;
		ventana_transferencia.dialog("close");
		$.ajax({
			data : {'orden_servicios': orden_servicios},
			url : "{% url 'compras:obtener_detalle_orden_servicios' %}",
			type : 'get',
			success : function(data)
			{
				$.each(data, function(i,item){
					cont = i+1;
					$("#detalles tbody").append( 
					"<tr>" +
				  	"<input type='hidden'name='detalle_orden_compra"+cont+"' id='detalle_orden_compra"+cont+"' value='" + item.codigo_detalle + "'/>"+
				  	"<td><input class='form-control decimal' type='numeric' size=1 name='cantidad"+cont+"' id='cantidad"+cont+"' value='" + item.cantidad + "'/></td>" +
				  	"<td><input class='form-control' type='text' size=50 readonly='readonly' name='servicio"+cont+"' id='servicio"+cont+"' value='" + item.nombre_servicio + "'/></td>" +
				  	"<td><input class='form-control' type='text' size=50 readonly='readonly' name='descripcion"+cont+"' id='descripcion"+cont+"' value='" + item.descripcion_servicio + "'/></td>" +				  	
				  	"<td><input class='precio decimal form-control' type='numeric' size=5 name='precio"+cont+"' id='precio"+cont+"' value='" + item.precio + "'/></td>" +
				  	"<td><input class='valor decimal form-control' type='numeric' size=5 name='valor"+cont+"' id='valor"+cont+"' value='" + item.valor + "'/></td>" +				  	
					"</tr>");	
					subtotal=subtotal+parseFloat(item.valor);					
				});
				contDetalles = cont;
				ultimo_item = cont;
				total = subtotal;
				$("#id_subtotal").val(subtotal.toFixed(5));
				$("#id_igv").val(0);
				$("#id_total").val(total.toFixed(5));
				$("#id_total_letras").val(NumeroALetras(total));
				$(".decimal").keydown(validar_decimales);
				$("#id_observaciones").val(observaciones);
			}
		});
	}
	
	function cerrarTransferenciaOrdenServicios()
	{
		ventana_transferencia.dialog("close");
	}
	
	$("form").submit(function(event) 
	{
		var cont=0;
		$('#cdetalles').val(ultimo_item);
		var fecha = $('#id_fecha').val().trim();
		var orden_servicios = $('#id_orden_servicios').val().trim();
		var doc_sustento = $('#id_doc_sustento').val().trim();
		if(fecha != '')
		{					
			if(orden_servicios != '')
			{
				if(doc_sustento != '')
				{
					if (contDetalles > 0)
					{
						return			
					}
					else
					{
						alert("No ha ingresado ningún detalle");	
					}
				}
				else
				{
					alert("No ha ingresado el documento de sustento");	
				}
			}
			else
			{
				alert("No ha ingresado tiempo de entrega");
			}
		}
		else
		{
			alert("No ha seleccionado fecha");
		}
		event.preventDefault();
	});
});
</script>
{% endblock js %}