{% extends "compras/base_compras.html" %}
{% block cuerpo %}
<h3>Órdenes de Compra</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.compras.add_purchaseorder %}
        <a href="{% url 'compras:purchase_order_create' %}" class="btn btn-primary">Crear</a>
        {% endif %}
        {% if perms.compras.cargar_ordenes_compra %}
        <a href="#" class="btn btn-default">Importar</a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            {% if perms.compras.ver_reporte_ordenes_compra_excel %}
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <table id="tabla" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="text-center">CODIGO</th>
                <th class="text-center">COTIZACION</th>
                <th class="text-center">FEC.</th>
                <th class="text-center">FEC_REG</th>
                <th class="text-center">ESTADO</th>
            </tr>
            </thead>
            <tbody>
            {% for purchase_order in ordenes_compra %}
            {% if perms.compras.ver_detalle_orden_compra %}
            <tr onclick="location.href='{% url 'compras:purchase_order_detail' purchase_order.pk %}';">
                {% else %}
            <tr>
                {% endif %}
                <td>{{ purchase_order.code }}</td>
                {% if purchase_order.quotation %}
                <td>{{ purchase_order.quotation }}</td>
                {% else %}
                <td>Ninguna</td>
                {% endif %}
                <td>{{ purchase_order.date|date:"d/m/y" }}</td>
                <td>{{ purchase_order.created|date:"d/m/y" }}</td>
                <td>{{ purchase_order.get_status_display }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});
    
    $(document).on("click",".eliminar",function()
	{
		borrarSeleccionado = $(this);		
		ventana = $( "#dialog-confirm" ).dialog({
		  resizable: false,
		  height:140,
		  modal: true,
		  buttons: 
		  {
			"Borrar": borrarOrdenCompra,
		    "Cancelar": cerrarBorrarOrdenCompra
		  }
		});		
	});
    
    function borrarOrdenCompra()
	{
    	var id_boton= $(borrarSeleccionado).prop('id');
    	var code = id_boton.replace("elim_","");
    	$.ajax({
    		data : {'code': code},
    		url : "{% url 'compras:purchase_order_delete' %}",
    		type : 'post',
    		success : function(data)
    		{
    			if(data.movimientos=='NO')
    			{
    				alert("Orden de Compra "+data.code+ " eliminada");
    				table.row('.selected').remove().draw(false);
    			}
    			else if(data.movimientos=='SI')
    			{
    				alert("La orden de compra "+data.code+" no puede cerrarse");	
    			}    			
    		}
    	});
		ventana.dialog("close");
	}
    
    function cerrarBorrarOrdenCompra()
	{
		ventana.dialog("close");
	}
});

</script>
{% endblock js %}