{% extends "compras/base_compras.html" %}
{% block cuerpo %}
{% if object %}
<h3>Órdenes de Compra / {{ orden.pk }}</h3>
{% else %}
<h3>Órdenes de Compra / Nuevo</h3>
{% endif %}
<form role="form" method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="col-lg-10">
			<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
			{% if object %}
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'compras:detalle_orden_compra' orden.pk %}'">
				Cancelar
			</button>			
			{% else %}
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'compras:ordenes_compra' %}'">
				Cancelar
			</button>			
			{% endif %}
		</div>
		<div class="col-lg-2 text-right">
			<div class="btn-group">
				{% if object %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'compras:modificar_orden_compra' orden.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'compras:modificar_orden_compra' orden.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				{% endif %}
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'compras:ordenes_compra' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="panel panel-primary">
		{% if form.non_field_errors %}
			<div class="alert alert-danger alert-dismissible" role="alert">							
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>							
	            {{ form.non_field_errors }}					        
			</div>						        
	    {% endif %}		
		<div class="panel-body">					
			{% csrf_token %}
			<div class="form-group">
				{{ form.impuesto_actual }}
				{% if object %}
				<div class="row">
					<div class="col-md-2">
						<label>CODIGO:</label>
						{% if form.codigo.errors %}
							{% for error in form.codigo.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}  
						{{ form.codigo }}
					</div>														
				</div>
				{% endif %}
			</div>	
			<div class="form-group">				
				<div class="row">
					<div class="col-md-2">
						<label>RUC:</label>  
						{% if form.ruc.errors %}
							{% for error in form.ruc.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.ruc }}
					</div>
					<div class="col-md-4">
						<label>Razón Social:</label>  
						{% if form.razon_social.errors %}
							{% for error in form.razon_social.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.razon_social }}
					</div>
					<div class="col-md-6">	
						<label>DIRECCIÓN:</label>  
						{% if form.direccion.errors %}
							{% for error in form.direccion.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.direccion }}
					</div>							
				</div>
			</div>			
			<div class="form-group">	
				<div class="row">
					<div class="col-md-2">			
						<label>FECHA:</label> 
						{% if form.fecha.errors %}
							{% for error in form.fecha.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.fecha }}
					</div>
					<div class="col-md-4">	
						<label>FORMA DE PAGO:</label>  
						{% if form.forma_pago.errors %}
							{% for error in form.forma_pago.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.forma_pago }}
					</div>									
					<div class="col-md-2">	
						<label>COTIZACION:</label>
						{% if form.referencia.errors %}
							{% for error in form.referencia.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.referencia }}
					</div>
					<div class="col-md-3">	
						<label>BUSQ. DE COTIZACIÓN:</label>
						<button id="id_transferencia_cotizacion" class="btn btn-info btn-block">
							<span class="glyphicon glyphicon-search">BUSCAR</span>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
						<div class="checkbox">
							{% if form.con_impuesto.errors %}
								{% for error in form.con_impuesto.errors %}
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
						            <strong>Error: </strong> {{ error|escape }}
								</div>
						        {% endfor %}
						    {% endif %}
							<label>
								{{ form.con_impuesto }} Con impuesto
							</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="checkbox">
							{% if form.dolares.errors %}
								{% for error in form.dolares.errors %}
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
						            <strong>Error: </strong> {{ error|escape }}
								</div>
						        {% endfor %}
						    {% endif %}
							<label>
								{{ form.dolares }} En Dolares
							</label>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-10">							
				</div>	
				<div class="col-lg-2">
					<div class='form-group'>
						<button id="id_crear_detalle" href="#" class="btn btn-info btn-block">
							<span class="glyphicon glyphicon-plus">AGREGAR</span>
						</button>						
					</div>
				</div>	
			</div>			
			<div class="row">
				<div class="col-lg-12">
					<table id="detalles" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>ID Producto</th>
								<th>Producto</th>
								<th>Unidad</th>	
								<th>Cantidad</th>	
								<th>P. Unit</th>
								<th>Impuesto</th>
								<th>Total</th>
								<th>Borrar</th>
							</tr>
						</thead>
						<tbody>									
							{{ detalle_orden_compra_formset.management_form }}
						    {% for detalle_orden_compra_form in detalle_orden_compra_formset %}					        
					            <tr class="detalle_orden_compra_formset">
					            	<td>
					            		{{ detalle_orden_compra_form.cotizacion }}
						            	{% if detalle_orden_compra_form.codigo.errors %}
											{% for error in detalle_orden_compra_form.codigo.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
						            	{{ detalle_orden_compra_form.codigo }}
					            	</td>
					            	<td>
						            	{% if detalle_orden_compra_form.nombre.errors %}
											{% for error in detalle_orden_compra_form.nombre.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_orden_compra_form.nombre }}
						            </td>
						            <td>
							            {% if detalle_orden_compra_form.unidad.errors %}
											{% for error in detalle_orden_compra_form.unidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_orden_compra_form.unidad }}
						            </td>
						            <td>
							            {% if detalle_orden_compra_form.cantidad.errors %}
											{% for error in detalle_orden_compra_form.cantidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_orden_compra_form.cantidad }}
						            </td>
						            <td>
							            {% if detalle_orden_compra_form.precio.errors %}
											{% for error in detalle_orden_compra_form.precio.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_orden_compra_form.precio }}
						           	</td>
						           	<td>
							            {% if detalle_orden_compra_form.impuesto.errors %}
											{% for error in detalle_orden_compra_form.impuesto.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_orden_compra_form.impuesto }}
						           	</td>	
						           	<td>
							            {% if detalle_orden_compra_form.valor.errors %}
											{% for error in detalle_orden_compra_form.valor.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_orden_compra_form.valor }}
						           	</td>					           	
						           	<td>
						           		<button class='eliminar btn btn-small btn-danger' type='button' id='id_form-{{ forloop.counter0 }}-btn-borrar' name='btn_borrar'>
						           			<span class='glyphicon glyphicon-remove'></span>
						           		</button>
						           	</td>					           	
					           	</tr>
					           	
						    {% endfor %}									
						</tbody>				
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table id="tabla_total" class="table table-striped table-hover">
						<tbody>	
							<tr>
								<td WIDTH="50">	
								SON										
								</td>										
								<td WIDTH="550">
									{% if form.total_letras.errors %}
										{% for error in form.total_letras.errors %}
										<div class="alert alert-danger alert-dismissible" role="alert">							
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>							
								            <strong>Error: </strong> {{ error|escape }}					        
										</div>
								        {% endfor %}
								    {% endif %}
									{{ form.total_letras }}
								</td>
								<td WIDTH="50">
									SUBTOTAL
								</td>
								<td>
									{% if form.subtotal.errors %}
										{% for error in form.subtotal.errors %}
										<div class="alert alert-danger alert-dismissible" role="alert">							
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>							
								            <strong>Error: </strong> {{ error|escape }}					        
										</div>
								        {% endfor %}
								    {% endif %}
									{{ form.subtotal }}
								</td>
								<td WIDTH="60">
								</td>
							</tr>
							<tr>
								<td WIDTH="50">											
								</td>
								<td WIDTH="550">
									
								</td>
								<td WIDTH="50">
									IGV
								</td>
								<td>
									{% if form.impuesto.errors %}
										{% for error in form.impuesto.errors %}
										<div class="alert alert-danger alert-dismissible" role="alert">							
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>							
								            <strong>Error: </strong> {{ error|escape }}					        
										</div>
								        {% endfor %}
								    {% endif %}
									{{ form.impuesto }}
								</td>
								<td WIDTH="60">
								</td>
							</tr>
							<tr>
								<td WIDTH="50">											
								</td>
								<td WIDTH="550">
									
								</td>
								<td WIDTH="50">
									TOTAL
								</td>
								<td>
									{% if form.total.errors %}
										{% for error in form.total.errors %}
										<div class="alert alert-danger alert-dismissible" role="alert">							
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>							
								            <strong>Error: </strong> {{ error|escape }}					        
										</div>
								        {% endfor %}
								    {% endif %}
									{{ form.total }}
								</td>
								<td WIDTH="60">
								</td>
							</tr>		
						</tbody>				
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<label>OBSERVACIONES:</label>
					{% if form.observaciones.errors %}
						{% for error in form.observaciones.errors %}
						<div class="alert alert-danger alert-dismissible" role="alert">							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>							
				            <strong>Error: </strong> {{ error|escape }}					        
						</div>
				        {% endfor %}
				    {% endif %}	
					{{ form.observaciones }}
				</div>
			</div>										
		</div>
	</div>		
	<div id="popup"></div>	
</form>		

{% endblock cuerpo %}

{% block js %}
<script>
$(document).ready(function() 
{
	var porc_impuesto = parseFloat($("#id_impuesto_actual").val());
	var contDetalles=parseInt($('#id_form-TOTAL_FORMS').val());
	var subtotal=parseFloat($('#id_subtotal').val());
	var impuesto_total = parseFloat($('#id_impuesto').val());
	var total=parseFloat($('#id_total').val());
	var con_impuesto = false;

	$('#id_con_impuesto').change(function(){
		con_impuesto = $('#id_con_impuesto').prop('checked');
		subtotal = 0;
		impuesto_total = 0;
		total = 0;
		var valorConIGV = 0;
		var valorSinIGV = 0;
		var imp = 0;
		$(".impuesto").each(function()
		{
			var id_input = $(this).prop('id');
			var id = id_input.replace("impuesto","");
			var precio = $("#"+id+"precio").val();
			var cantidad = $("#"+id+"cantidad").val();
			if (con_impuesto)
			{
				valorConIGV = parseFloat(cantidad) * parseFloat(precio);
				valorSinIGV = valorConIGV / (porc_impuesto+1);
				imp = parseFloat(valorConIGV - valorSinIGV)
			}
			else
			{
				valorSinIGV = parseFloat(cantidad) * parseFloat(precio);
				valorConIGV = valorSinIGV * (porc_impuesto+1);
				imp = parseFloat(valorConIGV - valorSinIGV)
			}
			$("#"+id+"valor").val(valorSinIGV.toFixed(5));
			$("#"+id+"impuesto").val(imp.toFixed(5));
			subtotal = subtotal + parseFloat(valorSinIGV);
			impuesto_total = impuesto_total + parseFloat(imp);
			total = subtotal + impuesto_total;
			$("#id_subtotal").val(subtotal.toFixed(2));
			$("#id_impuesto").val(impuesto_total.toFixed(2));
			$("#id_total").val(total.toFixed(2));
			$("#id_total_letras").val(NumeroALetras(total));
		});
	});

	$("#id_fecha").datepicker();	
	
	$("#id_ruc").keyup(function() 
	{
		var ruc=$("#id_ruc").val();
		
		if(ruc.length==11)
		{	
			$.ajax({
		      url: "{% url 'compras:busqueda_proveedores_ruc' %}",
		      data: {'ruc': ruc},
		      success: function(data) 
		      {
		    	  $("#id_razon_social").val(data.razon_social);
		    	  $("#id_direccion").val(data.direccion);
		    	  removeLoading();
		    	  event.preventDefault();
		      }
		    });
		}
	});
	
	$("#id_razon_social").autocomplete({
	  	source: function(request, response){
	    $.ajax({
	      url: "{% url 'compras:busqueda_proveedores_razon_social' %}",
	      data: {'razon_social': $("#id_razon_social").val()},
	      success: function( data ) 
	      {
	          response( data );
	      }
	    });
	  },
	  minLength: 2,
	  select: function( event, ui ) {
		$("#id_ruc").val(ui.item.ruc);
		$("#id_razon_social").val(ui.item.label);
		$("#id_direccion").val(ui.item.direccion);
		return false;
	  },
	});
	
	$(document).on("click",".eliminar",function()
	{
		var parent = $(this).parent().parent();
		var id_boton= $(this).prop('id');
		var id = id_boton.replace("btn-borrar","");
		var valor = $("#"+id+"valor").val();
		var imp = $("#"+id+"impuesto").val();
		subtotal=subtotal-parseFloat(valor);
		impuesto_total = impuesto_total - parseFloat(imp)
		total = subtotal + impuesto_total;
		$(parent).remove();
		$("#id_subtotal").val(subtotal.toFixed(2));
		$("#id_impuesto").val(impuesto_total.toFixed(2));
		$("#id_total").val(total.toFixed(2));
		$("#id_total_letras").val(NumeroALetras(total));
		contDetalles = contDetalles - 1;
		$("#id_form-TOTAL_FORMS").val(contDetalles);
		updateFormElementIndices('detalle_orden_compra_formset');
	});
	
	$(document).on("keyup",".cantidad",function()
	{
		var id_input= $(this).prop('id');
		var id = id_input.replace("cantidad","");
		actualizarValor(id);
	});
	
	$(document).on("keyup",".precio",function()
	{
		var id_input= $(this).prop('id');
		var id = id_input.replace("precio","");
		actualizarValor(id);
	});

	function actualizarValor(id)
	{
		var precio = $("#"+id+"precio").val();
		var cantidad = $("#"+id+"cantidad").val();
		if (precio != "" && cantidad != "")
		{
			var valorAnt = $("#"+id+"valor").val();
			var impAnt = $("#"+id+"impuesto").val();
			if (con_impuesto)
			{
				var valorConIGV = parseFloat(cantidad) * parseFloat(precio);
				var valorSinIGV = valorConIGV / (porc_impuesto+1);
				var imp = parseFloat(valorConIGV - valorSinIGV)
			}
			else
			{
				var valorSinIGV = parseFloat(cantidad) * parseFloat(precio);
				var valorConIGV = valorSinIGV * (porc_impuesto+1);
				var imp = parseFloat(valorConIGV - valorSinIGV)
			}
			$("#"+id+"valor").val(valorSinIGV.toFixed(5));
			$("#"+id+"impuesto").val(imp.toFixed(5));
			subtotal = subtotal - parseFloat(valorAnt) + parseFloat(valorSinIGV);
			impuesto_total = impuesto_total - parseFloat(impAnt) + parseFloat(imp);
			total = subtotal + impuesto_total;
			$("#id_subtotal").val(subtotal.toFixed(2));
			$("#id_impuesto").val(impuesto_total.toFixed(2));
			$("#id_total").val(total.toFixed(2));
			$("#id_total_letras").val(NumeroALetras(total));
		}
	}
	
	$('#id_crear_detalle').click(function(e)
	{
		$('#id_transferencia_cotizacion').prop("disabled", true);
		e.preventDefault();
		$.ajax({
			url : "{% url 'compras:crear_detalle_orden_compra' %}",
			type : 'get',
			success : function(data)
			{
				$.each(data, function(i,item){
					$("#detalles tbody").append( 
						"<tr class='detalle_orden_compra_formset'>" +
						"<td>" + item.cotizacion + item.codigo + "</td>" +
						"<td>" + item.nombre + "</td>" +
						"<td>" + item.unidad + "</td>" +
						"<td>" + item.cantidad + "</td>" +
						"<td>" + item.precio + "</td>" +
						"<td>" + item.impuesto + "</td>" +
						"<td>" + item.valor + "</td>" +
						"<td><button class='eliminar btn btn-small btn-danger' type='button' id='id_form-"+i+"-btn-borrar' name='btn_borrar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
					"</tr>");
					contDetalles = parseInt(contDetalles) + 1;											
				});
				$("#id_form-TOTAL_FORMS").val(contDetalles);
				updateFormElementIndices('detalle_orden_compra_formset');
				bindAutoComplete('productos');		
				$(".decimal").keydown(validar_decimales);
			}
		});
 	});
	
	function bindAutoComplete(classname)
	{
		$("."+classname).autocomplete({
			source: function( request, response ) 
			{
				$.ajax({
				  url: "{% url 'productos:busqueda_productos_descripcion' %}",
				  data: {'descripcion': request.term,'tipo_busqueda': 'PRODUCTOS' },
			      success: function( data ) 
			      {
			          response( data );
			      }
			    });
			},
		    minLength: 2,
		    select: function( event, ui ) 
		    {
		    	var id_producto = $(this).prop('id');
				var id = id_producto.replace("nombre", "");
				$("#"+id+"codigo").val(ui.item.codigo);
				$("#"+id+"nombre").val(ui.item.descripcion);
				$("#"+id+"unidad").val(ui.item.unidad);
				$("#"+id+"precio").val(ui.item.precio);
				return false;
		    },
		});
	}
		
	$('#id_transferencia_cotizacion').click(function(e)
	{
		$('#id_crear_detalle').prop("disabled", true);
		$('#id_ruc').prop("readonly", "readonly");
	    e.preventDefault();
	    ventana_transferencia = $('#popup').dialog(
		{
			title: "Transferencia de Cotización",
			width: 950,
			open: function ()
	        {
				var url="{% url 'compras:transferencia_cotizacion' %}";
	            $(this).load(url);
	        },
			modal: true,
			resizable: false,
			position: { my: "center", at: "center", of: "#page-wrapper"},
	      	buttons: {
	          "Aceptar": transferirCotizacion,
	          "Cancelar": cerrarTransferencia
	        }
		}).dialog('open').load(this.href)
 	});
	
	function transferirCotizacion()
	{		
		var cotizacion = $("#cotizacion").val();		
		contDetalles = 0;
		var impuesto = 0;
		subtotal=0;
		impuesto_total = 0;
		total=0;
		ventana_transferencia.dialog("close");
		$('#detalles td').parent().remove();
		$.ajax({
	      url: "{% url 'compras:busqueda_cotizacion' %}",
	      data: {'codigo': cotizacion},
	      success: function(data) 
	      {
	    	  $("#id_ruc").val(data.ruc);
	    	  $("#id_razon_social").val(data.razon_social);
	    	  $("#id_direccion").val(data.direccion);
	    	  event.preventDefault();
	      }
	    });
		
		$.ajax({
			data : {'cotizacion': cotizacion, 'tipo_busqueda': 'PRODUCTOS'},
			url : "{% url 'compras:obtener_detalle_cotizacion' %}",
			type : 'get',
			success : function(data)
			{
				$.each(data, function(i,item){
					$("#detalles tbody").append( 
					"<tr class='detalle_orden_compra_formset'>" +
						"<td>" + item.cotizacion + item.codigo + "</td>" +
						"<td>" + item.nombre + "</td>" +
						"<td>" + item.unidad + "</td>" +
						"<td>" + item.cantidad + "</td>" +
						"<td>" + item.precio + "</td>" +
						"<td>" + item.impuesto + "</td>" +
						"<td>" + item.valor + "</td>" +
				  		"<td><button class='eliminar btn btn-small btn-danger' type='button' id='id_form-"+i+"-btn-borrar' name='btn_borrar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
					"</tr>");
					contDetalles = contDetalles + 1;
					var val_temp = $("#id_form-"+i+"-valor").val()
					var imp_temp = $("#id_form-"+i+"-impuesto").val()
					total = total + parseFloat(val_temp);
					impuesto_total = impuesto_total + parseFloat(imp_temp);					
				});
				subtotal = total - impuesto_total;
				$("#id_form-TOTAL_FORMS").val(contDetalles);
				$("#id_referencia").val(cotizacion);				
				$("#id_subtotal").val(subtotal.toFixed(2));
				$("#id_impuesto").val(impuesto_total.toFixed(2));
				$("#id_total").val(total.toFixed(2));
				$("#id_total_letras").val(NumeroALetras(total));
				$(".decimal").keydown(validar_decimales);
				$("#id_observaciones").val(observaciones);
				$(".decimal").keydown(validar_decimales);
			}
		});
	}
	
	function cerrarTransferencia()
	{
		ventana_transferencia.dialog("close");
	}
	
	$(document).on("focusout",".precio",function()
	{
		var precio= $(this).val();
		if(precio==0)
		{
			alert("El precio no puede ser cero");			
		}		
	});
	
	$(document).on("focusout",".cantidad",function()
	{
		var cantidad= $(this).val();
		if(cantidad==0)
		{
			alert("La cantidad no puede ser cero");			
		}		
	});
	
	function validar_ceros()
	{	
		var control_ceros = false;
		$(".cantidad").each(function()
		{
			if($(this).val()==0)
			{
				control_ceros = true;
			}
		});
		
		$(".precio").each(function()
		{
			if($(this).val()==0)
			{
				control_ceros = true;
			}
		});
		return control_ceros;
	}
	
	$("form").submit(function(event) 
	{
		var cont=0;
		var forma_pago = $('#id_forma_pago').val();
		var ruc = $('#id_ruc').val();
		var fecha = $('#id_fecha').val().trim();
		if(ruc != '')
		{					
			if(fecha != '')
			{					
				if(forma_pago)
				{
					if (contDetalles > 0)
					{
						if(validar_ceros()==false)
						{
							return;								
						}
						else
						{
							alert("Revise el detalle el valor no puede ser cero");
						}		
					}
					else
					{
						alert("No ha ingresado ningún detalle");	
					}
				}
				else
				{
					alert("No ha ingresado una forma de pago");
				}				
			}
			else
			{
				alert("No ha seleccionado fecha");
			}
		}
		else
		{
			alert("No ha ingresado el ruc del proveedor");
		}
		event.preventDefault();
	});
});
</script>
{% endblock js %}