{% extends "compras/base_compras.html" %}
{% block cuerpo %}
<h3>Proveedores / Nuevo</h3>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			    Proveedor.
			</div>
			<div class="panel-body">
				<form role="form" action="" method="post">	
					{% csrf_token %}
					<div class="form-group">
						{{ form.as_p }}
					</div>
					<div class='form-group'>
						<input type="button" class="btn btn-primary" id="operacion">
						<button type="reset" class="btn btn-primary" onclick="location.href='{% url 'compras:proveedores' %}'">
						    Cancelar
						</button>
					</div>
				</form>			
			</div>
		</div>
	</div>
</div>

{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	var mySpinner = null;
	var operacion = $("#id_operacion").val();
	if(operacion=='Modificar')
	{
		$("#operacion").val("Modificar");  
	}
	else{
		$("#operacion").val("Crear");
	}
	
	function setupLoading() 
	{    
	    $('<div id="divSpin" />').appendTo(document.body);

	    var target = document.getElementById("divSpin");

	    var opts = {
	        lines: 13, // The number of lines to draw
	        length: 20, // The length of each line
	        width: 10, // The line thickness
	        radius: 30, // The radius of the inner circle
	        corners: 1, // Corner roundness (0..1)
	        rotate: 8, // The rotation offset
	        direction: 1, // 1: clockwise, -1: counterclockwise
	        color: '#000', // #rgb or #rrggbb or array of colors
	        speed: 1, // Rounds per second
	        trail: 60, // Afterglow percentage
	        shadow: false, // Whether to render a shadow
	        hwaccel: false, // Whether to use hardware acceleration
	        className: 'mySpin', // The CSS class to assign to the spinner
	        zIndex: 2e9, // The z-index (defaults to 2000000000)
	        top: '50%', // Top position relative to parent
	        left: '50%' // Left position relative to parent
	    };

	    mySpinner = new Spinner(opts).spin(target);
	}

	function removeLoading(){
	    mySpinner.stop();
	}

	function showLoading() {
	    mySpinner.spin();
	}
	
	$(".entero").keydown(validar_numeros);
	
	$("#operacion").click(function() 
	{
		var ruc=$("#id_ruc").val();
		
		if(ruc.length==11)
		{
			setupLoading();
			$.ajax({
		      url: "{% url 'compras:nuevo_proveedor_sunat' %}",
		      data: {'ruc': ruc},
		      success: function(data) 
		      {
		    	  if(data.razon_social!="Proveedor no existe")
		    	  {
		    		  removeLoading();
		    		  if(operacion=='Modificar'){
		    			  alert("Proveedor: "+data.razon_social.trim()+" ha sido modificado");  
		    		  }
		    		  else{
		    			  alert("Proveedor: "+data.razon_social.trim()+" ha sido creado");
		    		  }
		    		  
			    	  window.location.href = "{% url 'compras:proveedores' %}";  
		    	  }
		    	  else
		    	  {
		    		  removeLoading();
		    		  alert(data.razon_social);
		    		  $("#id_ruc").val("")
		    	  }
		      }
		    });
		}
		else{
			alert("El RUC debe tener una longitud de 11 dígitos")
		}
	});
});
</script>
{% endblock js %}