{% extends "compras/base_compras.html" %} 
{% block cuerpo %}
{% if object %}
<h3>Productos / {{ object.razon_social }}</h3>
{% else %}
<h3>Productos / Nuevo</h3>
{% endif %}
<form role="form" action="#" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col-lg-10">			
			<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
			{% if object %}
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'compras:detalle_proveedor' object.pk %}'">
				Cancelar
			</button>
			{% else %}
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'compras:proveedores' %}'">
				Cancelar
			</button>
			{% endif %}
		</div>
		<div class="col-lg-2 text-right">
			<div class="btn-group">
				{% if object %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'compras:modificar_proveedor' proveedor.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'compras:modificar_proveedor' proveedor.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				{% endif %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'compras:proveedores' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-2">
					<a href="/media/{{ object.imagen.url }}" class="thumbnail"> <img
						src="/media/{{ object.imagen.url }}" alt="Imagen Producto"
						style="width: 120px; height: 90px">
					</a>
				</div>
				<div class="col-lg-7">
					<label>RAZÓN SOCIAL:</label>
					<h3>{{ form.razon_social }}</h3>
				</div>
				<div class="col-lg-3">
					<div class="btn-group">
						<button class="btn btn-default" type="button">
							<span class="fa fa-shopping-cart fa-2x"></span> 0 <br>
							Compras
						</button>
						<button class="btn btn-default" type="button">
							<span class="fa fa-truck fa-2x"></span> 0 <br> Facturas
						</button>
					</div>
				</div>
			</div>
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#general">Información General</a></li>
				<li><a data-toggle="tab" href="#representantes">Representantes Legales</a></li>
			</ul>
			<div class="tab-content">
				<div id="general" class="tab-pane fade in active">
					<br>
					<div class="row">
						<div class="col-lg-4">
							<label>RUC:</label>
							<p>{{ form.ruc }}</p>
							<label>DIRECCIÓN:</label>
							<p>{{ form.direccion }}</p>
							<label>ESTADO SUNAT: </label>
							<p>{{ form.estado_sunat }}</p>
							<label>CONDICIÓN: </label>
							<p>{{ form.condicion }}</p>	
						</div>
						<div class="col-lg-4">
							<label>CIIU: </label>
							<p>{{ form.ciiu }}</p>
							<label>FECHA ALTA: </label>
							<p>{{ form.fecha_alta }}</p>
							<label>TELÉFONO: </label>
							<p>{{ form.telefono }}</p>
							<label>EMAIL: </label>
							<p>{{ form.correo }}</p>
						</div>
						<div class="col-lg-4"></div>
					</div>
				</div>
				<div id="representantes" class="tab-pane fade">
					<br>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	var mySpinner = null;	
	$("#id_fecha_alta").datepicker();
	
	function setupLoading() 
	{    
	    $('<div id="divSpin" />').appendTo(document.body);

	    var target = document.getElementById("divSpin");

	    var opts = {
	        lines: 13, // The number of lines to draw
	        length: 20, // The length of each line
	        width: 10, // The line thickness
	        radius: 30, // The radius of the inner circle
	        corners: 1, // Corner roundness (0..1)
	        rotate: 8, // The rotation offset
	        direction: 1, // 1: clockwise, -1: counterclockwise
	        color: '#000', // #rgb or #rrggbb or array of colors
	        speed: 1, // Rounds per second
	        trail: 60, // Afterglow percentage
	        shadow: false, // Whether to render a shadow
	        hwaccel: false, // Whether to use hardware acceleration
	        className: 'mySpin', // The CSS class to assign to the spinner
	        zIndex: 2e9, // The z-index (defaults to 2000000000)
	        top: '50%', // Top position relative to parent
	        left: '50%' // Left position relative to parent
	    };

	    mySpinner = new Spinner(opts).spin(target);
	}

	function removeLoading(){
	    mySpinner.stop();
	}

	function showLoading() {
	    mySpinner.spin();
	}
	
});
</script>
{% endblock js %}