{% extends "compras/base_compras.html" %}
{% block cuerpo %}
<h3>Proveedores</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.compras.add_proveedor %}
        <a href="{% url 'compras:crear_proveedor' %}" class="btn btn-primary">
            Crear
        </a>
        {% endif %}
        {% if perms.compras.cargar_proveedores %}
        <a href="{% url 'compras:cargar_proveedores' %}" class="btn btn-default">
            Importar
        </a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            {% if perms.compras.ver_reporte_proveedores_excel %}
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'compras:maestro_proveedores_excel' %}';">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <table id="tabla" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="text-center">RUC</th>
                <th class="text-center">RAZON SOCIAL</th>
            </tr>
            </thead>
            <tbody>
            {% for proveedor in proveedores %}
            {% if perms.compras.ver_detalle_proveedor %}
            <tr onclick="location.href='{% url 'compras:detalle_proveedor' proveedor.pk %}';">
                {% else %}
            <tr>
                {% endif %}
                <td>{{ proveedor.ruc }}</td>
                <td>{{ proveedor.razon_social }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});  
    
    $(document).on("click",".eliminar",function()
	{
		borrarSeleccionado = $(this);		
		ventana = $( "#dialog-confirm" ).dialog({
		  resizable: false,
		  height:140,
		  modal: true,
		  buttons: 
		  {
			"Borrar": borrarProveedor,
		    "Cancelar": cerrarBorrarProveedor
		  }
		});		
	});
	   
	function borrarProveedor()
	{
	   	var id_boton= $(borrarSeleccionado).prop('id');
	   	var ruc = id_boton.replace("elim_","");
	   	$.ajax({
	   		data : {'ruc': ruc},
	   		url : "{% url 'compras:eliminar_proveedor' %}",
	   		type : 'get',
	   		success : function(data)
	   		{
	   			alert("Proveedor "+data.ruc+ " eliminado");
	   			table.row('.selected').remove().draw(false);	   			    			
	   		}
	   	});
		ventana.dialog("close");
	}
	   
	function cerrarBorrarProveedor()
	{
		ventana.dialog("close");
	}
});

</script>
{% endblock js %}