{% extends "compras/base_purchases.html" %}
{% block cuerpo %}
{% if object %}
<h3>Proveedores / {{ object.business_name }}</h3>
{% else %}
<h3>Proveedores / Nuevo</h3>
{% endif %}
<form role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <button type="button" class="btn btn-info" id="id_sunat">Datos SUNAT</button>
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'compras:supplier_detail' object.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-default" onclick="location.href='{% url 'compras:supplier_list' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-right">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'compras:supplier_update' supplier.previous %}';">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'compras:supplier_update' supplier.next %}';">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                {% endif %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'compras:supplier_list' %}';">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/media/{{ object.image.url }}" class="thumbnail"> <img
                            src="/media/{{ object.image.url }}" alt="Imagen Producto"
                            style="width: 120px; height: 90px">
                    </a>
                </div>
                <div class="col-lg-7">
                    <label>RAZÓN SOCIAL:</label>
                    {% if form.business_name.errors %}
                    {% for error in form.business_name.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <h3>{{ form.business_name }}</h3>
                </div>
                <div class="col-lg-3">
                    <div class="btn-group">
                        <button class="btn btn-default" type="button">
                            <span class="fa fa-shopping-cart fa-2x"></span> 0 <br>
                            Compras
                        </button>
                        <button class="btn btn-default" type="button">
                            <span class="fa fa-truck fa-2x"></span> 0 <br> Facturas
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#general">Información General</a></li>
                <li><a data-toggle="tab" href="#representatives">Representantes Legales</a></li>
            </ul>
            <div class="tab-content">
                <div id="general" class="tab-pane fade in active">
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>RUC:</label>
                            {% if form.tax_id.errors %}
                            {% for error in form.tax_id.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.tax_id }}</p>
                            <label>DIRECCIÓN:</label>
                            {% if form.address.errors %}
                            {% for error in form.address.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.address }}</p>
                            <label>ESTADO SUNAT: </label>
                            {% if form.sunat_status.errors %}
                            {% for error in form.sunat_status.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.sunat_status }}</p>
                            <label>CONDICIÓN: </label>
                            {% if form.sunat_condition.errors %}
                            {% for error in form.sunat_condition.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.sunat_condition }}</p>
                        </div>
                        <div class="col-lg-4">
                            <label>CIIU: </label>
                            {% if form.ciiu.errors %}
                            {% for error in form.ciiu.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.ciiu }}</p>
                            <label>FECHA ALTA: </label>
                            {% if form.registration_date.errors %}
                            {% for error in form.registration_date.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.registration_date }}</p>
                            <label>TELÉFONO: </label>
                            {% if form.phone.errors %}
                            {% for error in form.phone.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.phone }}</p>
                            <label>EMAIL: </label>
                            {% if form.email.errors %}
                            {% for error in form.email.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.email }}</p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
                <div id="representatives" class="tab-pane fade">
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	var mySpinner = null;	
	$("#id_registration_date").datepicker();
	$(".quantity").keydown(validar_numeros);
	
	function setupLoading() 
	{    
	    $('<div id="divSpin" />').appendTo(document.body);

	    var target = document.getElementById("divSpin");

	    var opts = {
	        lines: 13, // The number of lines to draw
	        length: 20, // The length of each line
	        width: 10, // The line thickness
	        radius: 30, // The radius of the inner circle
	        corners: 1, // Corner roundness (0..1)
	        rotate: 8, // The rotation offset
	        direction: 1, // 1: clockwise, -1: counterclockwise
	        color: '#000', // #rgb or #rrggbb or array of colors
	        speed: 1, // Rounds per second
	        trail: 60, // Afterglow percentage
	        shadow: false, // Whether to render a shadow
	        hwaccel: false, // Whether to use hardware acceleration
	        className: 'mySpin', // The CSS class to assign to the spinner
	        zIndex: 2e9, // The z-index (defaults to 2000000000)
	        top: '50%', // Top position relative to parent
	        left: '50%' // Left position relative to parent
	    };

	    mySpinner = new Spinner(opts).spin(target);
	}

	function removeLoading(){
	    mySpinner.stop();
	}

	function showLoading() {
	    mySpinner.spin();
	}
});

</script>
{% endblock js %}