{% extends "base.html" %}
{% block menu %}
<div id="sidebar-nav navbar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<ul class="nav" id="side-menu">
		<li class="parent">
			<a href="#">
				<span class="fa-lg" data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg></span> Cuenta
				<span class="fa arrow"></span>
			</a>
			<ul class="children collapse" id="sub-item-1">
				<li>
					<a href="{% url 'seguridad:cambiar_password' %}">
						<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Cambiar Contraseña
					</a>
				</li>
			</ul>
		</li>
		<!--<li role="presentation" class="divider"></li>-->
	</ul>
</div>
{% endblock menu %}