{% extends "seguridad/base_seguridad.html" %}
{% block cuerpo %}
<h3>Cuenta / Cambiar Contraseña</h3>
<form action="{% url 'seguridad:password_change' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Cambiar">
            <button type="button" class="btn btn-default" onclick="location.href='{% url 'seguridad:home' %}'">
                Cancelar
            </button>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label>Contraseña Actual:</label>
                {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                {% include "includes/error.html" %}
                {% endfor %}
                {% endif %}
                {{ form.old_password }}
                <p class="help-block">Ingrese su contraseña actual.</p>
            </div>
            <div class="form-group">
                <label>Contraseña Nueva:</label>
                {% if form.new_password.errors %}
                {% for error in form.new_password.errors %}
                {% include "includes/error.html" %}
                {% endfor %}
                {% endif %}
                {{ form.new_password }}
                <p class="help-block">Ingrese la contraseña nueva.</p>
            </div>
            <div class="form-group">
                <label>Contraseña de Verificación:</label>
                {% if form.password_confirmation.errors %}
                {% for error in form.password_confirmation.errors %}
                {% include "includes/error.html" %}
                {% endfor %}
                {% endif %}
                {{ form.password_confirmation }}
                <p class="help-block">Ingrese nuevamente la contraseña nueva.</p>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}