{% extends "base_almacen.html" %}
{% block titulo_cuerpo %}
Movimientos
{% endblock titulo_cuerpo %}
{% block cuerpo %}

<form role="form" action="{% url 'almacen:modificar_inventario_inicial' movimiento.id_movimiento %}" method="post">
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Inventario Inicial</h1>
	    </div>    
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
				    DATOS GENERALES
				</div>
				<div class="panel-body">					
					{% csrf_token %}
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">
								<label>CODIGO:</label>  
								{{ form.id_movimiento }}
							</div>														
						</div>
						<div class="row">							
							<div class="col-md-3">
								<label>Almacén:</label> 
								{{ form.almacenes }}								
							</div>
							<div class="col-md-3">			
								<label>Fecha:</label> 
								{{ form.fecha }}
							</div>
							<div class="col-md-3">	
								<label>Hora:</label> 
								{{ form.hora }}
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>				
	<div class="row">							
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">DETALLE</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-10">							
						</div>	
						<div class="col-lg-2">
							<div class='form-group'>
								<a id="crear_detalle" href="{% url 'almacen:crear_detalle_ingreso' %}" class="btn btn-info btn-block">
									<span class="glyphicon glyphicon-plus">AGREGAR</span>
								</a>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table id="detalles" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>ID Suministro</th>
										<th>Suministro</th>
										<th>Unidad</th>	
										<th>Cantidad</th>	
										<th>Precio</th>
										<th>Valor</th>
										<th>Borrar</th>
									</tr>
								</thead>
								<tbody>	
								{% for detalle in detalles %}
									<tr>
								  		<td>
								  			<input class='form-control' type='text' size=14 readonly='readonly' name="codigo{{ detalle.nro_detalle }}" id="codigo{{ detalle.nro_detalle }}" value="{{ detalle.producto.codigo }}"/>
								  		</td>
								  		<td>
								  			<input class='form-control' type='text' size=25 readonly='readonly' name="nombre{{ detalle.nro_detalle }}" id="nombre{{ detalle.nro_detalle }}" value="{{ detalle.producto.descripcion }}"/>
								  		</td>
								  		<td>
								  			<input class='form-control' type='text' size=10 readonly='readonly' name="unidad{{ detalle.nro_detalle }}" id="unidad{{ detalle.nro_detalle }}" value="{{ detalle.producto.unidad_medida.descripcion }}"/>
								  		</td>
								  		<td>
								  			<input class='form-control cantidad' type='text' size=5 name="cantidad{{ detalle.nro_detalle }}" id="cantidad{{ detalle.nro_detalle }}" value="{{ detalle.cantidad }}"/>
								  		</td>
								  		<td>
								  			<input class='form-control precio' type='numeric' size=10 name="precio{{ detalle.nro_detalle }}" id="precio{{ detalle.nro_detalle }}" value="{{ detalle.precio }}"/>
								  		</td>
								  		<td>
								  			<input class='form-control' type='text' readonly='readonly' size=14 name="valor{{ detalle.nro_detalle }}" id="valor{{ detalle.nro_detalle }}" value="{{ detalle.valor }}"/>
								  		</td>
								  		<td>
								  			<button class='eliminar btn btn-small btn-danger' type='button' id="btnBorrar{{ detalle.nro_detalle }}" name='guardar'><span class='glyphicon glyphicon-remove'></span>
								  			</button>
								  		</td>
									</tr>
								{% endfor %}		
								</tbody>				
							</table>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table id="tabla_total" class="table table-striped table-hover">
				<tbody>	
					<tr>
						<td WIDTH="50">											
						</td>
						<td WIDTH="590">
							
						</td>
						<td WIDTH="50">
							TOTAL
						</td>
						<td>
							{{ form.total }}
						</td>
						<td WIDTH="80">
						</td>
					</tr>		
				</tbody>				
			</table>
		</div>
	</div>
	<div id="popup"></div>
	<div class="row">
		<div class="col-lg-4">
			<input type="hidden" name="cdetalles" id="cdetalles" value={{ cant_detalles }}>
		</div>		
		<div class="col-lg-2">
			<div class='form-group'>				 
				<input class="btn btn-primary btn-block" type="submit" id="guardar" name="guardar" value="GUARDAR">
			</div>
		</div>
		<div class="col-lg-2">
			<div class='form-group'>				 
				<input class="btn btn-primary btn-block" type="button" onclick="location.href='{% url 'almacen:nota_ingreso' movimiento.id_movimiento %}';" id="limpiar" name="limpiar" value="VER PDF">
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
</form>	

{% endblock cuerpo %}

{% block js %}
<script>
	var total= parseFloat($('#id_total').val());
	var contDetalles = parseInt($('#cdetalles').val());
	$("#id_fecha").datepicker();
	$('#id_hora').wickedpicker({now: mostrarhora(), twentyFour: true, title:'Hora de Ingreso', showSeconds: true});
	
	function agregarCero(n)
	{
	  if(n>9)
	  {
	    return n
	  }
	  else{
	    return "0"+n;
	  }
	}
	
	function mostrarhora()
	{
		var f=new Date();
		cad=agregarCero(f.getHours())+" : "+agregarCero(f.getMinutes())+" : "+agregarCero(f.getSeconds());
		return cad;
	}
	
	$(document).on("click",".eliminar",function()
	{
		var parent = $(this).parent().parent();	
		var id_boton= $(this).prop('id');
		var id = id_boton.replace("btnBorrar","");
		var valor = $("#valor"+id).val();
		$(parent).remove();
		total=parseFloat(total-valor);
		$("#id_total").val(total.toFixed(5));
	});	
    
	$('#crear_detalle').click(function(e){
	    e.preventDefault()
		ventana = $('#popup').dialog(
		{
			title: "Agregar Detalle",
			width: 950,
			modal: true,
			resizable: false,
			position: { my: "center", at: "center", of: "#page-wrapper"},
	      	buttons: {
	          "Aceptar": agregarDetalle,
	          "Cancelar": cerrarDetalle
	        }
		}).dialog('open').load(this.href)
 	});
 	
	function agregarDetalle() 
	{
		contDetalles = contDetalles + 1;
		cantidad = $("#id_cantidad").val();
		if(cantidad>0)
		{
			codigo = $("#id_codigo").val(),
		    nombre = $("#id_nombre").val(),
		    unidad = $("#id_unidad").val(),	    
			precio = $("#id_precio").val();
			valor = $("#id_valor").val();
			$("#detalles tbody").append( 
			"<tr>" +
		  	"<td><input class='form-control' type='text' size=10 readonly='readonly' name='codigo"+contDetalles+"' id='codigo"+contDetalles+"' value='" + codigo + "'/></td>" +
		  	"<td><input class='form-control' type='text' size=25 readonly='readonly' name='nombre"+contDetalles+"' id='nombre"+contDetalles+"' value='" + nombre + "'/></td>" +
		  	"<td><input class='form-control' type='text' size=10 readonly='readonly' name='unidad"+contDetalles+"' id='unidad"+contDetalles+"' value='" + unidad + "'/></td>" +
		  	"<td><input class='form-control cantidad' type='numeric' size=5 name='cantidad"+contDetalles+"' id='cantidad"+contDetalles+"' value='" + cantidad + "'/></td>" +
		  	"<td><input class='form-control precio' type='numeric' readonly='readonly' size=10 name='precio"+contDetalles+"' id='precio"+contDetalles+"' value='" + precio + "'/></td>" +
		  	"<td><input class='form-control' type='text' readonly='readonly' size=14 name='valor"+contDetalles+"' id='valor"+contDetalles+"' value='" + valor + "'/></td>" +
		  	"<td><button class='eliminar btn btn-small btn-danger' type='button' id='btnBorrar"+contDetalles+"' name='guardar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
			"</tr>");
			total = total+parseFloat(valor);
			$("#total").val(total.toFixed(5));
		}
		ventana.dialog( "close" );
    }
	
	function cerrarDetalle()
	{
		ventana.dialog("close");
	}
	
	$(document).on("keyup",".cantidad",function()
	{
		var id_input= $(this).prop('id');
		var id = id_input.replace("cantidad","");
		var cantidad = $("#cantidad"+id).val();
		var precio = $("#precio"+id).val();
		var valorAnt = $("#valor"+id).val();
		var valor=parseFloat(cantidad)*parseFloat(precio);
		$("#valor"+id).val(valor.toFixed(5));
		total=total-parseFloat(valorAnt)+parseFloat(valor);
		$("#id_total").val(total.toFixed(5));		
	});
	
	$(document).on("keyup",".precio",function()
	{
		var id_input= $(this).prop('id');
		var id = id_input.replace("precio","");
		var cantidad = $("#cantidad"+id).val();
		var precio = $("#precio"+id).val();
		var valorAnt = $("#valor"+id).val();
		var valor=parseFloat(cantidad)*parseFloat(precio);
		$("#valor"+id).val(valor.toFixed(5));
		total=total-parseFloat(valorAnt)+parseFloat(valor);
		$("#id_total").val(total.toFixed(5));
	});
	
	$("form").submit(function( event ) 
	{
		var cont=0;
		$('#cdetalles').val(contDetalles);
		var almacen = $('#almacenes').val().trim();
		var fecha = $('#fecha').val().trim();
		if(almacen != '') 
		{			
			if(fecha != '')
			{
				if (contDetalles > 0)
				{
					return;
				}
				else
				{
					alert("No ha ingresado ningún detalle")	
				}
			}
			else
			{
				alert("No ha seleccionado fecha")
			}
		}
		else
		{
			alert("No ha seleccionado almacén");
		}				
		event.preventDefault();
	});
   	
	</script>
{% endblock js %}