{% extends "base_almacen.html" %}
{% block cuerpo %}
<h3>Pedidos / {{ pedido.codigo }}</h3>
<form role="form" action="{% url 'almacen:modificar_pedido' pedido.codigo %}" method="post">	
	<div class="row">
		<div class="col-lg-10">
			<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'almacen:detalle_pedido' pedido.pk %}'">
				Cancelar
			</button>
		</div>
		<div class="col-lg-2 text-right">
			<div class="btn-group">
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'almacen:modificar_pedido' pedido.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'almacen:modificar_pedido' pedido.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'almacen:pedidos' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="panel panel-primary">
		<div class="panel-body">					
			{% csrf_token %}
			<div class="form-group">	
				<div class="row">							
					<div class="col-md-3">			
						<label>Código:</label> 
						{{ form.codigo }}
					</div>														
				</div>
			</div>
			<div class="form-group">
				<div class="row">							
					<div class="col-md-3">			
						<label>Fecha:</label> 
						{{ form.fecha }}
					</div>														
				</div>						
			</div>
			<div class="row">
				<div class="col-lg-10">							
				</div>	
				<div class="col-lg-2">
					<div class='form-group'>
						<a id="id_crear_detalle" href="{% url 'almacen:crear_detalle_pedido' %}" class="btn btn-info btn-block">
							<span class="glyphicon glyphicon-plus">DETALLE</span>
						</a>
					</div>
				</div>						
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table id="detalles" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Código</th>
								<th>Descripción</th>
								<th>Unidad</th>
								<th>Cantidad</th>																						
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							{{ detalle_pedido_formset.management_form }}
						    {% for detalle_pedido_form in detalle_pedido_formset %}					        
					            <tr class="detalle_pedido_formset">
					            	<td>
					            		{% if detalle_pedido_form.codigo.errors %}
											{% for error in detalle_pedido_form.codigo.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
						            	{{ detalle_pedido_form.codigo }}
					            	</td>
					            	<td>
						            	{% if detalle_pedido_form.nombre.errors %}
											{% for error in detalle_pedido_form.nombre.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_pedido_form.nombre }}
						            </td>
						            <td>
							            {% if detalle_pedido_form.unidad.errors %}
											{% for error in detalle_pedido_form.unidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_pedido_form.unidad }}
						            </td>
						            <td>
							            {% if detalle_pedido_form.cantidad.errors %}
											{% for error in detalle_pedido_form.cantidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_pedido_form.cantidad }}
						            </td>
						            <td>
						           		<button class='eliminar btn btn-small btn-danger' type='button' id='id_form-{{ forloop.counter0 }}-btn-borrar' name='btn_borrar'>
						           			<span class='glyphicon glyphicon-remove'></span>
						           		</button>
						           	</td>				           	
					           	</tr>					           	
						    {% endfor %}	
						</tbody>				
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<label>OBSERVACIONES:</label>	
					{{ form.observaciones }}
				</div>
			</div>	
		</div>
	</div>
	<div id="popup"></div>	
	<div class="row">
		<div class="col-lg-4">
			<input type="hidden" name="cdetalles" id="cdetalles" value={{ cant_detalles }}>
		</div>
	</div>
</form>		

{% endblock cuerpo %}

{% block js %}
<script>
$(document).ready(function() 
{
	var contDetalles = parseInt($('#cdetalles').val());
	var ultimo_item = contDetalles;
	$("#id_fecha").datepicker();
	$(document).on("click",".eliminar",function()
	{
		var parent = $(this).parent().parent();	
		var id_boton= $(this).prop('id');
		var id = id_boton.replace("btnBorrar","");
		var valor = $("#valor"+id).val();
		$(parent).remove();
		total=parseFloat(total-valor);
		$("#id_total").val(total.toFixed(5));
		contDetalles = contDetalles - 1;
	});	
    
	$('#id_crear_detalle').click(function(e)
	{
	    e.preventDefault()
		ventana = $('#popup').dialog(
		{
			title: "Agregar Detalle",
			width: 950,
			modal: true,
			resizable: false,
			position: { my: "center", at: "center", of: "#page-wrapper"},
	      	buttons: {
	          "Aceptar": agregarDetalle,
	          "Cancelar": cerrarDetalle
	        }
		}).dialog('open').load(this.href)
 	});
	
	function agregarDetalle() 
	{
		codigo = $("#id_codigo").val();
		nombre = $("#id_nombre").val();
	    unidad = $("#id_unidad").val();
	    cantidad = $("#id_cantidad").val();
		if(codigo!='' && nombre!='' && unidad!='' && cantidad!='')
		{
			contDetalles = contDetalles + 1;
			ultimo_item = ultimo_item + 1;
			$("#detalles tbody").append( 
			"<tr>" +
			"<td><input class='form-control' type='text' size=25 readonly='readonly' name='codigo"+ultimo_item+"' id='codigo"+ultimo_item+"' value='" + codigo + "'/></td>" +
			"<td><input class='form-control' type='text' size=25 readonly='readonly' name='nombre"+ultimo_item+"' id='nombre"+ultimo_item+"' value='" + nombre + "'/></td>" +
			"<td><input class='form-control' type='text' size=1 readonly='readonly' name='unidad"+ultimo_item+"' id='unidad"+ultimo_item+"' value='" + unidad + "'/></td>" +
			"<td><input class='cantidad decimal form-control' type='numeric' size=1 name='cantidad"+ultimo_item+"' id='cantidad"+ultimo_item+"' value='" + cantidad + "'/></td>" +							  	
		  	"<td><button class='eliminar btn btn-small btn-danger' type='button' id='btnBorrar"+ultimo_item+"' name='guardar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
			"</tr>");
			$(".decimal").keydown(validar_decimales);
		}
		ventana.dialog( "close" );
    }	
	
	function cerrarDetalle()
	{
		ventana.dialog("close");
	}
	
	$(document).on("focusout",".cantidad",function()
	{
		var cantidad= $(this).val();
		if(cantidad==0)
		{
			alert("La cantidad no puede ser cero");			
		}		
	});
	
	function validar_ceros()
	{	
		var control_ceros = false;
		$(".cantidad").each(function()
		{
			if($(this).val()==0)
			{
				control_ceros = true;
			}
		});
		
		return control_ceros;
	}
		
	$("form").submit(function( event ) 
	{
		var cont=0;		
		var fecha = $('#id_fecha').val().trim();		
		var observaciones = $('#id_observaciones').val().trim();
		$('#cdetalles').val(ultimo_item);
		if(fecha != '')
		{					
			if (contDetalles > 0)
			{
				if(validar_ceros()==false)
				{
					return;								
				}
				else
				{
					alert("Revise el detalle el valor no puede ser cero");
				}							
			}
			else
			{
				alert("No ha ingresado ningún detalle");
			}
		}
		else
		{
			alert("Ingrese la fecha");
		}
			
		event.preventDefault();
	});
});
</script>
{% endblock js %}