{% extends "base_administracion.html" %}
{% block cuerpo %}
<h3>Puestos</h3>
<div class="row">
	<div class="col-lg-10">
		{% if perms.administracion.add_puesto %}
		<a href="{% url 'administracion:crear_puesto' %}" class="btn btn-primary">
			Crear
		</a>												
		{% endif %}
		{% if perms.administracion.cargar_puestos %}
		<a href="{% url 'administracion:cargar_puestos' %}" class="btn btn-default">
			Importar
		</a>						
		{% endif %}
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			{% if perms.administracion.ver_reporte_puestos_excel %}						
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'administracion:reporte_excel_puestos' %}';">
           		<span class="glyphicon glyphicon-list-alt"></span>
            </button>
			{% endif %}	
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">NOMBRE</th>
					<th class="text-center">TRABAJADOR</th>
					<th class="text-center">OFICINA</th>					
				</tr>
			</thead>							
			<tbody>
			{% for puesto in puestos %}
				{% if perms.administracion.ver_detalle_puesto %}
				<tr onclick="location.href='{% url 'administracion:detalle_puesto' puesto.pk %}';">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ puesto.nombre }}</td>
					<td>{{ puesto.trabajador }}</td>
					<td>{{ puesto.oficina }}</td>					
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>		
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	}); 
    
});
</script>
{% endblock js %}