{% extends "base.html" %}
{% block menu %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-wrench fa-lg"></i> Configuración<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% if perms.productos.ver_tabla_grupos_productos %}
                    <li><a href="{% url 'productos:grupos_productos' %}">Grupos de Productos</a></li>
                    {% endif %}
                    {% if perms.productos.ver_tabla_productos %}
                    <li><a href="{% url 'productos:productos' %}">Productos</a></li>
                    {% endif %}
                    {% if perms.productos.ver_tabla_productos %}
                    <li><a href="{% url 'productos:servicios' %}">Servicios</a></li>
                    {% endif %}
                    {% if perms.productos.ver_tabla_unidades_medida %}
                    <li><a href="{% url 'productos:unidades_medida' %}">Unidades de Medida</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-sort"></i> Operaciones<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-stats"></i> Reportes<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                </ul>
            </li>
        </ul>
    </div>
</div>

{% endblock menu %}