{% extends "compras/base_productos.html" %} 
{% block cuerpo %}
<h3>Grupos de Productos / {{ object.descripcion }}</h3>
<div class="row">
	<div class="col-lg-10">
		{% if perms.productos.change_grupoproductos %} <a
			class="btn btn-primary"
			href="{% url 'productos:modificar_grupo_productos' object.pk %}">
			Editar </a> {% endif %} {% if perms.productos.delete_grupoproductos %}
		<button class="btn btn-danger" type="button" id="id_eliminar">
			Eliminar</button>
		{% endif %}
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'productos:detalle_grupo_productos' object.anterior %}';">
				<span class="glyphicon glyphicon-step-backward"></span>
			</button>
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'productos:detalle_grupo_productos' object.siguiente %}';">
				<span class="glyphicon glyphicon-step-forward"></span>
			</button>
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'productos:grupos_productos' %}';">
				<span class="glyphicon glyphicon-th-list"></span>
			</button>
		</div>
	</div>
</div>
<hr />
<div id="dialog-confirm" title="Eliminar Grupo de Productos"></div>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-7">
				<h3>{{ object.descripcion }}</h3>
			</div>
			<div class="col-lg-5">
				<div class="btn-group">
					<button class="btn btn-default" type="button">
						<span class="fa fa-building fa-2x"></span> {{ object.stock }} <br>
						Stock
					</button>
					<button class="btn btn-default" type="button">
						<span class="fa fa-truck fa-2x"></span> {{ object.stock }} <br>
						Previsto
					</button>
					<button class="btn btn-default" type="button" onclick="location.href='{% url 'productos:listado_productos_grupo' object.pk %}';">
						<span class="fa fa-shopping-cart fa-2x"></span> {{ object.stock }}
						<br> Productos
					</button>
				</div>
			</div>
		</div>
		<br>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#general">Información
					General</a></li>
		</ul>
		<div class="tab-content">
			<div id="general" class="tab-pane fade in active">
				<br>
				<div class="row">
					<div class="col-lg-4">
						<label>CODIGO:</label>
						<p>{{ object.codigo }}</p>
						<label>CTA. CONTABLE: </label>
						<p>{{ object.ctacontable }}</p>
					</div>
					<div class="col-lg-4">
						<label>FECHA REGISTRO: </label>
						<p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
						<label>FECHA MODIFICACIÓN: </label>
						<p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
						<label>ESTADO: </label> {% if object.estado %}
						<p>ACTIVO</p>
						{% else %}
						<p>INACTIVO</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock cuerpo %} {% block js %}
<script>
	$(document).ready(
			function() {
				$('#id_eliminar').click(function(e) {
					e.preventDefault();
					ventana = $("#dialog-confirm").dialog({
						resizable : false,
						height : 140,
						modal : true,
						buttons : {
							"Borrar" : borrarGrupoProducto,
							"Cancelar" : cerrarBorrarGrupoProducto
						}
					});
				});

				function borrarGrupoProducto() {
					$.ajax({
						data : {
							'codigo' : "{{ object.codigo }}"
						},
						url : "{% url 'productos:eliminar_grupo_productos' %}",
						type : 'get',
						success : function(data) {
							if (data.productos == 'NO') {
								alert("Grupo de Productos " + data.descripcion
										+ " eliminada");
								table.row('.selected').remove().draw(false);
							} else if (data.productos == 'SI') {
								alert("Grupo de Productos " + data.descripcion
										+ " no puede eliminarse");
							}
						}
					});
					ventana.dialog("close");
				}

				function cerrarBorrarGrupoProducto() {
					ventana.dialog("close");
				}
			});
</script>
{% endblock js %}
