{% extends "compras/base_productos.html" %}
{% block cuerpo %}
<h3>Productos</h3>
<div class="row">					
	<div class="col-lg-10">	
		{% if perms.productos.add_producto %}
		<a href="{% url 'productos:crear_producto' %}" class="btn btn-primary">
			Crear
		</a>												
		{% endif %}
		{% if perms.productos.cargar_productos %}
		<a href="{% url 'productos:cargar_productos' %}" class="btn btn-default">
			Importar
		</a>						
		{% endif %}									
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			{% if perms.productos.ver_reporte_productos_excel %}						
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'productos:maestro_productos_excel' %}';">
                   	<span class="glyphicon glyphicon-list-alt"></span>
                    </button>
			{% endif %}	
		</div>
	</div>				
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">CODIGO</th>
					<th class="text-center">DESCRIPCION</th>
					<th class="text-center">GRUPO PROD.</th>
				</tr>
			</thead>
			<tbody>
			{% for producto in productos %}
				{% if perms.productos.ver_detalle_producto %}
				<tr onclick="location.href='{% url 'productos:detalle_producto' producto.pk %}';">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ producto.codigo }}</td>
					<td>{{ producto.descripcion }}</td>
					<td>{{ producto.grupo_productos }}</td>														
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});
});
</script>
{% endblock js %}