{% extends "compras/base_compras.html" %}
{% block cuerpo %}
<h3>Servicios</h3>
<div class="row">					
	<div class="col-lg-10">	
		{% if perms.productos.add_producto %}
		<a href="{% url 'productos:crear_servicio' %}" class="btn btn-primary">
			Crear
		</a>												
		{% endif %}
		{% if perms.productos.cargar_productos %}
		<a href="{% url 'productos:cargar_servicios' %}" class="btn btn-default">
			Importar
		</a>						
		{% endif %}									
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			{% if perms.productos.ver_reporte_productos_excel %}						
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'productos:maestro_servicios_excel' %}';">
                   	<span class="glyphicon glyphicon-list-alt"></span>
                    </button>
			{% endif %}	
		</div>
	</div>				
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">CODIGO</th>
					<th class="text-center">DESCRIPCION</th>														
				</tr>
			</thead>
			<tbody>
			{% for servicio in servicios %}
				{% if perms.productos.ver_detalle_producto %}
				<tr onclick="location.href='{% url 'productos:detalle_servicio' servicio.pk %}';">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ servicio.codigo }}</td>
					<td>{{ servicio.descripcion }}</td>													
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});
    
    $(document).on("click",".eliminar",function()
	{
		borrarSeleccionado = $(this);		
		ventana = $( "#dialog-confirm" ).dialog({
		  resizable: false,
		  height:140,
		  modal: true,
		  buttons: 
		  {
			"Borrar": borrarServicio,
		    "Cancelar": cerrarBorrarServicio
		  }
		});		
	});
	   
	function borrarServicio()
	{
	   	var id_boton= $(borrarSeleccionado).prop('id');
	   	var codigo = id_boton.replace("elim_","");
	   	$.ajax({
	   		data : {'codigo': codigo},
	   		url : "{% url 'productos:eliminar_servicio' %}",
	   		type : 'get',
	   		success : function(data)
	   		{
	   			if(data.ordenes=='NO')
	   			{
	   				alert("Servicio "+data.descripcion+ " eliminado");
	   				table.row('.selected').remove().draw(false);
	   			}
	   			else if(data.ordenes=='SI')
	   			{
	   				alert("Servicio "+data.descripcion+" no puede eliminarse");	
	   			}    			
	   		}
	   	});
		ventana.dialog("close");
	}
	   
	function cerrarBorrarServicio()
	{
		ventana.dialog("close");
	}
});
</script>
{% endblock js %}