{% extends "purchases/base_purchases.html" %}
{% block cuerpo %}
<h3>Productos</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.products.add_product %}
        <a href="{% url 'products:product_create' %}" class="btn btn-primary">
            Crear
        </a>
        {% endif %}
        {% if perms.products.cargar_productos %}
        <a href="{% url 'products:product_import' %}" class="btn btn-default">
            Importar
        </a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            {% if perms.products.ver_reporte_productos_excel %}
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'products:product_excel_report' %}';">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <table id="table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="text-center">CODIGO</th>
                <th class="text-center">DESCRIPCION</th>
                <th class="text-center">GRUPO PROD.</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            {% if perms.products.ver_detalle_producto %}
            <tr onclick="location.href='{% url 'products:product_detail' product.pk %}';">
                {% else %}
            <tr>
                {% endif %}
                <td>{{ product.code }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.product_group }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#table').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});
});

</script>
{% endblock js %}