{% extends "purchases/base_purchases.html" %}
{% block cuerpo %}
<h1 class="page-title mb-3">Productos / {{ object.description }}</h1>
<div class="row">
    <div class="col-lg-10">
        {% if perms.products.change_product %}
        <a class="btn btn-primary" href="{% url 'products:product_update' object.pk %}"> Editar </a>
        {% endif %}
        {% if perms.products.delete_product %}
        <button class="btn btn-danger" type="button" id="id_eliminar">
            Eliminar
        </button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-end">
        {% include "includes/record_nav.html" with detail_name='products:product_detail' list_name='products:product_list' prev=object.previous next=object.next %}
    </div>
</div>
<hr/>
<div id="dialog-confirm" title="Eliminar Producto"></div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2">
                <a href="{{ object.image.url }}" class="img-thumbnail"> <img
                        src="{{ object.image.url }}" alt="Imagen Producto"
                        style="width: 120px; height: 90px">
                </a>
            </div>
            <div class="col-lg-5">
                <h3>{{ object.description }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group">
                    <button class="btn btn-outline-secondary" type="button">
                        <span class="bi bi-cart fa-2x"></span> {{ object.stock }} <br>
                        Stock
                    </button>
                    <button class="btn btn-outline-secondary" type="button">
                        <span class="bi bi-truck fa-2x"></span> {{ object.forecast }} <br>
                        Previsto
                    </button>
                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Información General</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#contabilidad">Contabilidad</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade show active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>CODIGO:</label>
                        <p>{{ object.code }}</p>
                        <label>GRUPO PRODUCTOS:</label>
                        <p>{{ object.product_group }}</p>
                        <label>DESCRIPCION ABREVIADA: </label>
                        <p>{{ object.desc_abreviada }}</p>
                        <label>UNIDAD DE MEDIDA: </label>
                        <p>{{ object.unit_of_measure }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>MARCA: </label>
                        <p>{{ object.brand }}</p>
                        <label>MODELO: </label>
                        <p>{{ object.model }}</p>
                        <label>PRECIO: </label>
                        <p>{{ object.price }}</p>
                        <label>TIPO EXISTENCIA: </label>
                        <p>{{ object.stock_type }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label> {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="contabilidad" class="tab-pane fade">
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>

    document.getElementById('id_eliminar').addEventListener('click', function (e) {
        e.preventDefault();
        confirmDelete("{% url 'products:product_delete' %}", {'code': "{{ object.code }}"}, function (data) {
            if (data.relaciones == 'NO')
            {
            alert("Producto " + data.description + " eliminado");
            window.location.href = "{% url 'products:product_detail' object.next %}";
            }
            else if (data.relaciones == 'SI')
            {
            alert("Producto " + data.description + " no puede eliminarse");
            }
            
        });
    });
</script>
{% endblock js %}
