{% extends "purchases/base_purchases.html" %}
{% block cuerpo %}
{% if object %}
<h1 class="page-title mb-3">Servicios / {{ object.description }}</h1>
{% else %}
<h1 class="page-title mb-3">Servicios / Nuevo</h1>
{% endif %}
<form role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-outline-secondary"
                    onclick="location.href='{% url 'products:service_detail' object.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'products:service_list' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-end">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-outline-secondary" type="button"
                        onclick="location.href='{% url 'products:service_detail' object.previous %}';">
                    <span class="bi bi-chevron-double-left"></span>
                </button>
                <button class="btn btn-outline-secondary" type="button"
                        onclick="location.href='{% url 'products:service_detail' object.next %}';">
                    <span class="bi bi-chevron-double-right"></span>
                </button>
                {% endif %}
                <button class="btn btn-outline-secondary" type="button"
                        onclick="location.href='{% url 'products:service_list' %}';">
                    <span class="bi bi-list-ul"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7">
                    <label>Descripción:</label>
                    {% if form.description.errors %}
                    {% for error in form.description.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <p>{{ form.description }}
                    <p>
                </div>
                <div class="col-lg-5">
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary" type="button">
                            <span class="bi bi-cart fa-2x"></span>
                            {{ object.stock }} <br> productos
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Información General</a></li>
            </ul>
            <div class="tab-content">
                <div id="general" class="tab-pane fade show active">
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>CODIGO:</label>
                            {% if form.code.errors %}
                            {% for error in form.code.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ object.code }}</p>
                            <label>GRUPO SERVICIOS:</label>
                            {% if form.product_group.errors %}
                            {% for error in form.product_group.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.product_group }}</p>
                            <label>UNIDAD DE MEDIDA:</label>
                            {% if form.unit_of_measure.errors %}
                            {% for error in form.unit_of_measure.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ object.unit_of_measure }}</p>
                        </div>
                        <div class="col-lg-4">
                            <label>PRECIO:</label>
                            {% if form.price.errors %}
                            {% for error in form.price.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            {{ form.price }}
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
