{% extends "purchases/base_purchases.html" %}
{% block cuerpo %}
<h3>Unidades de Medida / {{ object.description }}</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.products.change_unitofmeasure %} <a class="btn btn-primary"
                                                         href="{% url 'products:unit_of_measure_update' object.pk %}">
        Editar </a> {% endif %} {% if perms.products.delete_unitofmeasure %}
        <button class="btn btn-danger" type="button" id="id_eliminar">
            Eliminar
        </button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-end">
        <div class="btn-group">
            <button class="btn btn-secondary" type="button"
                    onclick="location.href='{% url 'products:unit_of_measure_detail' object.previous %}';">
                <span class="bi bi-chevron-double-left"></span>
            </button>
            <button class="btn btn-secondary" type="button"
                    onclick="location.href='{% url 'products:unit_of_measure_detail' object.next %}';">
                <span class="bi bi-chevron-double-right"></span>
            </button>
            <button class="btn btn-secondary" type="button"
                    onclick="location.href='{% url 'products:unit_of_measure_list' %}';">
                <span class="bi bi-list-ul"></span>
            </button>
        </div>
    </div>
</div>
<hr/>
<div id="dialog-confirm" title="Eliminar unit_of_measure"></div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-7">
                <h3>{{ object.description }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group">
                    <button class="btn btn-secondary" type="button">
                        <span class="bi bi-cart fa-2x"></span> {{ object.stock }}
                        <br> Productos
                    </button>
                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Información
                General</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade show active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>CODIGO:</label>
                        <p>{{ object.code }}</p>
                        <label>CODIGO SUNAT:</label>
                        <p>{{ object.sunat_code }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label> {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %} {% block js %}
<script>

    document.getElementById('id_eliminar').addEventListener('click', function (e) {
        e.preventDefault();
        confirmDelete("{% url 'products:unit_of_measure_delete' %}", {'id': "{{ object.pk }}"}, function (data) {
            if (data.productos == 'NO') {
            alert("Unidad de Medida " + data.unit + " eliminada");
            } else if (data.productos == 'SI') {
            alert("Unidad de Medida " + data.unit
            + " no puede eliminarse");
            }
            
        });
    });
</script>
{% endblock js %}
