{% extends "base_seguridad.html" %}
{% block titulo_cuerpo %}
Movimientos
{% endblock titulo_cuerpo %}
{% block cuerpo %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sistema Administrativo SATP</h1>
    </div>    
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
			    Permiso Denegado
			</div>
			<div class="panel-body">
				<div class='form-group'>
					<div class="row">
						<h3 class="text-center">Usted no tiene permisos para acceder a esta opcion.</h3>	
					</div>
				</div>
			</div>
	</div>
</div>	
{% endblock cuerpo %}