.main-menu{
    border-top: 1px solid #555252;
    padding-top:15px;
}

.ul-main-menu > li > .navbar-brand{
    font-size:10px
}

.ul-main-menu > li > a >span{
    font-size:13px
}

.navegacion-top{
    position: fixed; /*z-index: 100*/;
}

.position-relative{
    position:relative;
}

.position-absolute{
    position:absolute;
}

body{
    padding-top:0px;
}

.menu-lateral{
    margin-top:100px;
}

.body-content{
    transform: translate(0px, 0px);
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .ul-main-menu{
        display: flex;
            justify-content: center;
    }

    .contenido{
        height:600px;
    }
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .body-content{
        margin-top: 50px;
        height:200px;
    }

    .menu-oculto{
        margin-top:50px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .body-content{
        margin-top: 120px;
        height:500px;
    }

    .menu-oculto{
        margin-top:200px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .body-content{
        height:500px;
    }
}