{% extends "base.html" %}
{% block menu %}
<div class="navbar-default sidebar" role="navigation">
   	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li>
		        <a href="#"><i class="fa fa-wrench fa-lg"></i> Configuración<span class="fa arrow"></span></a>
		        <ul class="nav nav-second-level">
		        	{% if perms.contabilidad.ver_tabla_cuentas_contables %}
		            <li><a href="{% url 'contabilidad:cuentas_contables' %}">Cuentas Contables</a></li>
		            {% endif %}
		            {% if perms.contabilidad.ver_tabla_tipos_documentos %}
		            <li><a href="{% url 'contabilidad:tipos_documentos' %}">Tipos de Documentos</a></li>
		            {% endif %}
		            {% if perms.contabilidad.ver_tabla_formas_pago %} 
			   		<li><a href="{% url 'contabilidad:formas_pago' %}">Formas de Pago</a></li>
			   		{% endif %}
		            {% if perms.contabilidad.ver_tabla_impuestos %}
		            <li><a href="{% url 'contabilidad:impuestos' %}">Impuestos</a></li>
		            {% endif %}
		            <li><a href="{% url 'contabilidad:configuracion' %}">Configuración</a></li>
		            <li><a href="{% url 'contabilidad:crear_empresa' %}">Empresa</a></li>
		        </ul>	                
		    </li>			    
		    <li>
		        <a href="#"><i class="glyphicon glyphicon-sort"></i> Operaciones<span class="fa arrow"></span></a>
		        <ul class="nav nav-second-level">
					 
				</ul>	                    
		    </li>
		    <li>
		    	<a href="#"><i class="glyphicon glyphicon-stats"></i> Reportes<span class="fa arrow"></span></a>
			    <ul class="nav nav-second-level">		            
				</ul>
		    </li>
    	</ul>	               
	</div>                
</div>

{% endblock menu %}