{% extends "base_contabilidad.html" %}
{% block cuerpo %}
<h3>Formas de Pago</h3>
<div class="row">					
	<div class="col-lg-10">	
		{% if perms.contabilidad.add_grupoproductos %}
		<a href="{% url 'contabilidad:crear_forma_pago' %}" class="btn btn-primary">
			Crear
		</a>												
		{% endif %}
		{% if perms.contabilidad.cargar_forma_pago %}
		<a href="#" class="btn btn-default">
			Importar
		</a>						
		{% endif %}									
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			{% if perms.contabilidad.ver_reporte_formas_pago_excel %}						
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'contabilidad:maestro_formas_pago_excel' %}';">
                   	<span class="glyphicon glyphicon-list-alt"></span>
                    </button>
			{% endif %}	
		</div>
	</div>				
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">CODIGO</th>
					<th class="text-center">DESCRIPCION</th>
					<th class="text-center">DÍAS DE CRÉDITO</th>					
				</tr>
			</thead>
			<tbody>
			{% for forma in formas_pago %}
				{% if perms.almacen.ver_detalle_tipo_movimiento %}
				<tr onclick="location.href='{% url 'contabilidad:detalle_forma_pago' forma.pk %}';">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ forma.codigo }}</td>
					<td>{{ forma.descripcion }}</td>
					<td>{{ forma.dias_credito }}</td>														
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>		
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	}); 
    
    $(document).on("click",".eliminar",function()
	{
		borrarSeleccionado = $(this);		
		ventana = $( "#dialog-confirm" ).dialog({
		  resizable: false,
		  height:140,
		  modal: true,
		  buttons: 
		  {
			"Borrar": borrarFormaPago,
		    "Cancelar": cerrarBorrarFormaPago
		  }
		});		
	});
	   
	function borrarFormaPago()
	{
	   	var id_boton= $(borrarSeleccionado).prop('id');
	   	var codigo = id_boton.replace("elim_","");
	   	$.ajax({
	   		data : {'codigo': codigo},
	   		url : "{% url 'contabilidad:eliminar_forma_pago' %}",
	   		type : 'get',
	   		success : function(data)
	   		{
	   			if(data.relaciones=='NO')
	   			{
	   				alert("Forma de Pago "+data.descripcion+ " eliminado");
	   				table.row('.selected').remove().draw(false);
	   			}
	   			else if(data.relaciones=='SI')
	   			{
	   				alert("Forma de Pago "+data.descripcion+" no puede eliminarse");	
	   			}    			
	   		}
	   	});
		ventana.dialog("close");
	}
	   
	function cerrarBorrarFormaPago()
	{
		ventana.dialog("close");
	}
});
</script>
{% endblock js %}