{% extends "base_contabilidad.html" %} 
{% block cuerpo %}
<h3>Cuentas Contables / {{ object.descripcion }}</h3>
<form role="form"
	action="{% url 'contabilidad:modificar_cuenta_contable' object.pk %}"
	method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-lg-10">
			<input type="submit" class="btn btn-primary" name="submit"
				value="Guardar">
			<button type="button" class="btn btn-default"
				onclick="location.href='{% url 'contabilidad:detalle_cuenta_contable' object.pk %}'">
				Cancelar</button>
		</div>
		<div class="col-lg-2 text-right">
			<div class="btn-group">
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'contabilidad:modificar_cuenta_contable' object.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'contabilidad:modificar_cuenta_contable' object.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'contabilidad:cuentas_contables' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-7">
					<label>Descripción:</label>
					<h3>{{ form.descripcion }}</h3>
					<p>ES DIVISIONARIA: {{ form.divisionaria }}</p>
				</div>
				<div class="col-lg-5">
					<div class="btn-group"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<label>CUENTA:</label>
					<p>{{ form.cuenta }}</p>
					<label>DEPRECIACIÓN: </label>
					<p>{{ form.depreciacion }}</p>
				</div>
				<div class="col-lg-4"></div>
				<div class="col-lg-4"></div>
			</div>
		</div>
	</div>	
</form>
{% endblock cuerpo %} {% block js %}
<script>
	$(document).ready(function() {

	});
</script>
{% endblock js %}
