{% extends "almacen/base_almacen.html" %}
{% block cuerpo %}
<h3>Almacenes</h3>
<div class="row">					
	<div class="col-lg-10">	
		{% if perms.almacen.add_almacen %}
		<a href="{% url 'almacen:crear_almacen' %}" class="btn btn-primary">
			Crear
		</a>												
		{% endif %}
		{% if perms.almacen.cargar_almacenes %}
		<a href="{% url 'almacen:cargar_almacenes' %}" class="btn btn-default">
			Importar
		</a>						
		{% endif %}									
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			{% if perms.almacen.ver_reporte_almacenes_excel %}						
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:maestro_almacenes_excel' %}';">
            	<span class="glyphicon glyphicon-list-alt"></span>
            </button>
			{% endif %}	
		</div>
	</div>				
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">CODIGO</th>
					<th class="text-center">DESCRIPCION</th>														
				</tr>
			</thead>
			<tbody>
			{% for almacen in almacenes %}
				{% if perms.almacen.ver_detalle_almacen %}
				<tr onclick="location.href='{% url 'almacen:detalle_almacen' almacen.pk %}';">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ almacen.codigo }}</td>
					<td>{{ almacen.descripcion }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>		
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	}); 
    
    $(document).on("click",".eliminar",function()
	{
		borrarSeleccionado = $(this);		
		ventana = $( "#dialog-confirm" ).dialog({
		  resizable: false,
		  height:140,
		  modal: true,
		  buttons: 
		  {
			"Borrar": borrarAlmacen,
		    "Cancelar": cerrarBorrarAlmacen
		  }
		});		
	});
	   
	function borrarAlmacen()
	{
	   	var id_boton= $(borrarSeleccionado).prop('id');
	   	var codigo = id_boton.replace("elim_","");
	   	$.ajax({
	   		data : {'codigo': codigo},
	   		url : "{% url 'almacen:eliminar_almacen' %}",
	   		type : 'get',
	   		success : function(data)
	   		{
	   			if(data.relaciones=='NO')
	   			{
	   				alert("Almacen "+data.descripcion+ " eliminado");
	   				table.row('.selected').remove().draw(false);
	   			}
	   			else if(data.relaciones=='SI')
	   			{
	   				alert("Almacen "+data.descripcion+" no puede eliminarse");	
	   			}    			
	   		}
	   	});
		ventana.dialog("close");
	}
	   
	function cerrarBorrarAlmacen()
	{
		ventana.dialog("close");
	}
});
</script>
{% endblock js %}