{% extends "almacen/base_almacen.html" %}
{% block cuerpo %}
<h3>Movimientos / {{ object.id_movimiento }}</h3>
<div class="row">
	<div class="col-lg-5">
		<a class="btn btn-primary" href="{% url 'almacen:modificar_movimiento' object.pk %}">Editar</a> 
		{% if perms.almacen.delete_movimiento %}
			<button class="btn btn-danger" type="button" id="id_eliminar">Eliminar</button>
		{% endif %}
	</div>
	<div class="col-lg-3">
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Acciones
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		  	<li>
				<a href="{% url 'almacen:movimiento_pdf' object.pk %}">
					<span class="fa fa-print"></span> 
					Imprimir  
				</a>
			</li>		    		    
		  </ul>
		</div>		
	</div>
	<div class="col-lg-4 text-right">
		<div class="btn-group">
			<button class="btn btn-default" type="button"
				onclick="location.href='{% url 'almacen:detalle_movimiento' movimiento.anterior %}';">
				<span class="glyphicon glyphicon-step-backward"></span>
			</button>
			<button class="btn btn-default" type="button"
				onclick="location.href='{% url 'almacen:detalle_movimiento' movimiento.siguiente %}';">
				<span class="glyphicon glyphicon-step-forward"></span>
			</button>
			<button class="btn btn-default" type="button"
				onclick="location.href='{% url 'almacen:movimientos' %}';">
				<span class="glyphicon glyphicon-th-list"></span>
			</button>
		</div>
	</div>
</div>
<hr />
<div id="dialog-confirm" title="Eliminar Producto"></div>
<div class="panel panel-primary">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<label>ID MOVIMIENTO:</label>
				<p>{{ object.id_movimiento }}</p>
			</div>	
			<div class="col-md-2">
				<label>Fecha Creación:</label> 
				<p>{{ object.created|date:"d/m/Y" }}</p>
			</div>
			<div class="col-md-3">
				<label>Fecha Modificación:</label> 
				<p>{{ object.modified|date:"d/m/Y" }}</p>
			</div>			
			<div class="col-md-3">
				<label>Estado:</label> 
				<p>{{ object.get_estado_display }}</p>
			</div>													
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Tipo de Ingreso:</label>  
				<p>{{ object.tipo_movimiento }}</p>
			</div>
			<div class="col-md-6">
				<label>Almacen:</label> 
				<p>{{ object.almacen }}</p>
			</div>
		</div>						
		<div class="row">
			<div class="col-md-3">			
				<label>Fecha:</label> 
				<p>{{ object.fecha_operacion|date:"d/m/Y" }}</p>
			</div>
			<div class="col-md-3">	
				<label>Hora:</label> 
				<p>{{ object.fecha_operacion|date:"H:i:s" }}</p>
			</div>
			<div class="col-md-3">	
				<label>Referencia:</label>
				{% if object.referencia %}
				<p><a href="{% url 'compras:detalle_orden_compra' object.referencia.pk %}">{{ object.referencia }}</a></p>
				{% else %}
				<p>NINGUNA</p>
				{% endif %}
			</div>
			<div class="col-md-3">	
				<label>Pedido:</label>
				{% if object.pedido %}
				<p><a href="{% url 'almacen:detalle_pedido' object.pedido.pk %}">{{ object.pedido }}</a></p>
				{% else %}
				<p>NINGUNO</p>
				{% endif %}
			</div>				
		</div>
		<div class="row">
			<div class="col-md-3">	
				<label>DOC. REFER:</label>  
				{% if object.tipo_documento %}
				<p>{{ object.tipo_documento }}</p>
				{% else %}
				<p>-</p>
				{% endif %}
			</div>
			<div class="col-md-3">
				<label>SERIE:</label>
				{% if object.serie %}
				<p>{{ object.serie }}</p>
				{% else %}
				<p>-</p>
				{% endif %}
			</div>
			<div class="col-md-3">
				<label>NUMERO:</label>				
				{% if object.numero %}
				<p>{{ object.numero }}</p>
				{% else %}
				<p>-</p>
				{% endif %}
			</div>
		</div>
		<div id="divSpin"></div>	
		<div class="row">
			<div class="col-lg-12">
				<table id="detalles" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>ID Producto</th>
							<th>Producto</th>
							<th>Unidad</th>	
							<th>Cantidad</th>	
							<th>Precio</th>
							<th>Valor</th>							
						</tr>
					</thead>
					<tbody>	
					{% for detalle in object.detallemovimiento_set.all %}
						<tr>
							<td>{{ detalle.producto.codigo }}</td>
					  		<td>{{ detalle.producto.descripcion }}</td>
					  		<td>{{ detalle.producto.unidad_medida.descripcion }}</td>
					  		<td>{{ detalle.cantidad }}</td>
					  		<td>{{ detalle.precio }}</td>
					  		<td>{{ detalle.valor }}</td>					  		
						</tr>							
					{% endfor %}
						<tr>
								<td colspan="6"></td>
							</tr>
							<tr>
								<td colspan="4">
									
								</td>
								<td>
									TOTAL: 
								</td>
								<td>
									{{ object.total|floatformat:2 }}
								</td>
							</tr>						
					</tbody>				
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<label>OBSERVACIONES:</label>	
				<p>
				{{ object.observacion }}
				</p>	
			</div>
		</div>	
	</div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	$('#id_eliminar').click(function(e) 
	{
		e.preventDefault();
		ventana = $("#dialog-confirm").dialog({
			resizable : false,
			height : 140,
			modal : true,
			buttons : {
				"Borrar" : borrarMovimiento,
				"Cancelar" : cerrarBorrarMovimiento
			}
		});
	});

	function borrarMovimiento() 
	{
		var mySpinner = setupLoading();
		$.ajax({
			data : {'id_movimiento' : "{{ object.pk }}" },
			url : "{% url 'almacen:eliminar_movimiento' %}",
			type : 'get',
			success : function(data) 
			{
				removeLoading(mySpinner);
				alert("Movimiento " + data.id_movimiento + " eliminado");	
				$(location).attr('href', "{% url 'almacen:movimientos' %}");
			},
			error: function (request, status, error)
			{
            	alert(request.responseText);
        	}
		});
		ventana.dialog("close");
	}

	function cerrarBorrarMovimiento() {
		ventana.dialog("close");
	}
});
</script>
{% endblock js %}