{% extends "almacen/base_almacen.html" %}
{% block cuerpo %}
{% if object %}
<h3>Movimientos / {{ movimiento.pk }}</h3>
{% else %}
<h3>Movimientos / Nuevo Ingreso Almacen</h3>
{% endif %}
<form role="form" action="#" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col-lg-10">
			<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
			{% if object %}
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'almacen:detalle_movimiento' movimiento.pk %}'">
				Cancelar
			</button>
			{% else %}
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'almacen:listado_ingresos' %}'">
				Cancelar
			</button>
			{% endif %}
		</div>
		<div class="col-lg-2 text-right">
			<div class="btn-group">
				{% if object %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:modificar_movimiento' movimiento.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:modificar_movimiento' movimiento.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				{% endif %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:movimientos' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />	
	<div class="panel panel-primary">
		<div class="panel-body">
			{% if object %}				
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label>ID MOVIMIENTO:</label>  
						{{ form.id_movimiento }}
					</div>														
				</div>
			</div>
			{% endif %}
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label>Tipo de Ingreso:</label>  
						{{ form.tipo_movimiento }}
					</div>
					<div class="col-md-3">
						<label>Almacén:</label> 
						{{ form.almacen }}
					</div>
				</div>						
				<div class="row">
					<div class="col-md-3">			
						<label>Fecha:</label> 
						{{ form.fecha }}
					</div>
					<div class="col-md-3">	
						<label>Hora:</label> 
						{{ form.hora }}
					</div>
					<div class="col-md-3">	
						<label>Referencia:</label>
						{{ form.doc_referencia }}
					</div>
					<div class="col-md-3">	
						<label>Busq. de Referencia:</label>
						{% if movimiento.referencia %}
						<button id="id_transferencia_referencia" class="btn btn-info btn-block">
							<span class="glyphicon glyphicon-search">BUSCAR</span>
						</button>
						{% else %}								
						<button id="id_transferencia_referencia" class="btn btn-info btn-block" disabled="false">
							<span class="glyphicon glyphicon-search">BUSCAR</span>
						</button>
						{% endif %}	
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">	
						<label>DOC. REFER:</label>  
						{{ form.tipo_documento }}
					</div>
					<div class="col-md-3">
						<label>SERIE:</label>
						{{ form.serie }}
					</div>
					<div class="col-md-3">
						<label>NUMERO:</label>
						{{ form.numero }}
					</div>
				</div>
			</div>							
			<div class="row">
				<div class="col-lg-10">							
				</div>	
				<div class="col-lg-2">
					<div class='form-group'>
						{% if movimiento.referencia %}
						<button id="id_crear_detalle" href="#" class="btn btn-info btn-block" disabled="false">
							<span class="glyphicon glyphicon-plus">AGREGAR</span>
						</button>
						{% else %}
						<button id="id_crear_detalle" href="#" class="btn btn-info btn-block">
							<span class="glyphicon glyphicon-plus">AGREGAR</span>
						</button>
						{% endif %}	
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table id="detalles" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>ID Producto</th>
								<th>Producto</th>
								<th>Unidad</th>	
								<th>Cantidad</th>	
								<th>Precio</th>
								<th>Valor</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>	
							{{ detalle_ingreso_formset.management_form }}
						    {% for detalle_ingreso_form in detalle_ingreso_formset %}
						    <tr class="detalle_ingreso_formset">					            	
					            	<td>
					            		{{ detalle_ingreso_form.orden_compra }}
						            	{% if detalle_ingreso_form.codigo.errors %}
											{% for error in detalle_ingreso_form.codigo.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
						            	{{ detalle_ingreso_form.codigo }}
					            	</td>
					            	<td>
						            	{% if detalle_ingreso_form.nombre.errors %}
											{% for error in detalle_ingreso_form.nombre.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_ingreso_form.nombre }}
						            </td>
						            <td>
							            {% if detalle_ingreso_form.unidad.errors %}
											{% for error in detalle_ingreso_form.unidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_ingreso_form.unidad }}
						            </td>
						            <td>
							            {% if detalle_ingreso_form.cantidad.errors %}
											{% for error in detalle_ingreso_form.cantidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_ingreso_form.cantidad }}
						            </td>
						            <td>
							            {% if detalle_ingreso_form.precio.errors %}
											{% for error in detalle_ingreso_form.precio.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_ingreso_form.precio }}
						           	</td>
						           	<td>
							            {% if detalle_ingreso_form.valor.errors %}
											{% for error in detalle_ingreso_form.valor.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_ingreso_form.valor }}
						           	</td>					           	
						           	<td>
						           		<button class='eliminar btn btn-small btn-danger' type='button' id='id_form-{{ forloop.counter0 }}-btn-borrar' name='btn_borrar'>
						           			<span class='glyphicon glyphicon-remove'></span>
						           		</button>
						           	</td>					           	
					           	</tr>
					           	
						    {% endfor %}
						</tbody>				
					</table>
				</div>
			</div>				
			<div class="row">
				<div class="col-lg-12">
					<table id="tabla_total" class="table table-striped table-hover">
						<tbody>	
							<tr>
								<td WIDTH="50">
								</td>
								<td WIDTH="590">
									
								</td>
								<td WIDTH="50">
									TOTAL
								</td>
								<td>
									{{ form.total }}
								</td>
								<td WIDTH="80">
								</td>
							</tr>		
						</tbody>				
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<label>OBSERVACIONES:</label>	
					{{ form.observaciones }}
				</div>
			</div>
			<div id="popup"></div>
			<div class="row">
				<div class="col-lg-4">
					{{ form.cdetalles }}
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	var total=parseInt($('#id_total').val());
	var contDetalles = $("#id_form-TOTAL_FORMS").val();
	var ultimo_item = contDetalles;
	$("#id_fecha").datepicker();
	{% if object %}
	$('#id_hora').wickedpicker({now: "{{ movimiento.fecha_operacion|date:"H:i:s" }}", twentyFour: true, title:'Hora de Ingreso', showSeconds: true});
	{% else %}
	$('#id_hora').wickedpicker({now: mostrarhora(), twentyFour: true, title:'Hora de Ingreso', showSeconds: true});		
	{% endif %}
	
	$("#id_tipo_movimiento").on('change',verificar_pide_referencia);
	
	$(document).on("click",".eliminar",function()
	{
		var parent = $(this).parent().parent();
		var id_boton= $(this).prop('id');
		var id = id_boton.replace("btn-borrar","");
		var valor = $("#"+id+"valor").val();
		total = total-parseFloat(valor);
		$(parent).remove();
		$("#id_total").val(total.toFixed(5));
		contDetalles = contDetalles - 1;
		$("#id_form-TOTAL_FORMS").val(contDetalles);
		updateFormElementIndices('detalle_ingreso_formset');
	});
	
	function verificar_pide_referencia()
	{
		$("#detalles tbody > tr").remove();
		tipo_ingreso = $('#id_tipo_movimiento').val();
		$.ajax({
			data : {'tipo': tipo_ingreso},
			url : "{% url 'almacen:verificar_pide_referencia' %}",
			type : 'get',
			success : function(data)
			{
				if(data.pide_refencia)
				{
					$('#id_transferencia_referencia').prop("disabled", false);
					$('#id_crear_detalle').prop("disabled", true);
				}
				else
				{
					$('#id_transferencia_referencia').prop("disabled", true);
					total=0;
					$("#id_total").val(total);
					$("#id_referencia").val("");
					$('#id_crear_detalle').prop("disabled", false);
				}
			}
		});
	}
	   
	$('#id_crear_detalle').click(function(e)
	{
		e.preventDefault();
		var alm=$('#id_almacen').val().trim();
		if(alm != '') 
		{			
			ventana = $('#popup').dialog(
			{
				title: "Agregar Detalle",
				open: function ()
		        {
					var url="{% url 'almacen:crear_detalle_ingreso' 'cod_alm' %}".replace('cod_alm', alm);
					$(this).load(url);
		        },
				width: 950,
				modal: true,
				resizable: false,
				position: { my: "center", at: "center", of: "#page-wrapper"},
		      	buttons: {
		          "Aceptar": agregarDetalle,
		          "Cancelar": cerrarDetalle
		        }
			}).dialog('open').load(this.href)
		}
		else
		{
			alert("Previamente debe haber seleccionado el almacén");
		}		
 	});
		
	$('#id_transferencia_referencia').click(function(e)
	{
	    e.preventDefault();
	    $('#id_transferencia_referencia').prop("disabled", true );
		ventana_transferencia = $('#popup').dialog(
		{
			title: "Transferencia de Orden de Compra",
			width: 950,
			open: function ()
	        {
				var url="{% url 'compras:transferencia_orden_compra' %}";
	            $(this).load(url);
	        },
			modal: true,
			resizable: false,
			position: { my: "center", at: "center", of: "#page-wrapper"},
	      	buttons: {
	          "Aceptar": transferirOrden,
	          "Cancelar": cerrarTransferencia
	        }
		}).dialog('open').load(this.href)
 	});
	
	function transferirOrden()
	{		
		var orden_compra = $("#orden_compra").val();
		var cont = 0;
		ventana_transferencia.dialog( "close" );
		$.ajax({
			data : {'orden_compra': orden_compra},
			url : "{% url 'compras:obtener_detalle_orden_compra' %}",
			type : 'get',
			success : function(data)
			{
				$.each(data, function(i,item){
					cont = i+1;
					$("#detalles tbody").append( 
					"<tr>" +
						item.orden_compra +
						"<td>" + item.codigo + "</td>" +
						"<td>" + item.nombre + "</td>" +
						"<td>" + item.unidad + "</td>" +
						"<td>" + item.cantidad + "</td>" +
						"<td>" + item.precio + "</td>" +
						"<td>" + item.valor + "</td>" +
				  		"<td><button class='eliminar btn btn-small btn-danger' type='button' id='id_form-"+i+"-btn-borrar' name='btn_borrar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
					"</tr>");							
					var val_temp = $("#id_form-"+i+"-valor").val()
					contDetalles=i+1;
					total = total + parseFloat(val_temp);
				});
				contDetalles = cont;
				ultimo_item = cont;
				$("#id_form-TOTAL_FORMS").val(cont);
				$("#id_doc_referencia").val(orden_compra);
				$("#id_total").val(total.toFixed(5));
				$('#id_crear_detalle').prop("disabled", true );
				$(".decimal").keydown(validar_decimales);	
			}
		});
	}
		
	function agregarDetalle() 
	{
		cantidad = $("#id_cantidad").val();
		if(cantidad>0)
		{
			contDetalles = contDetalles + 1;
			ultimo_item = ultimo_item + 1;
			codigo = $("#id_codigo").val(),
		    nombre = $("#id_nombre").val(),
		    unidad = $("#id_unidad").val(),	    
			precio = $("#id_precio").val();
			valor = $("#id_valor").val();
			$("#detalles tbody").append( 
			"<tr>" +
		  	"<td><input class='form-control' type='text' size=14 readonly='readonly' name='codigo"+ultimo_item+"' id='codigo"+ultimo_item+"' value='" + codigo + "'/></td>" +
		  	"<td><input class='form-control' type='text' size=25 readonly='readonly' name='nombre"+ultimo_item+"' id='nombre"+ultimo_item+"' value='" + nombre + "'/></td>" +
		  	"<td><input class='form-control' type='text' size=10 readonly='readonly' name='unidad"+ultimo_item+"' id='unidad"+ultimo_item+"' value='" + unidad + "'/></td>" +
		  	"<td><input class='form-control cantidad' type='numeric' size=5 name='cantidad"+ultimo_item+"' id='cantidad"+ultimo_item+"' value='" + cantidad + "'/></td>" +
		  	"<td><input class='form-control' type='numeric' readonly='readonly' size=10 name='precio"+ultimo_item+"' id='precio"+ultimo_item+"' value='" + precio + "'/></td>" +
		  	"<td><input class='form-control' type='text' readonly='readonly' size=14 name='valor"+ultimo_item+"' id='valor"+ultimo_item+"' value='" + valor + "'/></td>" +
		  	"<td><button class='eliminar btn btn-small btn-danger' type='button' id='btnBorrar"+ultimo_item+"' name='guardar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
			"</tr>");
			total = total+parseFloat(valor);
			$("#id_total").val(total.toFixed(5));
			$(".decimal").keydown(validar_decimales);
		}
		ventana.dialog("close");
    }
	
	function cerrarDetalle()
	{
		ventana.dialog("close");
	}
	
	function cerrarTransferencia()
	{
		ventana_transferencia.dialog("close");
	}
	
	$("form").submit(function( event ) 
	{
		var cont=0;
		tipo_ingreso = $('#id_tipo_movimiento').val();
		$('#id_cdetalles').val(ultimo_item);
		var almacen = $('#id_almacen').val().trim();
		var fecha = $('#id_fecha').val().trim();
		var solicita_documento = $('#id_tipo_documento').is(':enabled');
		var tipo_documento;
		var serie;
		var numero;
		if(tipo_ingreso != '') 
		{			
			if(almacen != '') 
			{			
				if(fecha != '')
				{					
					if (contDetalles > 0)
					{
						return;
					}
					else
					{
						alert("No ha ingresado ningún detalle")	
					}
				}
				else
				{
					alert("No ha seleccionado fecha")
				}
			}
			else
			{
				alert("No ha seleccionado almacén");
			}
		}
		else
		{
			alert("No ha seleccionado tipo de ingreso")
		}		
		event.preventDefault();
	});
});
</script>
{% endblock js %}