{% extends "almacen/base_almacen.html" %}
{% block cuerpo %}
{% if object %}
<h3>Movimientos / {{ movimiento.pk }}</h3>
{% else %}
<h3>Movimientos / Nuevo Ingreso Almacen</h3>
{% endif %}
<form role="form" method="post">
	{% csrf_token %}
	{% if form.errors %}
		{% for error in form.non_field_errors %}
		<div class="alert alert-danger alert-dismissible" role="alert">							
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>							
            <strong>Error: </strong> {{ error|escape }}					        
		</div>
        {% endfor %}
    {% endif %}
	<div class="row">
		<div class="col-lg-10">
			<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
			{% if object %}
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'almacen:detalle_movimiento' movimiento.pk %}'">
				Cancelar
			</button>
			{% else %}
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'almacen:listado_ingresos' %}'">
				Cancelar
			</button>
			{% endif %}
		</div>
		<div class="col-lg-2 text-right">
			<div class="btn-group">
				{% if object %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:modificar_movimiento' movimiento.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:modificar_movimiento' movimiento.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				{% endif %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:movimientos' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />	
	<div class="panel panel-primary">
		<div class="panel-body">
			{% if object %}				
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label>ID MOVIMIENTO:</label>
						{% if form.id_movimiento.errors %}
							{% for error in form.id_movimiento.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}   
						{{ form.id_movimiento }}
					</div>														
				</div>
			</div>
			{% endif %}
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label>Tipo de Ingreso:</label>  
						{% if form.tipo_movimiento.errors %}
							{% for error in form.tipo_movimiento.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.tipo_movimiento }}
					</div>
					<div class="col-md-3">
						<label>Almacén:</label> 
						{% if form.almacen.errors %}
							{% for error in form.almacen.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.almacen }}
					</div>
				</div>						
				<div class="row">
					<div class="col-md-3">			
						<label>Fecha:</label> 
						{% if form.fecha.errors %}
							{% for error in form.fecha.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.fecha }}
					</div>
					<div class="col-md-3">	
						<label>Hora:</label> 
						{% if form.hora.errors %}
							{% for error in form.hora.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.hora }}
					</div>
					<div class="col-md-3">	
						<label>Referencia:</label>
						{% if form.doc_referencia.errors %}
							{% for error in form.doc_referencia.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.doc_referencia }}
					</div>
					<div class="col-md-3">	
						<label>Busq. de Referencia:</label>
						{% if movimiento.referencia %}
						<button id="id_transferencia_referencia" class="btn btn-info btn-block">
							<span class="glyphicon glyphicon-search">BUSCAR</span>
						</button>
						{% else %}								
						<button id="id_transferencia_referencia" class="btn btn-info btn-block" disabled="false">
							<span class="glyphicon glyphicon-search">BUSCAR</span>
						</button>
						{% endif %}	
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">	
						<label>DOC. REFER:</label>  
						{% if form.tipo_documento.errors %}
							{% for error in form.tipo_documento.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.tipo_documento }}
					</div>
					<div class="col-md-3">
						<label>SERIE:</label>
						{% if form.serie.errors %}
							{% for error in form.serie.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.serie }}
					</div>
					<div class="col-md-3">
						<label>NUMERO:</label>
						{% if form.numero.errors %}
							{% for error in form.numero.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.numero }}
					</div>
				</div>
			</div>							
			<div class="row">
				<div class="col-lg-10">							
				</div>	
				<div class="col-lg-2">
					<div class='form-group'>
						<button id="id_crear_detalle" href="#" class="btn btn-info btn-block" disabled="false">
							<span class="glyphicon glyphicon-plus">AGREGAR</span>
						</button>						
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table id="detalles" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>ID Producto</th>
								<th>Producto</th>
								<th>Unidad</th>	
								<th>Cantidad</th>	
								<th>Precio</th>
								<th>Valor</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>	
							{{ detalle_ingreso_formset.management_form }}
						    {% for detalle_ingreso_form in detalle_ingreso_formset %}
						    <tr class="detalle_ingreso_formset">					            	
					            	<td>
					            		{{ detalle_ingreso_form.orden_compra }}
						            	{% if detalle_ingreso_form.codigo.errors %}
											{% for error in detalle_ingreso_form.codigo.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
						            	{{ detalle_ingreso_form.codigo }}
					            	</td>
					            	<td>
						            	{% if detalle_ingreso_form.nombre.errors %}
											{% for error in detalle_ingreso_form.nombre.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_ingreso_form.nombre }}
						            </td>
						            <td>
							            {% if detalle_ingreso_form.unidad.errors %}
											{% for error in detalle_ingreso_form.unidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_ingreso_form.unidad }}
						            </td>
						            <td>
							            {% if detalle_ingreso_form.cantidad.errors %}
											{% for error in detalle_ingreso_form.cantidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_ingreso_form.cantidad }}
						            </td>
						            <td>
							            {% if detalle_ingreso_form.precio.errors %}
											{% for error in detalle_ingreso_form.precio.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_ingreso_form.precio }}
						           	</td>
						           	<td>
							            {% if detalle_ingreso_form.valor.errors %}
											{% for error in detalle_ingreso_form.valor.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_ingreso_form.valor }}
						           	</td>					           	
						           	<td>
						           		<button class='eliminar btn btn-small btn-danger' type='button' id='id_form-{{ forloop.counter0 }}-btn-borrar' name='btn_borrar'>
						           			<span class='glyphicon glyphicon-remove'></span>
						           		</button>
						           	</td>					           	
					           	</tr>
					           	
						    {% endfor %}
						</tbody>				
					</table>
				</div>
			</div>				
			<div class="row">
				<div class="col-lg-12">
					<table id="tabla_total" class="table table-striped table-hover">
						<tbody>	
							<tr>
								<td WIDTH="50">
								</td>
								<td WIDTH="590">
									
								</td>
								<td WIDTH="50">
									TOTAL
								</td>
								<td>
									{{ form.total }}
								</td>
								<td WIDTH="80">
								</td>
							</tr>		
						</tbody>				
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<label>OBSERVACIONES:</label>	
					{% if form.observaciones.errors %}
						{% for error in form.observaciones.errors %}
						<div class="alert alert-danger alert-dismissible" role="alert">							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>							
				            <strong>Error: </strong> {{ error|escape }}					        
						</div>
				        {% endfor %}
				    {% endif %}
					{{ form.observaciones }}
				</div>
			</div>
			<div id="popup"></div>
			<div class="row">
				<div class="col-lg-4">
					{{ form.cdetalles }}
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
	var total=parseFloat($('#id_total').val());
	var contDetalles = $("#id_form-TOTAL_FORMS").val();
	var ultimo_item = contDetalles;
	$("#id_fecha").datepicker();
	{% if object %}
		$('#id_hora').wickedpicker({now: "{{ movimiento.fecha_operacion|date:"H:i:s" }}", twentyFour: true, title:'Hora de Ingreso', showSeconds: true});
	{% else %}
		$('#id_hora').wickedpicker({now: mostrarhora(), twentyFour: true, title:'Hora de Ingreso', showSeconds: true});		
	{% endif %}
	verificar_pide_referencia();
	$("#id_tipo_movimiento").on('change',establecer_pide_referencia);
	
	$(document).on("click",".eliminar",function()
	{
		var parent = $(this).parent().parent();
		var id_boton= $(this).prop('id');
		var id = id_boton.replace("btn-borrar","");
		var valor = $("#"+id+"valor").val();
		total = total-parseFloat(valor);
		$(parent).remove();
		$("#id_total").val(total.toFixed(5));
		contDetalles = contDetalles - 1;
		$("#id_form-TOTAL_FORMS").val(contDetalles);
		updateFormElementIndices('detalle_ingreso_formset');
	});
	
	$(document).on("keyup",".cantidad",function()
	{
		var id_input= $(this).prop('id');
		var id = id_input.replace("cantidad","");
		var cantidad = $("#"+id+"cantidad").val();
		var precio = $("#"+id+"precio").val();
		var valorAnt = $("#"+id+"valor").val();
		var valor=parseFloat(cantidad)*parseFloat(precio);
		$("#"+id+"valor").val(valor.toFixed(5));
		total = total - parseFloat(valorAnt)+parseFloat(valor);
		$("#id_total").val(total.toFixed(5));		
	});
	
	$(document).on("keyup",".precio",function()
	{
		var id_input= $(this).prop('id');
		var id = id_input.replace("precio","");
		var cantidad = $("#"+id+"cantidad").val();
		var precio = $("#"+id+"precio").val();
		var valorAnt = $("#"+id+"valor").val();
		var valor=parseFloat(cantidad)*parseFloat(precio);
		$("#"+id+"valor").val(valor.toFixed(5));
		total = total - parseFloat(valorAnt)+parseFloat(valor);
		$("#id_total").val(total.toFixed(5));	
	});
	
	function establecer_pide_referencia()
	{
		$("#detalles tbody > tr").remove();
		verificar_pide_referencia();
		total=0;
		$("#id_total").val(total);
		$("#id_referencia").val("");
	}
	
	function verificar_pide_referencia()
	{
		tipo_ingreso = $('#id_tipo_movimiento').val();
		$.ajax({
			data : {'tipo': tipo_ingreso},
			url : "{% url 'almacen:verificar_pide_referencia' %}",
			type : 'get',
			success : function(data)
			{
				if(data.pide_referencia)
				{
					$('#id_transferencia_referencia').prop("disabled", false);
					$('#id_crear_detalle').prop("disabled", true);
				}
				else
				{
					$('#id_transferencia_referencia').prop("disabled", true);					
					$('#id_crear_detalle').prop("disabled", false);
				}
			}
		});
	}
	   
	$('#id_crear_detalle').click(function(e)
	{
		e.preventDefault();
		$.ajax({
			url : "{% url 'almacen:crear_detalle_ingreso' %}",
			type : 'get',
			success : function(data)
			{
				$.each(data, function(i,item){
					$("#detalles tbody").append( 
					"<tr class='detalle_ingreso_formset'>" +
						"<td>" + item.orden_compra + item.codigo + "</td>" +
						"<td>" + item.nombre + "</td>" +
						"<td>" + item.unidad + "</td>" +
						"<td>" + item.cantidad + "</td>" +
						"<td>" + item.precio + "</td>" +
						"<td>" + item.valor + "</td>" +
				  		"<td><button class='eliminar btn btn-small btn-danger' type='button' id='id_form-"+i+"-btn-borrar' name='btn_borrar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
					"</tr>");
					contDetalles = parseInt(contDetalles) + 1;											
				});
				$("#id_form-TOTAL_FORMS").val(contDetalles);
				updateFormElementIndices('detalle_ingreso_formset');
				bindAutoComplete('productos');		
				$(".decimal").keydown(validar_decimales);
			}
		});
 	});
	
	function bindAutoComplete(classname)
	{
		$("."+classname).autocomplete({
			source: function( request, response ) 
			{
				$.ajax({
				  url: "{% url 'productos:busqueda_productos_descripcion' %}",
				  data: {'descripcion': request.term,'tipo_busqueda': 'PRODUCTOS' },
			      success: function( data ) 
			      {
			          response( data );
			      }
			    });
			},
		    minLength: 2,
		    select: function( event, ui ) 
		    {
		    	var id_producto = $(this).prop('id');
				var id = id_producto.replace("nombre", "");
				$("#"+id+"codigo").val(ui.item.codigo);
				$("#"+id+"nombre").val(ui.item.descripcion);
				$("#"+id+"unidad").val(ui.item.unidad);
				$("#"+id+"precio").val(ui.item.precio);
				return false;
		    },
		});
	}
		
	$('#id_transferencia_referencia').click(function(e)
	{
	    e.preventDefault();
	    $('#id_transferencia_referencia').prop("disabled", true );
		ventana_transferencia = $('#popup').dialog(
		{
			title: "Transferencia de Orden de Compra",
			width: 950,
			open: function ()
	        {
				var url="{% url 'compras:transferencia_orden_compra' %}";
	            $(this).load(url);
	        },
			modal: true,
			resizable: false,
			position: { my: "center", at: "center", of: "#page-wrapper"},
	      	buttons: {
	          "Aceptar": transferirOrden,
	          "Cancelar": cerrarTransferencia
	        }
		}).dialog('open').load(this.href)
 	});
	
	function transferirOrden()
	{		
		var orden_compra = $("#orden_compra").val();
		var cont = 0;
		ventana_transferencia.dialog( "close" );
		$.ajax({
			data : {'orden_compra': orden_compra},
			url : "{% url 'compras:obtener_detalle_orden_compra' %}",
			type : 'get',
			success : function(data)
			{
				$.each(data, function(i,item){
					cont = i+1;
					$("#detalles tbody").append( 
					"<tr class='detalle_ingreso_formset'>" +						
						"<td>" + item.orden_compra + item.codigo + "</td>" +
						"<td>" + item.nombre + "</td>" +
						"<td>" + item.unidad + "</td>" +
						"<td>" + item.cantidad + "</td>" +
						"<td>" + item.precio + "</td>" +
						"<td>" + item.valor + "</td>" +
				  		"<td><button class='eliminar btn btn-small btn-danger' type='button' id='id_form-"+i+"-btn-borrar' name='btn_borrar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
					"</tr>");							
					var val_temp = $("#id_form-"+i+"-valor").val()
					contDetalles=i+1;
					total = total + parseFloat(val_temp);
				});
				contDetalles = cont;
				ultimo_item = cont;
				$("#id_form-TOTAL_FORMS").val(cont);
				$("#id_doc_referencia").val(orden_compra);
				$("#id_total").val(total.toFixed(5));
				$('#id_crear_detalle').prop("disabled", true );
				$(".decimal").keydown(validar_decimales);	
			}
		});
	}
		
	function cerrarTransferencia()
	{
		ventana_transferencia.dialog("close");
	}
	
	$("form").submit(function( event ) 
	{
		var cont=0;
		tipo_ingreso = $('#id_tipo_movimiento').val();
		$('#id_cdetalles').val(ultimo_item);
		var almacen = $('#id_almacen').val().trim();
		var fecha = $('#id_fecha').val().trim();
		var solicita_documento = $('#id_tipo_documento').is(':enabled');
		var tipo_documento;
		var serie;
		var numero;
		if(tipo_ingreso != '') 
		{			
			if(almacen != '') 
			{			
				if(fecha != '')
				{					
					if (contDetalles > 0)
					{
						return;
					}
					else
					{
						alert("No ha ingresado ningún detalle")	
					}
				}
				else
				{
					alert("No ha seleccionado fecha")
				}
			}
			else
			{
				alert("No ha seleccionado almacén");
			}
		}
		else
		{
			alert("No ha seleccionado tipo de ingreso")
		}		
		event.preventDefault();
	});
});
</script>
{% endblock js %}