{% extends "almacen/base_almacen.html" %}
{% block titulo_cuerpo %}
Almacen
{% endblock titulo_cuerpo %}
{% block cuerpo %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Movimientos</h1>
    </div>    
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <i class="fa fa-bell fa-fw"></i>Inventario Inicial.
			</div>
			<div class="panel-body">
				<p>Ya se ha ingresado el inventario inicial al sistema, ahora ya puede iniciar las operaciones diarias.</p>	
			</div>
		</div>
	</div>
</div>
{% endblock cuerpo %}
