{% extends "almacen/base_almacen.html" %} {% block cuerpo %}
<h3>Almacenes / {{ object.descripcion }}</h3>
<form role="form"
	action="{% url 'almacen:modificar_almacen' object.pk %}" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col-lg-10">
			<input type="submit" class="btn btn-primary" name="submit"
				value="Guardar">
			<button type="button" class="btn btn-default"
				onclick="location.href='{% url 'almacen:detalle_almacen' object.pk %}'">
				Cancelar</button>
		</div>
		<div class="col-lg-2 text-right">
			<div class="btn-group">
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'almacen:modificar_almacen' almacen.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'almacen:modificar_almacen' almacen.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'almacen:almacenes' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-7">
					<label>Descripción:</label>
					<h3>{{ form.descripcion }}</h3>
				</div>
				<div class="col-lg-5">
					<div class="btn-group">
						<button class="btn btn-default" type="button">
							<span class="fa fa-building fa-2x"></span> {{ object.stock }} <br>
							Stock
						</button>
						<button class="btn btn-default" type="button">
							<span class="fa fa-truck fa-2x"></span> {{ object.stock }} <br>
							Previsto
						</button>						
					</div>
				</div>
			</div>
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#general">Información
						General</a></li>
			</ul>
			<div class="tab-content">
				<div id="general" class="tab-pane fade in active">
					<br>
					<div class="row">
						<div class="col-lg-4">
							<label>CODIGO:</label>
							<p>{{ object.codigo }}</p>
						</div>
						<div class="col-lg-4"></div>
						<div class="col-lg-4"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock cuerpo %}
