{% extends "almacen/base_warehouse.html" %}
{% block cuerpo %}
<h3>Kardex / Producto</h3>
<form role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Generar">
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Almacén:</label>
                        {% if form.warehouses.errors %}
                        {% for error in form.warehouses.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.warehouses }}
                    </div>
                    <div class="col-md-4">
                        <label>Desde:</label>
                        {% if form.start_date.errors %}
                        {% for error in form.start_date.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.start_date }}
                    </div>
                    <div class="col-md-4">
                        <label>Hasta:</label>
                        {% if form.end_date.errors %}
                        {% for error in form.end_date.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.end_date }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">Codigo de Producto: </label>
                        {% if form.product_code.errors %}
                        {% for error in form.product_code.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.product_code }}
                    </div>
                    <div class="col-md-8">
                        <label for="description">Descripcion de Producto: </label>
                        {% if form.product_description.errors %}
                        {% for error in form.product_description.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.product_description }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">FORMATO PARA SUNAT : </label>
                        {% if form.sunat_format.errors %}
                        {% for error in form.sunat_format.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.sunat_format }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">ESCOJA EL FORMATO: </label>
                        {% if form.formats.errors %}
                        {% for error in form.formats.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.formats }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock cuerpo %}

{% block js %}
<script>
$("#id_start_date").datepicker();
$("#id_end_date").datepicker();

$("#id_product_description").autocomplete({
  	source: function( request, response ) {
    $.ajax({
      url: "{% url 'productos:product_description_search' %}",
      data: {'description': $("#id_product_description").val(), 'search_type': 'PRODUCTOS'},
      success: function( data ) 
      {
          response( data );
      }
    });
  },
  minLength: 2,
  select: function( event, ui ) 
  {
	$("#id_product_code").val(ui.item.code);
	$("#id_product_description").val(ui.item.description);
	return false;
  },
});

</script>
{% endblock js %}