{% extends "almacen/base_almacen.html" %}
{% block cuerpo %}
{% if object %}
<h3>Movimientos / {{ movimiento.id_movimiento }}</h3>
{% else %}
<h3>Movimientos / Nueva Salida de Almacen</h3>
{% endif %}
<form role="form" method="post">
	<div class="row">
		<div class="col-lg-10">
			<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
			<button type="button" class="btn btn-default" onclick="location.href='{% url 'almacen:listado_salidas' %}'">
				Cancelar
			</button>
		</div>
		<div class="col-lg-2 text-right">			
			<div class="btn-group">
				{% if object %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:modificar_movimiento' movimiento.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:modificar_movimiento' movimiento.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				{% endif %}
				<button class="btn btn-default" type="button" onclick="location.href='{% url 'almacen:listado_salidas' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="panel panel-primary">
		<div class="panel-body">					
			{% csrf_token %}
			{% if object %}
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label>Id Movimiento:</label>  
						<p>{{ object.id_movimiento }}</p>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label>Tipo de Salida:</label>  
						{% if form.tipo_movimiento.errors %}
							{% for error in form.tipo_movimiento.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.tipo_movimiento }}
					</div>
					<div class="col-md-3">
						<label>Almacén:</label>
						{% if form.almacen.errors %}
							{% for error in form.almacen.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %} 
						{{ form.almacen }}
					</div>
				</div>
			</div>			
			<div class="form-group">	
				<div class="row">
					<div class="col-md-3">			
						<label>Fecha:</label>
						{% if form.fecha.errors %}
							{% for error in form.fecha.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %} 
						{{ form.fecha }}
					</div>
					<div class="col-md-3">	
						<label>Hora:</label> 
						{% if form.hora.errors %}
							{% for error in form.hora.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.hora }}
					</div>
					<div class="col-md-3">	
						<label>Oficina a atender:</label> 
						{% if form.oficina.errors %}
							{% for error in form.oficina.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.oficina }}
					</div>
				</div>						
			</div>			
			<div class='form-group'>
				<div class="row">
					<div class="col-md-3">	
						<label>DOC. REFER:</label>  
						{% if form.tipo_documento.errors %}
							{% for error in form.tipo_documento.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.tipo_documento }}
					</div>
					<div class="col-md-3">
						<label>SERIE:</label>
						{% if form.serie.errors %}
							{% for error in form.serie.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.serie }}
					</div>
					<div class="col-md-3">
						<label>NUMERO:</label>
						{% if form.numero.errors %}
							{% for error in form.numero.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">							
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>							
					            <strong>Error: </strong> {{ error|escape }}					        
							</div>
					        {% endfor %}
					    {% endif %}
						{{ form.numero }}
					</div>
				</div>
			</div>
			<hr />				
			<div class="row">
				<div class="col-lg-10">							
				</div>	
				<div class="col-lg-2">
					<div class='form-group'>
						<button id="crear_detalle" href="#" class="btn btn-info btn-block">
							<span class="glyphicon glyphicon-plus">AGREGAR</span>
						</button>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table id="detalles" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>ID Producto</th>
								<th>Producto</th>
								<th>Unidad</th>	
								<th>Cantidad</th>	
								<th>Precio</th>
								<th>Valor</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							{{ detalle_salida_formset.management_form }}
						    {% for detalle_salida_form in detalle_salida_formset %}					        
					            <tr class="detalle_salida_formset">
					            	<td>
					            		{% if detalle_salida_form.codigo.errors %}
											{% for error in detalle_salida_form.codigo.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
									    {{ detalle_salida_form.pedido }}
						            	{{ detalle_salida_form.codigo }}
					            	</td>
					            	<td>
						            	{% if detalle_salida_form.nombre.errors %}
											{% for error in detalle_salida_form.nombre.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_salida_form.nombre }}
						            </td>
						            <td>
							            {% if detalle_salida_form.unidad.errors %}
											{% for error in detalle_salida_form.unidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_salida_form.unidad }}
						            </td>
						            <td>
							            {% if detalle_salida_form.cantidad.errors %}
											{% for error in detalle_salida_form.cantidad.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							            {{ detalle_salida_form.cantidad }}
						            </td>
						            <td>
							            {% if detalle_salida_form.precio.errors %}
											{% for error in detalle_salida_form.precio.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_salida_form.precio }}
						           	</td>						           		
						           	<td>
							            {% if detalle_salida_form.valor.errors %}
											{% for error in detalle_salida_form.valor.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">							
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>							
									            <strong>Error: </strong> {{ error|escape }}					        
											</div>
									        {% endfor %}
									    {% endif %}
							           	{{ detalle_salida_form.valor }}
						           	</td>
						           	<td>
						           		<button class='eliminar btn btn-small btn-danger' type='button' id='id_form-{{ forloop.counter0 }}-btn-borrar' name='btn_borrar'>
						           			<span class='glyphicon glyphicon-remove'></span>
						           		</button>
						           	</td>				           	
					           	</tr>					           	
						    {% endfor %}
						</tbody>				
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table id="tabla_total" class="table table-striped table-hover">
						<tbody>	
							<tr>
								<td WIDTH="50">											
								</td>
								<td WIDTH="590">
									
								</td>
								<td WIDTH="50">
									TOTAL
								</td>
								<td>
									{{ form.total }}
								</td>
								<td WIDTH="80">
								</td>
							</tr>		
						</tbody>				
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<label>OBSERVACIONES:</label>	
					{{ form.observaciones }}
				</div>
			</div>
			<div id="popup"></div>
			<div class="row">
				<div class="col-lg-4">
					{{ form.cdetalles }}
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock cuerpo %}

{% block js %}
<script>
$(document).ready(function() 
{
	var total=parseFloat($('#id_total').val());
	var contDetalles = $("#id_form-TOTAL_FORMS").val();
	var ultimo_item = contDetalles;
	var tipo_salida;	
	$("#id_fecha").datepicker();
	$('#id_hora').wickedpicker({now: mostrarhora(), twentyFour: true, title:'Hora de Salida', showSeconds: true});
		
	$(document).on("click",".eliminar",function()
	{
		var parent = $(this).parent().parent();
		var id_boton= $(this).prop('id');
		var id = id_boton.replace("btn-borrar","");
		var valor = $("#"+id+"valor").val();
		total = total - parseFloat(valor);
		$(parent).remove();
		$("#id_total").val(total.toFixed(5));
		contDetalles = contDetalles - 1;
		$("#id_form-TOTAL_FORMS").val(contDetalles);
		updateFormElementIndices('detalle_salida_formset');
	});
    
	$('#crear_detalle').click(function(e)
	{
		e.preventDefault();
		var alm=$('#id_almacen').val().trim();
		if(alm != '') 
		{			
			$.ajax({
				url : "{% url 'almacen:crear_detalle_salida' %}",
				type : 'get',
				success : function(data)
				{
					$.each(data, function(i,item){
						$("#detalles tbody").append( 
						"<tr class='detalle_salida_formset'>" +
							"<td>" + item.codigo + "</td>" +
							"<td>" + item.nombre + "</td>" +
							"<td>" + item.unidad + "</td>" +
							"<td>" + item.cantidad + "</td>" +
							"<td>" + item.precio + "</td>" +
							"<td>" + item.valor + "</td>" +
					  		"<td><button class='eliminar btn btn-small btn-danger' type='button' id='id_form-"+i+"-btn-borrar' name='btn_borrar'><span class='glyphicon glyphicon-remove'></span></button></td>" +
						"</tr>");
						contDetalles = parseInt(contDetalles) + 1;											
					});
					$("#id_form-TOTAL_FORMS").val(contDetalles);
					updateFormElementIndices('detalle_salida_formset');
					bindAutoComplete('productos');		
					$(".decimal").keydown(validar_decimales);
				}
			});	
		}
		else
		{
			alert("Previamente debe haber seleccionado el almacén");
		}
 	});
 	
	function bindAutoComplete(classname)
	{
		$("."+classname).autocomplete({
			source: function( request, response ) 
			{
				$.ajax({
				  url: "{% url 'almacen:busqueda_productos_almacen' %}",
				  data: {'almacen': $("#id_almacen").val(),'descripcion': request.term },
			      success: function( data ) 
			      {
			          response( data );
			      }
			    });
			},
		    minLength: 2,
		    select: function( event, ui ) 
		    {
		    	var id_producto = $(this).prop('id');
				var id = id_producto.replace("nombre", "");
				$("#"+id+"codigo").val(ui.item.codigo);
				$("#"+id+"nombre").val(ui.item.descripcion);
				$("#"+id+"unidad").val(ui.item.unidad);
				$("#"+id+"precio").val(ui.item.precio);
				return false;
		    },
		});
	}
	
	$(document).on("keyup",".cantidad",function()
	{
		var cantidad = 0;
		var precio = 0;
		var valor = 0;
		var valorTemp = 0;
		var id_producto = $(this).prop('id');
		var id = id_producto.replace("cantidad", "");
		$.ajax({
	      url: "{% url 'almacen:consulta_stock' %}",
	      data: {
	    	  'almacen': $("#id_almacen").val(),
	    	  'codigo': $("#"+id+"codigo").val()
	   	  },
	      success: function(data) 
	      {
	    	  valorTemp = $("#"+id+"valor").val();
			  cantidad = $("#"+id+"cantidad").val();
			  if(cantidad=='')
			  {
				  cantidad=0;
				  $("#"+id+"cantidad").val(cantidad);
			  }			
			  if(cantidad > data.stock)
	          {
	        	  alert("La cantidad ingresada es mayor que el stock");
	        	  $("#"+id+"cantidad").val(data.stock);
	          }
	    	  precio = $("#"+id+"precio").val();
	    	  valor = parseFloat(precio) * parseFloat(cantidad);
	    	  $("#"+id+"valor").val(valor.toFixed(5));
	    	  total = total - valorTemp + valor;
			  $("#id_total").val(total.toFixed(5));
	      }
	    });
	});	
	
	$("form").submit(function(event) 
	{
		var cont=0;
		tipo_salida = $('#id_tipo_movimiento').val();
		$('#id_cdetalles').val(ultimo_item);
		var almacen = $('#id_almacen').val().trim();
		var fecha = $('#id_fecha').val().trim();
		var tipo_documento;
		var serie;
		var numero;
		if(tipo_salida != '') 
		{			
			if(almacen != '') 
			{			
				if(fecha != '')
				{					
					if (contDetalles > 0)
					{
						return;
					}
					else
					{
						alert("No ha ingresado ningún detalle");	
					}
				}
				else
				{
					alert("No ha seleccionado fecha");
				}
			}
			else
			{
				alert("No ha seleccionado almacén");
			}
		}
		else
		{
			alert("No ha seleccionado tipo de salida");
		}		
		event.preventDefault();
	});
});
</script>
{% endblock js %}