{% extends "purchases/base_purchases.html" %}
{% block cuerpo %}
{% if object %}
<h3>Proveedores / {{ object.business_name }}</h3>
{% else %}
<h3>Proveedores / Nuevo</h3>
{% endif %}
<form role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <button type="button" class="btn btn-info" id="id_sunat">Datos SUNAT</button>
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-secondary"
                    onclick="location.href='{% url 'purchases:supplier_detail' object.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'purchases:supplier_list' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-end">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-secondary" type="button"
                        onclick="location.href='{% url 'purchases:supplier_update' supplier.previous %}';">
                    <span class="bi bi-chevron-double-left"></span>
                </button>
                <button class="btn btn-secondary" type="button"
                        onclick="location.href='{% url 'purchases:supplier_update' supplier.next %}';">
                    <span class="bi bi-chevron-double-right"></span>
                </button>
                {% endif %}
                <button class="btn btn-secondary" type="button"
                        onclick="location.href='{% url 'purchases:supplier_list' %}';">
                    <span class="bi bi-list-ul"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/media/{{ object.image.url }}" class="img-thumbnail"> <img
                            src="/media/{{ object.image.url }}" alt="Imagen Producto"
                            style="width: 120px; height: 90px">
                    </a>
                </div>
                <div class="col-lg-7">
                    <label>RAZÓN SOCIAL:</label>
                    {% if form.business_name.errors %}
                    {% for error in form.business_name.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <h3>{{ form.business_name }}</h3>
                </div>
                <div class="col-lg-3">
                    <div class="btn-group">
                        <button class="btn btn-secondary" type="button">
                            <span class="bi bi-cart fa-2x"></span> 0 <br>
                            Compras
                        </button>
                        <button class="btn btn-secondary" type="button">
                            <span class="bi bi-truck fa-2x"></span> 0 <br> Facturas
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Información General</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#representatives">Representantes Legales</a></li>
            </ul>
            <div class="tab-content">
                <div id="general" class="tab-pane fade show active">
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>RUC:</label>
                            {% if form.tax_id.errors %}
                            {% for error in form.tax_id.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.tax_id }}</p>
                            <label>DIRECCIÓN:</label>
                            {% if form.address.errors %}
                            {% for error in form.address.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.address }}</p>
                            <label>ESTADO SUNAT: </label>
                            {% if form.sunat_status.errors %}
                            {% for error in form.sunat_status.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.sunat_status }}</p>
                            <label>CONDICIÓN: </label>
                            {% if form.sunat_condition.errors %}
                            {% for error in form.sunat_condition.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.sunat_condition }}</p>
                        </div>
                        <div class="col-lg-4">
                            <label>CIIU: </label>
                            {% if form.ciiu.errors %}
                            {% for error in form.ciiu.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.ciiu }}</p>
                            <label>FECHA ALTA: </label>
                            {% if form.registration_date.errors %}
                            {% for error in form.registration_date.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.registration_date }}</p>
                            <label>TELÉFONO: </label>
                            {% if form.phone.errors %}
                            {% for error in form.phone.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.phone }}</p>
                            <label>EMAIL: </label>
                            {% if form.email.errors %}
                            {% for error in form.email.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.email }}</p>
                            <label>{{ form.is_service_provider.label }}</label>
                            <p>{{ form.is_service_provider }}</p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
                <div id="representatives" class="tab-pane fade">
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
{% block js %}
<script>
document.querySelectorAll('.quantity').forEach(function (input) {
    input.addEventListener('keydown', validar_numeros);
});
</script>
{% endblock js %}