{% extends "purchases/base_purchases.html" %} {% block cuerpo %}
<h1 class="page-title mb-3">Proveedores / {{ object.business_name }}</h1>
<div class="row">
    <div class="col-lg-10">
        {% if perms.purchases.add_supplier %} <a
            href="{% url 'purchases:supplier_create' %}" class="btn btn-primary">Crear</a>
        {% endif %}
        {% if perms.purchases.change_supplier %}
        <a class="btn btn-primary"
           href="{% url 'purchases:supplier_update' object.pk %}"> Editar
        </a>
        {% endif %}
        {% if perms.purchases.delete_supplier %}
        <button class="btn btn-danger" type="button" id="id_eliminar">Eliminar</button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-end">
        {% include "includes/record_nav.html" with detail_name='purchases:supplier_detail' list_name='purchases:supplier_list' prev=object.previous next=object.next %}
    </div>
</div>
<hr/>
<div id="dialog-confirm" title="Eliminar Supplier"></div>
<div class="card">
    <div class="card-body detail-list">
        <div class="row">
            <div class="col-lg-2">
                <a href="{{ object.image.url }}" class="img-thumbnail"> <img
                        src="{{ object.image.url }}" alt="Imagen Supplier" style="width: 120px; height: 90px">
                </a>
            </div>
            <div class="col-lg-7">
                <h3>{{ object.business_name }}</h3>
                {% if object.is_service_provider %}
                <p>ES LOCADOR</p>
                {% endif %}
            </div>
            <div class="col-lg-3">
                <div class="btn-group">
                    <button class="btn btn-outline-secondary" type="button">
                        <span class="bi bi-cart fa-2x"></span> 0 <br>
                        Compras
                    </button>
                    <button class="btn btn-outline-secondary" type="button">
                        <span class="bi bi-truck fa-2x"></span> 0 <br> Facturas
                    </button>
                </div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Información General</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#representatives">Representantes Legales</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade show active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>RUC:</label>
                        <p>{{ object.tax_id }}</p>
                        <label>DIRECCIÓN:</label>
                        <p>{{ object.address }}</p>
                        <label>ESTADO SUNAT: </label>
                        <p>{{ object.is_active_sunat }}</p>
                        <label>CONDICION: </label>
                        <p>{{ object.sunat_condition }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>CIIU: </label>
                        <p>{{ object.ciiu }}</p>
                        <label>FECHA DE ALTA: </label>
                        <p>{{ object.registration_date|date:"d/m/Y" }}</p>
                        <label>TELEFONO: </label>
                        <p>{{ object.phone }}</p>
                        <label>EMAIL: </label>
                        <p>{{ object.email }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label> {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="representatives" class="tab-pane fade">
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %} {% block js %}
<script>

    document.getElementById('id_eliminar').addEventListener('click', function (e) {
        e.preventDefault();
        confirmDelete("{% url 'purchases:supplier_delete' %}", {'tax_id': "{{ object.tax_id }}"}, function (data) {
            if (data.tax_id) {
                alert("Proveedor " + data.tax_id + " eliminado");
            }
        });
    });
</script>
{% endblock js %}
