{% load staticfiles %}
<!--Libraries-->
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/chart.min.js' %}"></script>
<script src="{% static 'js/vendor/chart-data.js' %}"></script>
<script src="{% static 'js/vendor/easypiechart.js' %}"></script>
<script src="{% static 'js/vendor/easypiechart-data.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/vendor/calendar-datepicker-config.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
<script src="{% static 'js/vendor/jquery.appendGrid-1.6.0.js' %}"></script>
<script src="{% static 'js/vendor/jquery.plugin.js' %}"></script>
<script src="{% static 'js/vendor/jquery.timeentry.js' %}"></script>
<script src="{% static 'js/vendor/wickedpicker.js' %}"></script>
<script src="{% static 'js/vendor/sb-admin-2.js' %}"></script>
<script src="{% static 'js/vendor/metisMenu.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/NumeroALetras.js' %}"></script>
<script src="{% static 'js/vendor/spin.js' %}"></script>
<script src="{% static 'js/vendor/utilidades.js' %}"></script>
<script src="{% static 'js/vendor/jquery.formset.js' %}"></script>
<script src="{% static 'js/vendor/angular.min.js' %}"></script>
<script src="{% static 'js/vendor/angular-route.min.js' %}"></script>
<script src="{% static 'js/vendor/angular-route-segment.js' %}"></script>
<script src="{% static 'js/vendor/angular-locale_es-es.js' %}"></script>
<!--Personal-->
<script src="{% static 'js/personal/datepicker-regional.js' %}"></script>
<!--Icons-->
<script src="{% static 'js/lumino.glyphs.js' %}"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<!--Configuración de la aplicación angular-->
<!--Values-->
<!--Servicios-->
<!--Servicios-->
<!--Filters-->
<!--Controllers-->
<!--Directives-->
