{% extends "warehouse/base_warehouse.html" %} {% block cuerpo %}
<h1 class="page-title mb-3">Tipos de Movimiento / {{ object.description }}</h1>
<div class="row">
    <div class="col-lg-10">
        {% if perms.movement_type.add_movementtype %}
        <a href="{% url 'warehouse:movement_type_create' %}" class="btn btn-primary">Crear</a>
        {% endif %}
    </div>
    <div class="col-lg-2 text-end">
        {% include "includes/record_nav.html" with detail_name='warehouse:movement_type_detail' list_name='warehouse:movement_type_list' prev=object.previous next=object.next %}
    </div>
</div>
<hr/>
<div class="card">
    <div class="card-body detail-list">
        <div class="row">
            <div class="col-lg-7">
                <h3>{{ object.description }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group"></div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#general">Información
                General</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#contabilidad">Contabilidad</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade show active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>CODIGO:</label>
                        <p>{{ object.code }}</p>
                        <label>INCREMENTA:</label>
                        {% if object.increases %}
                        <p>SI</p>
                        {% else %}
                        <p>NO</p>
                        {% endif %}
                        <label>PIDE REFERENCIA:</label>
                        {% if object.requires_reference %}
                        <p>SI</p>
                        {% else %}
                        <p>NO</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <label>CODIGO SUNAT:</label>
                        <p>{{ object.sunat_code }}</p>
                        <label>ES COMPRA:</label>
                        {% if object.is_purchase %}
                        <p>SI</p>
                        {% else %}
                        <p>NO</p>
                        {% endif %}
                        <label>ES VENTA:</label>
                        {% if object.is_sale %}
                        <p>SI</p>
                        {% else %}
                        <p>NO</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label> {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="contabilidad" class="tab-pane fade">
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %}
