{% extends "warehouse/base_warehouse.html" %}
{% block cuerpo %}
<h3>Reproceso Precio</h3>
<form role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Reprocesar">
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Almacén:</label>
                        {% if form.warehouse.errors %}
                        {% for error in form.warehouse.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.warehouse }}
                    </div>
                    <div class="col-md-4">
                        <label>Desde:</label>
                        {% if form.start_date.errors %}
                        {% for error in form.start_date.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.start_date }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">SELECCIONE : </label>
                        {% if form.selection.errors %}
                        {% for error in form.selection.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.selection }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">Codigo de Producto: </label>
                        {% if form.product.errors %}
                        {% for error in form.product.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.product }}
                    </div>
                    <div class="col-md-8">
                        <label for="description">Descripcion de Producto: </label>
                        {% if form.description.errors %}
                        {% for error in form.description.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock cuerpo %}

{% block js %}
<script>
$("#id_start_date").datepicker();
$("#id_description").autocomplete({
  	source: function( request, response ) {
    $.ajax({
      url: "{% url 'productos:product_description_search' %}",
      data: {'description': $("#id_description").val(), 'search_type': 'PRODUCTOS'},
      success: function( data ) 
      {
          response( data );
      }
    });
  },
  minLength: 2,
  select: function( event, ui ) 
  {
	$("#id_product").val(ui.item.code);	
	return false;
  },
});

$("input[name=selection]").change(function () 
{	 
	if($(this).val()=='T')
	{
		$("input[name=product]").attr("disabled",true);
		$("input[name=description]").attr("disabled",true);
	}
	else
	{
		$("input[name=product]").attr("disabled",false);
		$("input[name=description]").attr("disabled",false);	
	}
});


</script>
{% endblock js %}