{% extends "warehouse/base_warehouse.html" %}
{% block cuerpo %}
<h3>Consulta Stock</h3>
<form id="stock-query" role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <button type="button" class="btn btn-primary" id="id_buscar"
                    hx-get="{% url 'warehouse:product_stock_rows' %}"
                    hx-include="#stock-query"
                    hx-target="#stock-results">Consultar</button>
            <input type="submit" class="btn btn-primary" name="submit" value="Exportar">
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Almacén:</label>
                        {% if form.warehouse.errors %}
                        {% for error in form.warehouse.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.warehouse }}
                    </div>
                    <div class="col-md-4">
                        <label>Al:</label>
                        {% if form.start_date.errors %}
                        {% for error in form.start_date.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.start_date }}
                    </div>
                </div>
            </div>
            <div class="form-group"
                 x-data="productSearch({url: '{% url 'products:product_description_search' %}',
                                        term: '{{ form.description.value|default:''|escapejs }}',
                                        code: '{{ form.product.value|default:''|escapejs }}'})"
                 @click.outside="close">
                <div class="row">
                    <div class="col-md-3">
                        <label for="id_product">Codigo de Producto: </label>
                        <input type="text" id="id_product" name="product"
                               class="form-control" readonly x-model="code">
                    </div>
                    <div class="col-md-9">
                        <label for="id_description">Descripcion de Producto: </label>
                        <input type="text" id="id_description" name="description"
                               class="form-control" autocomplete="off"
                               x-model="term" @input.debounce.300ms="search" @focus="search">
                        <ul class="list-group" x-show="open" x-cloak
                            style="position:absolute; z-index:1000; max-height:250px; overflow-y:auto;">
                            <template x-for="item in results" :key="item.code">
                                <li class="list-group-item" style="cursor:pointer"
                                    @click="select(item)" x-text="item.label"></li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
            <div id="stock-results"></div>
        </div>
    </div>
</form>
{% endblock cuerpo %}

{% block js %}
<script>
</script>
{% endblock js %}
