{% extends "warehouse/base_warehouse.html" %}
{% block cuerpo %}
{% if object %}
<h3>Movimientos / {{ movement.movement_id }}</h3>
{% else %}
<h3>Movimientos / Nueva Salida de Almacen</h3>
{% endif %}
<form role="form" method="post">
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            <button type="button" class="btn btn-default" onclick="location.href='{% url 'warehouse:outbound_list' %}'">
                Cancelar
            </button>
        </div>
        <div class="col-lg-2 text-right">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'warehouse:movement_update' movement.previous %}';">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'warehouse:movement_update' movement.next %}';">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                {% endif %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'warehouse:outbound_list' %}';">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="panel panel-primary">
        <div class="panel-body">
            {% csrf_token %}
            {% if object %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Id Movimiento:</label>
                        <p>{{ object.movement_id }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Tipo de Salida:</label>
                        {% if form.movement_type.errors %}
                        {% for error in form.movement_type.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.movement_type }}
                    </div>
                    <div class="col-md-3">
                        <label>Almacén:</label>
                        {% if form.warehouse.errors %}
                        {% for error in form.warehouse.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.warehouse }}
                    </div>
                    <div class="col-md-3">
                        <label>Fecha:</label>
                        {% if form.date.errors %}
                        {% for error in form.date.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.date }}
                    </div>
                    <div class="col-md-3">
                        <label>Hora:</label>
                        {% if form.time.errors %}
                        {% for error in form.time.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.time }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Oficina a atender:</label>
                        {% if form.office.errors %}
                        {% for error in form.office.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.office }}
                    </div>
                    <div class="col-md-2">
                        <label>DNI Receptor:</label>
                        {% if form.receiver_dni.errors %}
                        {% for error in form.receiver_dni.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.receiver_dni }}
                    </div>
                    <div class="col-md-7">
                        <label>Receptor:</label>
                        {% if form.receiver.errors %}
                        {% for error in form.receiver.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.receiver }}
                    </div>

                </div>
            </div>
            <div class='form-group'>
                <div class="row">
                    <div class="col-md-3">
                        <label>DOC. REFER:</label>
                        {% if form.document_type.errors %}
                        {% for error in form.document_type.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.document_type }}
                    </div>
                    <div class="col-md-3">
                        <label>SERIE:</label>
                        {% if form.series.errors %}
                        {% for error in form.series.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.series }}
                    </div>
                    <div class="col-md-3">
                        <label>NUMERO:</label>
                        {% if form.number.errors %}
                        {% for error in form.number.errors %}
                        {% include "includes/error.html" %}
                        {% endfor %}
                        {% endif %}
                        {{ form.number }}
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2">
                    <div class='form-group'>
                        <button id="crear_detalle" href="#" class="btn btn-info btn-block">
                            <span class="glyphicon glyphicon-plus">AGREGAR</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table id="details" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID Producto</th>
                            <th>Producto</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Valor</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody id="details-body">
                        {% include "warehouse/includes/outbound_detail_formset.html" %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table id="total_table" class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td WIDTH="50">
                            </td>
                            <td WIDTH="590">

                            </td>
                            <td WIDTH="50">
                                TOTAL
                            </td>
                            <td>
                                {{ form.total }}
                            </td>
                            <td WIDTH="80">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>OBSERVACIONES:</label>
                    {{ form.notes }}
                </div>
            </div>
            <div id="popup"></div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form.details_count }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}

{% block js %}
<script>
$(document).ready(function() 
{
	var total=parseFloat($('#id_total').val());
	var contDetalles = $("#id_form-TOTAL_FORMS").val();
	var ultimo_item = contDetalles;
	var tipo_salida;	
	$("#id_date").datepicker();
	$('#id_time').wickedpicker({now: mostrarhora(), twentyFour: true, title:'Hora de Salida', showSeconds: true});
	$("#id_movement_type").on('change',verificar_tipo_salida);

	function verificar_tipo_salida()
	{
		$('#id_receiver_dni').prop("readonly", false);
		$('#id_receiver').prop("readonly", false);
	}

	$("#id_receiver_dni").keyup(function()
	{
		var dni=$("#id_receiver_dni").val();
		var movement_type = $("#id_movement_type").val();
		if(dni.length==8)
		{
			$.ajax({
		      url: "{% url 'administration:receiver_dni_search' %}",
		      data: {'dni': dni, 'movement_type':movement_type},
		      success: function(data)
		      {
		    	  $("#id_receiver").val(data.full_name);
		    	  event.preventDefault();
		      }
		    });
		}
	});

	productAutocomplete(document.getElementById('id_receiver'), {
		url: "{% url 'administration:receiver_name_search' %}",
		sourceField: 'receiver',
		fields: {receiver_dni: 'dni', receiver: 'label'},
		query: function (input) {
			return {
				name: input.value,
				movement_type: document.getElementById('id_movement_type').value,
			};
		},
	});
		
	$(document).on("click",".eliminar",function()
	{
		var parent = $(this).parent().parent();
		var id_boton= $(this).prop('id');
		var id = id_boton.replace("btn-borrar","");
		var amount = $("#"+id+"amount").val();
		total = total - parseFloat(amount);
		$(parent).remove();
		$("#id_total").val(total.toFixed(5));
		contDetalles = contDetalles - 1;
		$("#id_form-TOTAL_FORMS").val(contDetalles);
		updateFormElementIndices('outbound_detail_formset');
	});
    
	$('#crear_detalle').click(function(e)
	{
		e.preventDefault();
		var alm=$('#id_warehouse').val().trim();
		if(alm != '') 
		{			
			var index = parseInt($('#id_form-TOTAL_FORMS').val()) || 0;
			htmx.ajax('GET', "{% url 'warehouse:outbound_detail_row' %}", {
				target: '#details-body', swap: 'beforeend', values: {index: index}
			}).then(function () {
				contDetalles = index + 1;
				$('#id_form-TOTAL_FORMS').val(contDetalles);
				initProductAutocomplete(document, {url: "{% url 'warehouse:product_warehouse_search' %}", warehouseInput: '#id_warehouse'});
				$(".decimal").keydown(validar_decimales);
			});
		}
		else
		{
			alert("Previamente debe haber seleccionado el almacén");
		}
 	});
 	
	
	$(document).on("keyup",".quantity",function()
	{
		var quantity = 0;
		var price = 0;
		var amount = 0;
		var valorTemp = 0;
		var id_product = $(this).prop('id');
		var id = id_product.replace("quantity", "");
		$.ajax({
	      url: "{% url 'warehouse:stock_query' %}",
	      data: {
	    	  'warehouse': $("#id_warehouse").val(),
	    	  'code': $("#"+id+"code").val()
	   	  },
	      success: function(data) 
	      {
	    	  valorTemp = $("#"+id+"amount").val();
			  quantity = $("#"+id+"quantity").val();
			  if(quantity=='')
			  {
				  quantity=0;
				  $("#"+id+"quantity").val(quantity);
			  }			
			  if(quantity > data.stock)
	          {
	        	  alert("La cantidad ingresada es mayor que el stock");
	        	  $("#"+id+"quantity").val(data.stock);
	          }
	    	  price = $("#"+id+"price").val();
	    	  amount = parseFloat(price) * parseFloat(quantity);
	    	  $("#"+id+"amount").val(amount.toFixed(5));
	    	  total = total - valorTemp + amount;
			  $("#id_total").val(total.toFixed(5));
	      }
	    });
	});	
	
	$("form").submit(function(event) 
	{
		var cont=0;
		tipo_salida = $('#id_movement_type').val();
		$('#id_details_count').val(ultimo_item);
		var warehouse = $('#id_warehouse').val().trim();
		var date = $('#id_date').val().trim();
		var document_type;
		var series;
		var number;
		if(tipo_salida != '') 
		{			
			if(warehouse != '') 
			{			
				if(date != '')
				{					
					if (contDetalles > 0)
					{
						return;
					}
					else
					{
						alert("No ha ingresado ningún detalle");	
					}
				}
				else
				{
					alert("No ha seleccionado date");
				}
			}
			else
			{
				alert("No ha seleccionado almacén");
			}
		}
		else
		{
			alert("No ha seleccionado tipo de salida");
		}		
		event.preventDefault();
	});
});

</script>
{% endblock js %}