{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="TamboxApp">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<title>TAMBOX</title>
		{% include 'recursos/styles.html' %}
	</head>
	<body>
		<div id="wrapper" class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top navegacion-top row" role="navigation">
				<div class="position-relative">
					<div class="container-fluid" >
						<div class="navbar-header">
							<!--Botón menú responsive-->
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Desplegar navegación</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!--End Botón menú responsive-->
							<a class="navbar-brand" href="{% url 'seguridad:inicio' %}"><span>Tambox</span></a>
							<!--Boton menu-usuario-->
							<ul class="user-menu">
								<li class="dropdown pull-right">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg><span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Cuenta</a></li>
										{% if user.is_staff %}
										<li><a href="{% url 'admin:index' %}"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Administración global</a></li>
										{% endif %}
										<li><a href="{% url 'seguridad:salir' %}"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Salir</a></li>
									</ul>
								</li>
							</ul>
							<!--Fin boton menu-usuario-->
							<!--Boton menu-notificaciones-->
							<ul class="user-menu">
								<li class="dropdown pull-right">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"/></svg><span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li class="dropdown">
												<a class="dropdown-toggle" data-toggle="dropdown" href="#">
													<i class="fa fa-bell fa-fw"></i>
													<i class="fa fa-caret-down"></i>
												</a>
											</li>
									</ul>
								</li>
							</ul>
							<!--Fin boton menu-usuario-->
						</div>
					</div><!-- /.container-fluid -->
					<nav class="navbar-inverse navbar-static-top collapse navbar-collapse main-menu" role="navigation" style="margin-bottom: 0" ng-controller="NavegacionController" >
					<div class="container-fluid">
						<div class="navbar-header">
							<!--Lista dependiente de Botón menú responsive-->
							<div class="">
								<ul class="nav navbar-bar col-xs-12 col-sm-12 col-md-12 col-lg-12 ul-main-menu">
									{% if perms.administracion.ver_bienvenida %}
									<li class="col-xs-7 col-sm-6 col-md-3 col-lg-3">

										<a class="navbar-brand" href="#/administracion">
											<span class="fa fa-area-chart fa-lg"></span> Administración
										</a>
									</li>
									{% endif %}
									{% if perms.almacen.ver_bienvenida %}
									<li class="col-xs-7 col-sm-6 col-md-2 col-lg-2 ">
										<a class="navbar-brand" href="{% url 'almacen:tablero' %}">
											<span class="fa fa-building fa-lg"></span> Almacén
										</a>
									</li>
									{% endif %}
									{% if perms.compras.ver_bienvenida %}
									<li class="col-xs-7 col-sm-6 col-md-2 col-lg-2">
										<a class="navbar-brand" href="{% url 'compras:tablero' %}">
											<span class="fa fa-shopping-cart fa-lg"></span> Compras
										</a>
									</li>
									{% endif %}
									{% if perms.contabilidad.ver_bienvenida %}
									<li class="col-xs-7 col-sm-6 col-md-3 col-lg-2 contabilidad">
										<a class="navbar-brand" href="{% url 'contabilidad:tablero' %}">
											<span class="fa fa-calculator fa-lg"></span> Contabilidad
										</a>
									</li>
									{% endif %}
									{% if perms.requerimientos.ver_bienvenida %}
									<li class="col-xs-7 col-sm-6 col-md-3 col-lg-3">
										<a class="navbar-brand" href="{% url 'requerimientos:tablero' %}">
											<span class="fa fa-newspaper-o fa-lg"></span> Requerimientos
										</a>
									</li>
									{% endif %}
								</ul>
							</div>
							<!--Fin lista dependiente de Botón menú responsive-->
						</div>
					</div>
		    	</nav>
				</div>
				<!--Menú lateral-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenido position-absolute">
	                <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" style="padding-left:20px;">
                        <section app-view-segment="0">Seccion</section>
                    </div>
                </div>
				<!--/.Fin Menu lateral-->
			</nav>
		</div>
        <!--Contenido-->
        <div class="container">
            <div class='col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main row'>
                <br>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='panel panel-default' style="padding:20px;" app-view-segment="1">
                            <section  class="row">Seccion</section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin Contenido-->
        {% include 'recursos/scripts.html' %}
	</body>
</html>