{% extends "administration/base_administration.html" %} {% block cuerpo %}
{% if object %}
<h3>Puestos / {{ object.name }}</h3>
{% else %}
<h3>Puestos / Nuevo</h3>
{% endif %}
<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'administration:position_detail' object.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'administration:position_list' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-right">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'administration:position_update' object.previous %}';">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'administration:position_update' object.next %}';">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                {% endif %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'administration:position_list' %}';">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-7">
                    <label>Descripción:</label>
                    {% if form.name.errors %}
                    {% for error in form.name.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <h3>{{ form.name }}</h3>
                </div>
                <div class="col-lg-5">
                    <div class="btn-group"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <p>ES JEFATURA: {{ form.is_leadership }}</p>
                </div>
                <div class="col-lg-3">
                    <p>ES ASISTENTE: {{ form.is_assistant }}</p>
                </div>
            </div>
            <br>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#general">Información General</a></li>
            </ul>
            <div class="tab-content">
                <div id="general" class="tab-pane fade in active">
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>TRABAJADOR:</label>
                            {% if form.worker.errors %}
                            {% for error in form.worker.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            {{ form.worker }}
                            <label>OFICINA:</label>
                            {% if form.office.errors %}
                            {% for error in form.office.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            {{ form.office }}
                            <label>FECHA INICIO:</label>
                            {% if form.start_date.errors %}
                            {% for error in form.start_date.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            {{ form.start_date }}
                        </div>
                        <div class="col-lg-4">
                            <label>FECHA FIN:</label>
                            {% if form.end_date.errors %}
                            {% for error in form.end_date.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            {{ form.end_date }}
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %} {% block js %}
<script>
	$(document).ready(function() {
		$("#id_start_date").datepicker();
		$("#id_end_date").datepicker();
	});

</script>
{% endblock js %}
