{% extends "administration/base_administration.html" %}
{% block cuerpo %}
<h3>Puestos / Importar un archivo</h3>
<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <input type="submit" class="btn btn-primary" name="submit" value="Importar">
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'administration:position_list' %}'">
                Cancelar
            </button>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            {% csrf_token %}
            <div class="form-group">
                <label>Selecciona un archivo:</label>
                {{ form.file }}
                <p class="help-block">El archivo debe estar en formato CSV, separado por comas, sin encabezados</p>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
