{% extends "base.html" %}
{% block menu %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-wrench fa-lg"></i> Configuración<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% if perms.administracion.ver_tabla_niveles_aprobacion %}
                    <li><a href="{% url 'administracion:maestro_niveles_aprobacion' %}">Niveles de Aprobacion</a></li>
                    {% endif %}
                    {% if perms.administracion.ver_tabla_oficinas %}
                    <li><a href="{% url 'administracion:maestro_oficinas' %}">Oficinas</a></li>
                    {% endif %}
                    {% if perms.administracion.ver_tabla_profesiones %}
                    <li><a href="{% url 'administracion:maestro_profesiones' %}">Profesiones</a></li>
                    {% endif %}
                    {% if perms.administracion.ver_tabla_productores %}
                    <li><a href="{% url 'administracion:maestro_productores' %}">Productores</a></li>
                    {% endif %}
                    {% if perms.administracion.ver_tabla_puestos %}
                    <li><a href="{% url 'administracion:maestro_puestos' %}">Puestos</a></li>
                    {% endif %}
                    {% if perms.administracion.ver_tabla_trabajadores %}
                    <li><a href="{% url 'administracion:maestro_trabajadores' %}">Trabajadores</a></li>
                    {% endif %}

                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-sort"></i> Operaciones<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-stats"></i> Reportes<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                </ul>
            </li>
        </ul>
    </div>
</div>

{% endblock menu %}