{% extends "administracion/base_administracion.html" %}
{% block cuerpo %}
<h3>Profesiones / {{ object.descripcion }}</h3>
<div class="row">
    <div class="col-lg-10"> 
        {% if perms.administracion.change_profesion %}
        <a class="btn btn-primary" href="{% url 'administracion:modificar_profesion' object.pk %}">
            Editar
        </a>
        {% endif %}
        {% if perms.administracion.delete_profesion %}
            <button class="btn btn-danger" type="button" id="id_eliminar">
                Eliminar
            </button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">                        
            <button class="btn btn-default" type="button" onclick="location.href='{% url 'administracion:detalle_profesion' object.anterior %}';">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default" type="button" onclick="location.href='{% url 'administracion:detalle_profesion' object.siguiente %}';">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button class="btn btn-default" type="button" onclick="location.href='{% url 'administracion:maestro_profesiones' %}';">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>           
        </div>
    </div>
</div>
<hr />
<div id="dialog-confirm" title="Eliminar profesion"></div>
	<div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>{{ object.descripcion }}</h3>       
                    </div>
                    <div class="col-lg-5">
                        <div class="btn-group">                        
                                       
                        </div>
                    </div>                  
                </div>
                <br>    
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#general">Información General</a></li>                                       
                </ul>                   
                <div class="tab-content">
                    <div id="general" class="tab-pane fade in active">
                        <br>
                        <div class="row">
                            <div class="col-lg-4">                                  
                                <label>ABREVIATURA:</label>
                                <p>{{ object.abreviatura }}</p>                                
                            </div>
                            <div class="col-lg-4">                              
                                                                                              
                            </div>
                            <div class="col-lg-4">
                                <label>FECHA REGISTRO: </label>
                                <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                                <label>FECHA MODIFICACIÓN: </label>
                                <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                                <label>ESTADO: </label>
                                {% if object.estado %}
                                <p>ACTIVO</p>
                                {% else %}
                                <p>INACTIVO</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>              
        </div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{
    $('#id_eliminar').click(function(e)
    {
        e.preventDefault();
        ventana = $( "#dialog-confirm" ).dialog({
          resizable: false,
          height:140,
          modal: true,
          buttons: 
          {
            "Borrar": borrarProducto,
            "Cancelar": cerrarBorrarProducto
          }
        });     
    });
       
    function borrarProducto()
    {
        $.ajax({
            data : {'codigo': "{{ object.codigo }}"},
            url : "{% url 'compras:eliminar_producto' %}",
            type : 'get',
            success : function(data)
            {
                if(data.relaciones=='NO')
                {
                    alert("Producto "+data.descripcion+ " eliminado");                  
                }
                else if(data.relaciones=='SI')
                {
                    alert("Producto "+data.descripcion+" no puede eliminarse"); 
                }               
            }
        });
        ventana.dialog("close");
    }
       
    function cerrarBorrarProducto()
    {
        ventana.dialog("close");
    }
});
</script>
{% endblock js %}