<div class="row">
    <div class="col-lg-10">
        {% if perms.administracion.change_producer %} <a
            class="btn btn-primary"
            href="{% url 'administracion:modificar_productor' object.pk %}">
        Editar </a> {% endif %} {% if perms.administracion.delete_producer %}
        <button class="btn btn-danger" type="button" id="id_eliminar">
            Eliminar
        </button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            <button class="btn btn-default" type="button"
                    onclick="return abrir_modal('{% url 'administracion:detalle_productor' object.anterior %}','Producer / {{ object.anterior_nombres_apellidos }}');">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="return abrir_modal('{% url 'administracion:detalle_productor' object.siguiente %}','Producer / {{ object.siguiente_nombres_apellidos }}');">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'administracion:maestro_productores' %}';">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </div>
</div>
<hr/>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
                <a href="{{ object.photo.url }}" class="thumbnail"> <img src="{{ object.photo.url }}" alt="Foto Producer"
                                                                        style="width: 120px; height: 90px">
                </a>
            </div>
            <div class="col-lg-5">
                <h3>{{ object.nombre_completo }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group"></div>
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Información
                General</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>DNI:</label>
                        <p>{{ object.dni }}</p>
                        <label>APELLIDOS:</label>
                        <p>{{ object.last_name }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>NOMBRES:</label>
                        <p>{{ object.first_name }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label> {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>