{% extends "administracion/base_administracion.html" %} {% block cuerpo %}
<h3>Puestos / {{ object.name }}</h3>
<div class="row">
    <div class="col-lg-10">
        {% if perms.administracion.change_position %}
        <a class="btn btn-primary" href="{% url 'administracion:position_update' object.pk %}">
            Editar </a>
        {% endif %}
        {% if perms.administracion.delete_position %}
        <button class="btn btn-danger" type="button" id="id_eliminar">
            Eliminar
        </button>
        {% endif %}
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group">
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'administracion:position_detail' object.anterior %}';">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'administracion:position_detail' object.siguiente %}';">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button class="btn btn-default" type="button"
                    onclick="location.href='{% url 'administracion:position_list' %}';">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </div>
</div>
<hr/>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-7">
                <h3>{{ object.name }}</h3>
            </div>
            <div class="col-lg-5">
                <div class="btn-group"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {% if object.is_leadership %}
                <p>ES JEFATURA</p>
                {% else %}
                <p>NO ES JEFATURA</p>
                {% endif %}
            </div>
            <div class="col-lg-3">
                {% if object.is_assistant %}
                <p>ES ASISTENTE</p>
                {% else %}
                <p>NO ES ASISTENTE</p>
                {% endif %}
            </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Información General</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label>TRABAJADOR:</label>
                        {% if object.worker %}
                        <p><a href="{% url 'administracion:worker_detail' object.worker.pk %}">{{
                            object.worker }}</a></p>
                        {% else %}
                        <p>NINGUNA</p>
                        {% endif %}
                        <label>OFICINA:</label>
                        {% if object.office %}
                        <p><a href="{% url 'administracion:office_detail' object.office.pk %}">{{ object.office
                            }}</a></p>
                        {% else %}
                        <p>NINGUNA</p>
                        {% endif %}
                        <label>FECHA INICIO:</label>
                        <p>{{ object.start_date|date:"d/m/y" }}</p>
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA FIN:</label>
                        {% if object.end_date %}
                        <p>{{ object.end_date|date:"d/m/y" }}</p>
                        {% else %}
                        <p>--</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <label>FECHA REGISTRO: </label>
                        <p>{{ object.created|date:"d/m/Y h:i:s" }}</p>
                        <label>FECHA MODIFICACIÓN: </label>
                        <p>{{ object.modified|date:"d/m/Y h:i:s" }}</p>
                        <label>ESTADO: </label> {% if object.is_active %}
                        <p>ACTIVO</p>
                        {% else %}
                        <p>INACTIVO</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %} 