{% extends "administracion/base_administracion.html" %} {% block cuerpo %}
<h3>Puestos / {{ object.nombre }}</h3>
<form role="form"
	action="{% url 'administracion:modificar_puesto' object.pk %}"
	method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-lg-10">
			<input type="submit" class="btn btn-primary" name="submit"
				value="Guardar">
			<button type="button" class="btn btn-default"
				onclick="location.href='{% url 'administracion:detalle_puesto' object.pk %}'">
				Cancelar</button>
		</div>
		<div class="col-lg-2 text-right">
			<div class="btn-group">
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'administracion:modificar_puesto' object.anterior %}';">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'administracion:modificar_puesto' object.siguiente %}';">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='{% url 'administracion:maestro_puestos' %}';">
					<span class="glyphicon glyphicon-th-list"></span>
				</button>
			</div>
		</div>
	</div>
	<hr />
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-7">
					<label>Nombre:</label>
					<h3>{{ form.nombre }}</h3>
					<p>ES JEFATURA: {{ form.es_jefatura }}</p>
				</div>
				<div class="col-lg-5">
					<div class="btn-group"></div>
				</div>
			</div>
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#general">Información
						General</a></li>
			</ul>
			<div class="tab-content">
				<div id="general" class="tab-pane fade in active">
					<br>
					<div class="row">
						<div class="col-lg-4">
							<label>TRABAJADOR:</label> 
							{{ form.trabajador }} 
							<label>OFICINA:</label>
							{{ form.oficina }} 
							<label>FECHA INICIO:</label> 
							{{ form.fecha_inicio }}
						</div>
						<div class="col-lg-4">
							<label>FECHA FIN:</label> 
							{{ form.fecha_fin }}
						</div>
						<div class="col-lg-4"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock cuerpo %} {% block js %}
<script>
	$(document).ready(function() {
		$("#id_fecha_inicio").datepicker();
		$("#id_fecha_fin").datepicker();
	});
</script>
{% endblock js %}
