{% extends "administracion/base_administracion.html" %}
{% block cuerpo %}
{% if object %}
<h3>Niveles de Aprobación / Nuevo</h3>
{% else %}
<h3>Niveles de Aprobación / {{ object.description }}</h3>
{% endif %}
<form role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            {% if object %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'administracion:approval_level_detail' object.pk %}'">
                Cancelar
            </button>
            {% else %}
            <button type="button" class="btn btn-default"
                    onclick="location.href='{% url 'administracion:approval_level_list' %}'">
                Cancelar
            </button>
            {% endif %}
        </div>
        <div class="col-lg-2 text-right">
            <div class="btn-group">
                {% if object %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'administracion:approval_level_update' object.anterior %}';">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'administracion:approval_level_update' object.siguiente %}';">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                {% endif %}
                <button class="btn btn-default" type="button"
                        onclick="location.href='{% url 'administracion:approval_level_list' %}';">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-7">
                    <label>Descripción:</label>
                    {% if form.description.errors %}
                    {% for error in form.description.errors %}
                    {% include "includes/error.html" %}
                    {% endfor %}
                    {% endif %}
                    <h3>{{ form.description }}</h3>
                </div>
                <div class="col-lg-5">
                    <div class="btn-group"></div>
                </div>
            </div>
            <br>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#general">Información General</a></li>
            </ul>
            <div class="tab-content">
                <div id="general" class="tab-pane fade in active">
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>NIVEL SUPERIOR:</label>
                            {% if form.superior_level.errors %}
                            {% for error in form.superior_level.errors %}
                            {% include "includes/error.html" %}
                            {% endfor %}
                            {% endif %}
                            <p>{{ form.superior_level }}</p>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock cuerpo %}
