<h3>Oficinas</h3>
<div class="row">
	<div class="col-lg-10">
		{% if perms.administracion.add_oficina %}
		<a href="{% url 'administracion:crear_oficina' %}" class="btn btn-primary">
			Crear
		</a>												
		{% endif %}
		{% if perms.administracion.cargar_oficinas %}
		<a href="{% url 'administracion:cargar_oficinas' %}" class="btn btn-default">
			Importar
		</a>						
		{% endif %}
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			{% if perms.administracion.ver_reporte_oficinas_excel %}						
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'administracion:maestro_oficinas_excel' %}';">
           		<span class="glyphicon glyphicon-list-alt"></span>
			</button>
			{% endif %}	
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">CODIGO</th>
					<th class="text-center">NOMBRE</th>
					<th class="text-center">DEPENDENCIA</th>					
				</tr>
			</thead>							
			<tbody>
			{% for oficina in oficinas %}
				{% if perms.administracion.ver_detalle_oficina %}
				<tr onclick="location.href='{% url 'administracion:detalle_oficina' oficina.pk %}';">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ oficina.codigo }}</td>
					<td>{{ oficina.nombre }}</td>
					{% if oficina.dependencia %}
					<td>{{ oficina.dependencia }}</td>
					{% else %}
					<td>NINGUNA</td>
					{% endif %}					
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').dataTable( 
    {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        },        
    });
    
	$('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});
});
</script>