{% extends "administracion/base_administracion.html" %}
{% block cuerpo %}
<h3>Productores</h3>
<div class="row">
	<div class="col-lg-10">
		{% if perms.administracion.add_productor %}
		<a href="{% url 'administracion:crear_productor' %}" class="btn btn-primary">
			Crear
		</a>												
		{% endif %}
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			{% if perms.administracion.ver_reporte_productores_excel %}
			<button class="btn btn-default" type="button">
           		<span class="glyphicon glyphicon-list-alt"></span>
            </button>
			{% endif %}	
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">DNI</th>
					<th class="text-center">APELLIDO PATERNO</th>
					<th class="text-center">APELLIDO MATERNO</th>
					<th class="text-center">NOMBRE</th>					
				</tr>
			</thead>							
			<tbody>
			{% for productor in productores %}
				</tr>
					<td>{{ productor.dni }}</td>
					<td>{{ productor.apellido_paterno }}</td>
					<td>{{ productor.apellido_materno }}</td>
					<td>{{ productor.nombres }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>			
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	}); 
    
});
</script>
{% endblock js %}