{% extends "administracion/base_administracion.html" %}
{% block cuerpo %}
<h3>Profesiones</h3>
<div class="row">
	<div class="col-lg-10">
		{% if perms.administracion.add_profesion %}
		<a href="{% url 'administracion:crear_profesion' %}" class="btn btn-primary">
			Crear
		</a>												
		{% endif %}
		{% if perms.administracion.cargar_profesiones %}
		<a href="#" class="btn btn-default">
			Importar
		</a>						
		{% endif %}
	</div>
	<div class="col-lg-2 text-right">
		<div class="btn-group">    					   
			{% if perms.administracion.ver_reporte_profesiones_excel %}						
			<button class="btn btn-default" type="button" onclick="location.href='{% url 'administracion:reporte_excel_profesiones' %}';">
           		<span class="glyphicon glyphicon-list-alt"></span>
            </button>
			{% endif %}	
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">ABREV.</th>
					<th class="text-center">DESCRIPCIÓN</th>
				</tr>
			</thead>							
			<tbody>
			{% for profesion in profesiones %}
				{% if perms.administracion.ver_detalle_puesto %}
				<tr onclick="location.href='{% url 'administracion:detalle_profesion' profesion.pk %}';">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ profesion.abreviatura }}</td>
					<td>{{ profesion.descripcion }}</td>					
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#tabla tr').hover(function() 
	{
		$(this).css("cursor","pointer");
	});   
});
</script>
{% endblock js %}