{% extends "requerimientos/base_requerimientos.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Operaciones</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Aprobación de Requerimientos
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-7">

                        </div>
                        <div class="col-lg-1">
                            <a id="crear_detalle" href="#" class="btn btn-info btn-block">
                                <span class="glyphicon glyphicon-print"></span>
                            </a>
                        </div>
                        <div class="col-lg-1">
                            <a id="crear_detalle" href="#" class="btn btn-info btn-block">
                                <span class="glyphicon glyphicon-save"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="dialog-confirm" title="Eliminar Requerimiento"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th class="text-center">REQUERIMIENTO</th>
                                <th class="text-center">ESTADO</th>
                                <th class="text-center">APROBAR</th>
                                <th class="text-center">VER</th>
                                <th class="text-center">INFORME</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for aprobacion in aprobacion_requerimientos %}
                            <tr>
                                <td>{{ aprobacion.requerimiento }}</td>
                                <td>{{ aprobacion.nivel }}</td>
                                <td class="text-center">
                                    <a class="btn btn-small"
                                       href="{% url 'requerimientos:aprobar_requerimiento' aprobacion.pk %}">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-small"
                                       href="{% url 'requerimientos:detalle_requerimiento' aprobacion.requerimiento.pk %}">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                    </a>
                                </td>
                                <td>
                                    {% if aprobacion.requerimiento.informe %}
                                    <a class="btn btn-small" href="/media/{{ aprobacion.requerimiento.informe.url }}">
                                        <span class="glyphicon glyphicon-file"></span>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{	
    var table = $('#example').DataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
 
    $('#example tbody').on( 'click', 'tr', function() 
    {
    	if ($(this).hasClass('selected') ) 
        {        	
        	$(this).removeClass('selected');
            
        }
        else 
        {
	        table.$('tr.selected').removeClass('selected');
	        $(this).addClass('selected');
	        var orden_compra = $(this).find('td.sorting_1').text();
	        $('#orden_compra').val(orden_compra);           
        }
    }); 
    
});

</script>
{% endblock js %}