<script>
$(".entero").keydown(validar_numeros);
$("#id_nombre").autocomplete({
  	source: function( request, response ) {
    $.ajax({
      url: "{% url 'compras:busqueda_productos_descripcion' %}",
      data: {'descripcion': $("#id_nombre").val()},
      success: function( data ) 
      {
          response( data );
      }
    });
  },
  minLength: 2,
  select: function( event, ui ) 
  {
	$("#id_codigo").val(ui.item.codigo);
	alert(ui.item.unidad);
	$("#id_unidad").val(ui.item.unidad);
	return false;
  },
});
</script>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">			
			<div class="panel-body">
				<form role="form" action="#" method="post">
					{% csrf_token %}
					<div class="form-group">
						<div class="row">
							{{ form.codigo }}
							<div class="col-md-5">
								<label>Nombre:</label>		
								{{ form.nombre }}								
							</div>
							<div class="col-md-1">
								<label>Unidad:</label>		
								{{ form.unidad }}								
							</div>
							<div class="col-md-2">
								<label>Cant:</label>		
								{{ form.cantidad }}
							</div>
							<div class="col-md-4">
								<label>Uso:</label>		
								{{ form.uso }}
							</div>							
						</div>								
					</div>					
				</form>
			</div>
		</div>	
	</div>
</div>